@import 'vars';
@import 'mixins';


form.search-form {
   .input-group {
      input.form-control, button.btn {
         height: 40px;
         min-width: 45px;
      }

      button.btn-primary {
         background-color: $copper;
         border-color: $copper;

         &:active {
            background-color: darken($copper, 5%);
            border-color: darken($copper, 5%);
         }
      }
   }
}
