@import 'fonts';
@import 'vars';
@import 'mixins';


a.author {
   @include author-link;
}

.work {
   section.summary {
      h2 {
         display: none;
      }

      > .content {
         padding-left: 1.3em;
      }
   }

   .readonline {
      background-color: lighten(desaturate($copper, 20%), 20%);
      opacity: 0.5;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0.5em;
      color: #fff;
      line-height: 0;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;

      transition: opacity 300ms, background-color 300ms;

      &:hover {
         background-color: $copper;
      }
   }

   .edition, .volume {
      position: relative;
      padding-left: 3em;
      margin-left: -3em;

      &:hover .readonline {
         opacity: 1;
      }
   }

   .relationship .titleinfo {
      cursor: pointer;
   }
}

aside .work {
   > .authors {
      line-height: 1.2em;
      margin: 1em 0 1em 1em;
      list-style: none;
   }

   > .summary {
      margin: 1em 0;
   }
}
