@import 'fonts';
@import 'vars';
@import 'mixins';

.work {
   font-size: 0.9375em;

   h1, h2, h3, h4, h5, h6 {
      color: #292626;
      margin-top: 0;
      margin-bottom: 0.75em;
      text-transform: uppercase;
      font-weight: bold;
   }

   h1 {
      text-transform: none;
      font-family: CenturyStd;
      font-size: 2em;
      font-weight: normal;
   }

   h2 {
      font-size: 1.6em;
   }

   h3 {
      font-size: 1.1em;
      border-bottom: 1px solid #ccc;
      padding: 0.5em 0;
   }

   a.author {
      @include author-link;
   }

   section {
      margin-bottom: 1em;

      &.summary {
         h2 {
            display: none;
         }

         > .content {
            padding-left: 1.3em;
         }
      }
   }

   .readonline {
      display: none;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: $copper;
      padding: 0.5em;
      color: #fff;
      width: 32px;
      height: 32px;
      line-height: 0;
      border-radius: 4px;
      cursor: pointer;
   }

   .edition, .volume {
      position: relative;
      padding-left: 3em;
      margin-left: -3em;

      &:hover {
         &, & > .partition {
             > .readonline {
                display: block;
            }
         }
      }
   }
}

aside .work {
   font-size: 0.8em;

   h1, h2, h3, h4, h5, h6 {
      text-transform: none;
   }

   h2 {
      border-bottom: 1px solid #ccc;
   }

   h3 {
      border-bottom: 0;
      padding: 0;
      margin-bottom: 0.3em;
   }

   section.summary > .content {
      padding-left: 0;
   }

   .readonline {
      width: 24px;
      height: 24px;
   }

   .edition, .volume {
      padding-left: 2em;
      margin-left: -2em;
   }
}
