<md-content layout="column" layout-gt-md="row" flex class="article-preview">
  <div layout="row" layout-align="space-between" layout-gt-md="column" layout-align-gt-md="start" flex="none" flex-gt-md="33" flex-order-gt-md="2" layout-margin layout-padding>
    <div>
      <h1 class="article-title md-display-1">{{vm.article.title}}</h1>
      <p class="author-info" ng-if="vm.article.authors && vm.article.authors.length > 0">
        by
        <span class="author" ng-repeat="author in vm.article.authors">
          <a ng-if="author.contact.email" href="mailto:{{author.contact.email}}">{{author.name}}</a>
          <span ng-if="!author.contact.email">{{author.name}}</span>
        </span>
      </p>
    </div>
    <div>
      <md-button class="md-accent md-raised" ui-sref="article({id: vm.article.id})">
        Read Full Article
      </md-button>
    </div>
  </div>
  <div layout-gt-md="column" flex-gt-md="66" flex-order-gt-md="1" layout-margin layout-padding>
    <section class="abstract" ng-if="vm.article.abstract" layout="row" layout-align="center" flex="none">
      <div ng-bind-html="vm.article.abstract"></div>
    </section>
    <div layout="row" layout-align="end" flex="none" hide-gt-md>
      <md-button class="md-accent md-raised" ui-sref="article({id: vm.article.id})">
        Read Full Article
      </md-button>
    </div>
  </div>
</md-content>
