.summary {
  &:active, &:focus {
    outline: 0;
  }

  &.collapsed {
    max-height: 12em;
    position: relative;
    overflow: hidden;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to bottom, rgba(#f0f3f0, 0), rgba(#f0f3f0, 1));
    }
  }
}
