ol.results {
   margin: 0;
   padding: 0;
   list-style: none;

   li {
      padding-left: 2em;
      text-indent: -2em;
      margin-bottom: 1em;

      &.active {
         color: $copper;
      }

      a {
         color: inherit;
         text-decoration: none;
         font-weight: bold;
      }

      p {
         margin: 0;
         padding-left: 1em;
      }
   }
}
