<div layout="column">
  <div layout="row" flex="none">
    <md-input-container flex>
      <label>search</label>
      <md-icon>search</md-icon>
      <input type="search" ng-model="$ctrl.query" ng-model-options="{debounce: 300}" ng-change="$ctrl.search($ctrl.query)">
    </md-input-container>
  </div>

  <div ng-if="$ctrl.loading" flex layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div ng-if="!$ctrl.loading && (!$ctrl.results || $ctrl.results.articles.length == 0)" layout="row" layout-padding>
    <p>Nothing found.</p>
  </div>

  <md-list layout="column" ng-if="!$ctrl.loading && $ctrl.results && $ctrl.results.articles.length > 0">
    <md-list-item ng-repeat="article in $ctrl.results.articles" ng-click="$ctrl.onClickArticle({$event: $event, article: article})">
      <span class="md-list-item-text">{{article.title}}</span>
    </md-list-item>
  </md-list>
</div>
