.section--work {
   position: relative;

   .summary .content {
      margin: 0 2em 2em;
   }

   .readonline {
      background-color: lighten(desaturate($copper, 20%), 20%);
      opacity: 0.5;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0.5em;
      color: #fff;
      line-height: 0;
      border-radius: 4px;
      text-align: center;

      transition: opacity 300ms, background-color 300ms;

      &:hover {
         background-color: $copper;
      }
   }

   section.edition, section.volume {
      position: relative;
      padding: 0 0 0 2.5em;
      margin: 1rem 0 1rem -2.5em;

      &:hover .readonline {
         opacity: 1;
      }
   }
}
