/*  Bibliography  */

.section--bibliography {
    line-height: 1.6;
    .panel-title {
        text-transform: none;
    }
    .interior {
        @extend %clearfix;
    }
}

.book {
    h2, h3, h4, h5, h6 {
        color: black;
        @extend %AvenirLTStd-Heavy;
        margin-top: 0;
        text-transform: uppercase;
    }
    h3, h4, h5, h6 {
        border-bottom: 1px solid #ccc;
        padding: 0.5rem 0 0.5rem 0;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.1em;
    }
    h4 {
        font-size: 1.1em;
        font-size: 1em;
    }
    h5 {
        font-size: 0.9em;
    }
    h6 {
        font-size: 0.9em;
    }
}

.author {
    @extend %AvenirLTStd-Heavy;
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;

    &.disabled {
        @include link-disabled;
    }
}

.work {
    font-size: 0.9375em;
    .citation, &>.summary, .editions {
        margin-left: 0;
    }
}

.work section {
    margin-bottom: 1rem;
    margin-left: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}

.nav-panel {
    margin-top: 4rem;
    h3 {
        background-color: #e8e7e3;
        background-color: rgba(164,113,64,1);
        color: white;
        @extend %AvenirLTStd-Heavy;
        font-size: 0.9275em;
        margin-top: 0;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
    }
    a {
        text-decoration: none;
    }
}

section.summary > .content {
    padding-left: 20px;
}

@media only all and (min-width: 60em) {
    .nav-panel {
        float: left;
        margin-right: 5%;
        margin-top: 0;
        width: 25%;
    }
    .book.work {
        float: right;
        width: 70%;
    }
}

.panel-title {
    background-color: #efefef;
    border-bottom: 0 !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    &:after {
        right: 0.5rem;
    }
}

.panel-body {
    margin-bottom: 2rem;
    padding-left: 0.5rem;
}

.cover {
    overflow: hidden;
    position: relative;
    p {
        margin-top: 0;
    }
}

.cover-expand {
    display: none;
}
