.section--resources {
    background-color: #f2f2f0;

    .container {
        @media only all and (min-width: 64em) {
            display: table;
            height: 100%;
            table-layout: fixed;
            width: 100%;
        }

        .module-wrapper {
            @media only all and (min-width: 64em) {
                display: table-row;
                height: 100%;
            }

            .buckets {
                @extend %clearfix;

                @media only all and (min-width: 64em) {
                    display: table-cell;
                    position: relative;
                    vertical-align: top;
                    width: 300px;
                }

                .wrapper {
                    @media only all and (min-width: 31em) {
                        display: table;
                        width: 100%;
                    }

                    @media only all and (min-width: 64em) {
                        align-content: center;
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        height: 100%;
                        justify-content: center;
                    }

                    .bucket {
                        background-color: #b88554;
                        background-size: cover !important;
                        border-bottom: 1px solid #a47140;

                        color: #fff;
                        cursor: pointer;
                        display: block;
                        line-height: 1.8;
                        overflow: hidden;
                        padding: 1.5rem;
                        text-decoration: none;

                        @media only all and (min-width: 31em) {
                            border: 0;
                            border-right: 1px solid #a47140;
                            display: table-cell;
                            vertical-align: middle;
                            &:last-child {
                                border-right: 0;
                            }
                        }

                        @media only all and (min-width: 40em) {
                            padding-left: 2rem;
                            padding-right: 2rem;
                        }

                        @media only all and (min-width: 60em) {
                            padding-left: 3rem;
                            padding-right: 3rem;
                        }

                        @media only all and (min-width: 64em) {
                            border-bottom: 1px solid #a47140;
                            border-right: 0;
                            display: flex;
                            flex: 1;
                            flex-direction: column;
                            justify-content: center;

                            &:last-child {
                                border-bottom: 0;
                            }
                        }

                        &:last-child {
                            border-bottom: 0;
                        }

                        &:hover, &:focus, &:active {
                            text-decoration: none;
                        }

                        &.flex-active {
                            background-color: #a47140;
                        }

                        h3 {
                            color: #fff;
                            @extend %AvenirLTStd-Heavy;
                            font-size: 1em;
                            line-height: 1.2;
                            text-transform: uppercase;
                            margin-bottom: 0;
                        }

                        p { font-size: 0.9em; }

                        .more { margin-top: 2rem; }

                        .more-link {
                            background: transparent url(../img/arrow-long-white.png) no-repeat 0 0;
                            display: block;
                            height: 7px;
                            overflow: hidden;
                            text-indent: 100%;
                            white-space: nowrap;
                            width: 84px;
                        }
                    }
                }
            }

            .modules {
                @media only all and (min-width: 64em) {
                    display: table-cell;
                    vertical-align: top;
                }

                .module {
                    .controls {
                        background-color: #e8e7e3;
                        @extend %AvenirLTStd-Heavy;
                        text-transform: uppercase;

                        font-size: .9em;

                        @media only all and (min-width: 50em) {
                            display: table;
                            width: 100%;
                        }

                        .control-area {
                            border-bottom: 4px solid #dfddd5;
                            vertical-align: bottom;

                            @media only all and (min-width: 50em) {
                                display: table-cell;
                                padding-top: 3rem;
                                text-align: center;
                                vertical-align: bottom;
                            }

                            ul {
                                @extend %clearfix;
                                list-style: none;
                                margin-left: 0;
                                margin: 0;
                                padding-left: 0;

                                @media only all and (min-width: 50em) {
                                    display: table;
                                    width: 100%;
                                }

                                li {
                                    border: 1px solid #dfddd5;
                                    float: left;
                                    padding: 1rem 1.5rem;
                                    position: relative;
                                    width: 50%;

                                    @media only all and (min-width: 50em) {
                                        border: 0;
                                        line-height: 1.2;
                                        margin: 0 2.5rem 0 0;
                                        padding: 0 0 1.25rem;
                                        width: auto;
                                        display: table-cell;
                                        float: none;
                                    }

                                    @media only all and (min-width: 60em) {
                                        border: 0;
                                        line-height: 1.2;
                                        margin: 0 2rem 0 0;
                                        width: auto;
                                    }

                                    &.active a {
                                        color: #b88554;

                                        @media only all and (min-width: 50em) {
                                            color: #b88554;

                                            &:before {
                                                background-color: white;
                                                bottom: -1.5rem;
                                                content: '';
                                                display: block;
                                                height: 4px;
                                                position: absolute;
                                                width: 100%;
                                            }
                                        }
                                    }

                                    &.full {
                                        text-align: center;
                                        width: 100%;

                                        @media only all and (min-width: 50em) {
                                            clear: none;
                                            width: auto;
                                        }
                                    }

                                    a {
                                        color: #acaaa3;
                                        display: inline-block;
                                        position: relative;
                                        text-decoration: none;

                                        &:hover, &:focus, &:active {
                                            color: #b88554;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .panels .panel-set {
                        display: flex;
                        flex-direction: column;

                        header {
                            flex: 1;
                            text-align: center;
                            margin: 1em 10%;
                            background: #a47140;
                            color: #fff;
                            padding: 0.5em;
                            font-size: 120%;
                            border-radius: 8px;
                            line-height: 1.3;

                            p:last-child {
                                margin-bottom: 0;
                            }
                        }

                        .row, .col {
                            display: flex;
                            align-items: stretch;
                            align-content: stretch;

                            @media only all and (min-width: 40em) {
                                padding: 2em;
                            }

                            > * {
                                flex: 1;
                            }

                            > figure {
                                flex-grow: 2;
                            }
                        }

                        .row {
                            flex-direction: column;

                            @media only all and (min-width: 40em) {
                                flex-direction: row;
                            }

                            &.border > * {
                                border-top: 2px dotted #bbb;

                                @media only all and (min-width: 40em) {
                                    border-top: none;
                                    border-left: 2px dotted #bbb;
                                }

                                &:first-child {
                                    border-top: none;
                                    border-left: none;
                                }
                            }
                        }

                        .col {
                            flex-direction: column;

                            &.border > * {
                                border-top: 2px dotted #bbb;
                                &:first-child {
                                    border-top: none;
                                }
                            }
                        }

                        .panel {
                            padding: 2em;

                            figure {
                                position: relative;
                                overflow: hidden;
                                width: 100%;

                                img, iframe {
                                    width: 100%;
                                    display: block;
                                    margin: 0 auto;
                                }
                            }

                            h3 {
                                font-size: 1.8em;
                                line-height: 1.2;
                                margin: 0 0 1rem;
                            }

                            p {
                                font-size: 0.9em;
                            }
                        }
                    }
                }
            }
        }
    }
}
