/*  Home Page - Introduction  */
#banners {
    .slides {
        li {
            height: 100%;
        }
    }
}

.banner {
    background: transparent url(../img/intro-bg.jpg) no-repeat 0 0;
    background-size: cover;
    height: 100%;
    position: relative;
    padding-top:1rem;
    .interior {
        margin: 0 auto;
        max-width: 1600px;
    }
    .content {
        color: white;
        margin: 0;
        max-width: 1000px;
        padding-bottom: 14%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 40%;

        /* Slide content is implemented using several different core templates.
         * Each template provides slots for different textual elements and lays
         * that text out appropriately to handle different page-widths. This is
         * designed to accomodate different image types and content needs flexibly
         * without requiring CSS to tailor the experience for each new slide.
         */

        /* A slide with a simple title and sub-title approximately 2/3 down the image.
         * This template provide for two main content elements
         *  - title:    Typically 2 to 5 words, large font
         *  - subtitle  Smaller font, about 80-120 characters. May be manually split
         *              over two or three lines.
         *
         * Class: basic-title
         * Variants
         *  - .right    Display the text on the right-hand edge of the slide
         *  - .textbg   Add a background shading under the text to improve legibility
         */
        &.basic-title {
            p.subtitle {
                @extend %AvenirLTStd-Roman;
                font-size: 0.9em;
                margin: 1em 0 0;
                p.subtitle { display:none; }
            }
            &.right {
                float: right;
                text-align: left;
            }
            &.textbg {
                background-color: rgba($darkBrown, .5);
            }
            @media only all and (min-width: 20em) {
                font-size: 1.125em;
                padding-top: 37.5%;
            }
            @media only all and (min-width: 30em) {
                padding-bottom: 12%;
                padding-top: 35%;
            }
            @media only all and (min-width: 40em) {
                font-size: 1.25em;
                padding-top: 32.5%;
            }
            @media only all and (min-width: 50em) {
                padding-bottom: 10%;
                padding-top: 30%;
            }
            @media only all and (min-width: 60em) {
                font-size: 1.5em;
                padding-top: 27.5%;
            }
            @media only all and (min-width: 70em) {
                padding-bottom: 8%;
                padding-top: 25%;
            }
            @media only all and (min-width: 80em) {
                font-size: 1.75em;
                padding-top: 22.5%;
            }
            @media only all and (min-width: 90em) {
                padding-top: 22.5%;
            }
            @media only all and (min-width: 100em) {
                padding-bottom: 10rem;
                padding-top: 23rem;
            }
        }

        &.upper-box {
            color: white;
            margin: 0;
            margin-top: 0rem;
            margin-left:1rem;
            padding-bottom: 1em;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 5%;
            display:inline-block;

            h2 {
                font-size:1.5em;
            }

            h3 {
                color: white;
                font-size: 1.1em;
                margin-left:1em;
                margin-top:0.25em;
                margin-bottom:1em;
            }

            p.blurb {
                color: white;
                @extend %AvenirLTStd-Roman;
                font-size: 0.8em;
                margin: 0;
                margin-top:0.5em;
                padding-right:3em;
            }

            &.right {
                float: right;
                text-align: left;
            }
            &.textbg {
                background-color: rgba($darkBrown, .35);
                &-copper {
                    background-color: rgba($lightBrown, .50);
                }
            }
            @media only all and (min-width: 20em) {
                max-width: 80%;
                font-size: 1.125em;
                padding-top: 7.5%;
            }
            @media only all and (min-width: 30em) {
              //  max-width: 70%;
                padding-top: 2rem;
                p.blurb { display:block; }
            }
            @media only all and (min-width: 40em) {
                // max-width: 60%;
                font-size: 1.25em;
            }
            @media only all and (min-width: 50em) {
               // max-width: 57.5%;
            }
            @media only all and (min-width: 60em) {
                //max-width: 55%;
                font-size: 1.5em;
            }
            @media only all and (min-width: 70em) {
                //max-width: 52.5%;
            }
            @media only all and (min-width: 80em) {
               // max-width: 50%;
                font-size: 1.75em;
            }
            @media only all and (min-width: 90em) {
                //max-width: 47.5%;
            }
            @media only all and (min-width: 100em) {
                //max-width: 45%;
            }
        }

        &.showsize h2:before
        {
            content: 'sm ';
        @media only all and (min-width: 20em) {
            content: '20 ';
        }
        @media only all and (min-width: 30em) {
            content: '30 ';
        }
        @media only all and (min-width: 40em) {
            content: '40 ';
        }
        @media only all and (min-width: 50em) {
            content: '50 ';
        }
        @media only all and (min-width: 60em) {
            content: '60 ';
        }
        @media only all and (min-width: 70em) {
            content: '70 ';
        }
        @media only all and (min-width: 80em) {
            content: '80 ';
        }
        @media only all and (min-width: 90em) {
            content: '90 ';
        }
        @media only all and (min-width: 100em) {
            content: '100 ';
        }
        }
    }
    h2 {
        color: white;
        @extend %CenturyStd-Book;
        font-size: 2.1em;
        line-height: 1;
        margin: 0;
        @media only all and (min-width: 40em) {
            font-size: 2.4em;
        }
    }
}

.intro-stage {
    position: relative;
    .container {
        margin: 0 auto;
        max-width: 1600px;
        padding: 0;
    }
    .leadin {
        background-color: white;
        color: #20251f;
        @extend %CenturyStd-Book;
        font-size: 1.2em;
        line-height: 1.6;
        overflow: hidden;
        padding: 0;
        p {
            margin: 0;
        }
        @media only all and (min-width: 40em) {
            font-size: 1.35em;
        }
        @media only all and (min-width: 50em) {
            font-size: 1.5em;
        }
        @media only all and (min-width: 60em) {
            font-size: 1.65em;
        }
    }
    .intro-text {
        color: #484b47;
        line-height: 2;
        max-width: 40em;
        padding: 2rem 1.5rem;
        .read-more {
            @extend %AvenirLTStd-Heavy;
            @extend %activeUnderline;
            font-size: 0.75em;
            letter-spacing: 2px;
            text-decoration: none;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
}

.brow {
    background-color: rgba(164,113,64,1);
    border-bottom: 4px solid #dcc3ab;
    height: 50px;
    overflow: hidden;
    padding: 0.5rem 0.5rem 0;
    &__main {
        color: #fff;
        position: relative;
    }
    &__ancillary {
        a {
            color: white;
            display: inline-block;
            text-decoration: none;
            &:nth-child(2) {
                margin-left: 16px;
            }
        }
    }

    .flex-control-nav {
        display: table-cell;
        vertical-align: middle;
        float: right;
        position: static;
        li {
            margin: 0 5px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            @include hide-text;
            height: 20px;
            transition: 400ms;
            width: 20px;
            &.flex-active, &:hover, &:focus, &:active {
                background-color: white;
            }
        }
    }

    .flex-direction-nav {
        display: none;
        position: relative;
        vertical-align: middle;
        width: 90px;
        a {
            display: block;
            @include hide-text;
            height: 7px;
            position: absolute;
            top: 7px;
            width: 32px;
        }
        .flex-next {
            background: transparent url(../img/arrow-short-white-right.png) no-repeat 0 0;
            right: 0;
        }
        .flex-prev {
            background: transparent url(../img/arrow-short-white-left.png) no-repeat 0 0;
            left: 0;
        }
    }
}

.brow-filler {
    background-color: white;
    display: none;
    float: left;
    height: 50px;
    width: 42%;
}

.slider-controls {
    display: table;
    position: relative;
    width: 100%;
}

.play-video {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    img {
        display: block;
        width: 90%;
    }
}

.video-controls {
    color: white;
    display: table;
    float: left;
    font-size: 0.9em;
    overflow: hidden;
    width: 50%;
    .image {
        display: table-cell;
        vertical-align: middle;
    }
    .video-details {
        display: table-cell;
        // padding-left: 1em;
        padding-left: 0.5em;
        vertical-align: middle;
    }
}

.control-section {
    float: right;
    padding-top: 7px;
    width: 50%;
}

.video-title {
    font-size: 0.7em;
    text-transform: uppercase;
    @media only all and (min-width: 40em) {
        font-size: 0.9em;
    }
}

.video-length {
    color: darken($lightBrown, 30%);
    @extend %CenturyStd-Book;
    display: none;
}

@media only all and (min-width: 35em) {
    .brow {
        display: table;
        width: 100%;
    }
    .video-controls {
        display: table-cell;
        vertical-align: middle;
        width: auto;
    }
    .control-section {
        display: table-cell;
        vertical-align: middle;
        width: 270px;
        width: 300px;
    }
    .video-title {
        font-size: 1em;
    }
}

@media only all and (min-width: 51em) {
    .video-controls {
        background-color: rgba(164,113,64,1);
        border-bottom: 4px solid #dcc3ab;
        float: none;
        margin-bottom: 0;
        padding-left: 20px;
        padding-top: 7px;
    }
    .control-section {
        float: none;
        padding-top: 0;
        vertical-align: top;
    }
    .intro-stage {
        position: relative;
        .intro-text {
            clear: both;
            max-width: none;
            padding-bottom: 0;
            padding: 0 !important;

        }
    }
    .brow-filler {
        display: block;
    }
    .brow {
        background: transparent;
        border-bottom: 0;
        display: table;
        height: 50px;
        padding: 0;
        table-layout: fixed;

        float: right;
        width: 58%;
        .flex-control-nav {
            background-color: rgba(164,113,64,1);
            border-bottom: 4px solid #dcc3ab;
            float: none;
            height: 50px;
            padding-right: 16px;
            padding-top: 4px;
            text-align: right;
            li {
                a {
                    background: #b88554;
                    position: relative;
                    z-index: 2;
                }
            }
        }
        .flex-direction-nav {
            display: table-cell;
            float: none;
            height: 50px;
            width: 125px;
            .flex-next {
                background: transparent url(../img/arrow-short-white-right.png) no-repeat 0 0;
                right: 20px;
                top: 20px;
            }
            .flex-prev {
                background: transparent url(../img/arrow-short-white-left.png) no-repeat 0 0;
                left: 20px;
                top: 20px;
            }
            &:before {
                background-color: rgba(164,113,64,1);
                border-bottom: 4px solid #dcc3ab;
                content: '';
                display: block;
                float: right;
                height: 50px;
                width: 123px;
            }
        }
    }

    .video-length {
        color: darken($lightBrown, 25%);
        display: inline-block;
    }

    .leadin {
        float: left;
        position: relative;
        width: 42%;
    }

    .slide-content {
        float: right;
        padding: 4rem 3rem 3rem 1.25rem;
        width: 58%;
        .text {
            max-width: 40em;
            p {
                margin-top: 0;
            }
        }
    }
}

@media only all and (min-width: 60em) {
    .intro-stage {
        .leadin {
            padding-bottom: 5rem;
            padding-top: 2rem;
        }
    }
}

.section {
    &--resources {
        background-color: #f2f2f0;
    }
    &--board {
        .container {
            padding-bottom: 3em !important;
            padding-top: 2em;
        }
    }
    &--general {
        line-height: 1.6;
        padding: 3.5rem 0 2.5rem;
        h1 {
            margin-top: 0;
        }
    }
}

main, .main {
    clear: both;
}

/*  Home Page - Resources */
// ############################
// START MAIN NAV HERE
// ############################

.controls {
    background-color: #e8e7e3;
    @extend %AvenirLTStd-Heavy;
    text-transform: uppercase;

    font-size: .9em;

    @media only all and (min-width: 50em) {
      display: table;
      width: 100%;
    }
}

.control-area {
  border-bottom: 4px solid #dfddd5;
  vertical-align: bottom;

  ul {
    list-style: none;
    margin-left: 0;
    margin: 0;
    padding-left: 0;
  }

  li {
    border: 1px solid #dfddd5;
    float: left;
    padding: 1rem 1.5rem;
    position: relative;
    width: 50%;
    &.active a {
      color: #b88554;
    }
    &.full {
      text-align: center;
      width: 100%;
    }
  }

  a {
    color: #acaaa3;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &:hover, &:focus, &:active {
      color: #b88554;
    }
  }

  @media only all and (min-width: 50em) {
    display: table-cell;
    padding-top: 3rem;
    text-align: center;
    vertical-align: bottom;

    ul {
      display: table;
      width: 100%;
    }

    li {
      border: 0;
      line-height: 1.2;
      margin: 0 2.5rem 0 0;
      padding: 0 0 1.25rem;
      width: auto;
      display: table-cell;
      float: none;

      &.full {
        clear: none;
        width: auto;
      }

      &.active a {
        color: #b88554;

        &:before {
          background-color: white;
          bottom: -1.5rem;
          content: '';
          display: block;
          height: 4px;
          position: absolute;
          width: 100%;
        }
      }
    }
  }

  @media only all and (min-width: 60em) {
    li {
      border: 0;
      line-height: 1.2;
      margin: 0 2rem 0 0;
      width: auto;
    }
  }
}

.buckets {
    @extend %clearfix;

    .bucket {
      background-color: #b88554;
      background-size: cover !important;
      border-bottom: 1px solid #a47140;

      color: #fff;
      cursor: pointer;
      display: block;
      line-height: 1.8;
      overflow: hidden;
      padding: 1.5rem;
      text-decoration: none;

      &:last-child {
        border-bottom: 0;
      }
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
      &.flex-active {
        background-color: #a47140;
      }

      h3 {
        color: #fff;
        @extend %AvenirLTStd-Heavy;
        font-size: 1em;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      p { font-size: 0.9em; }
      .more { margin-top: 2rem; }
      .more-link {
        background: transparent url(../img/arrow-long-white.png) no-repeat 0 0;
        display: block;
        height: 7px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        width: 84px;
      }

      @media only all and (min-width: 31em) {
        border: 0;
        border-right: 1px solid #a47140;
        display: table-cell;
        vertical-align: middle;
        &:last-child {
          border-right: 0;
        }
      }

      @media only all and (min-width: 40em) {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      @media only all and (min-width: 60em) {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }

    @media only all and (min-width: 31em) {
      .wrapper {
        display: table;
        width: 100%;
      }
    }

    @media only all and (min-width: 64em) {
      display: table-cell;
      position: relative;
      vertical-align: top;
      width: 300px;

      .wrapper {
        align-content: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;
        justify-content: center;
      }

      .bucket {
        border-bottom: 1px solid #a47140;
        border-right: 0;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
}

.panel-set {
  margin: 0 0 2rem;
  &:last-child {
    margin: 0;
  }

  @media only all and (min-width: 40em) {
    display: table;
    padding: 2rem 0 2rem;
    width: 100%;

    .hemi {
      background: transparent url(../img/dotted-border-dark-vertical.png) repeat-y right 0;
      display: table-cell;
      padding: 0 2rem;
      vertical-align: top;
      width: 50%;
      &:last-child {
        background: none;
      }
    }

  }

  @media only all and (min-width: 64em) {
    .hemi {
        padding: 0 3.5rem;
    }
  }

  .panel {
    background: transparent url(../img/dotted-border-dark-horizontal.png) repeat-x 0 bottom;
    line-height: 2;
    overflow: hidden;
    padding: 2rem 1.5rem 1rem;
    h3 {
      font-size: 1.8em;
      line-height: 1.2;
      margin: 0 0 1rem;
    }
    p {
      font-size: 0.9em;
      margin-top: 0;
    }
    a {
      text-decoration: none;
    }

    @media only all and (min-width: 40em) {
      margin: 0;
      padding: 3rem 1rem 3rem;
      &:first-child {
        background: transparent url(../img/dotted-border-dark-horizontal.png) repeat-x 0 bottom;
      }
      &:last-child {
        background: 0;
      }
    }
  }
}

.content-panel {
    line-height: 1.8;
    max-width: 50em;
    padding: 2.5rem 1.5rem 1.5rem;
    p, ol, ul {
        margin-top: 0;
    }
}

// FIXME break this media query into it's appropriate styles
@media only all and (min-width: 64em) {
    .section--resources {
        .container {
            display: table;
            height: 100%;
            table-layout: fixed;
            width: 100%;
        }
    }
    .module-wrapper {
        display: table-row;
        height: 100%;
    }

    .modules {
        display: table-cell;
        vertical-align: top;
    }
    .view-more {
        display: block;
    }
    #content--more {
        display: block;
    }
}

#content--more {
    display: none;
}

.view-more {
    background-color: #82817c;
    color: #272927;
    color: white;
    display: inline-block;
    @extend %AvenirLTStd-Heavy;
    font-size: 0.8em;
    line-height: 1;
    padding: 0.9rem 1.25rem 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms;
    &:hover, &:focus, &:active {
        background-color: darken(#82817c, 5%);
        text-decoration: none;
    }
    &--light {
      background-color: #e8e7e3;
      color: #acaaa3;
    }
    &--light:hover, &--light:focus, &--light:active {
      background-color: #e1e0db;
      text-decoration: none;
    }

    @media only all and (min-width: 64em) {
      display:block;
    }
}


/*  Home Page - Advisory Board  */
.section-header {
    border-bottom: 1px solid #dfddd5;
    color: #68665f;
    @extend %CenturyStd-Book;
    font-size: 1.3em;
    margin-bottom: 3rem;
    p {
        font-size: 0.9em;
        line-height: 1.5;
    }
    h2 {
        font-weight: normal;
    }
    @media only all and (min-width: 60em) {
        p, h2 {
            display: inline-block;
        }
        h2 {
            margin-right: 2rem;
        }
    }
}

.section--board {
    font-size: 0.9em;
    line-height: 1.5;
    .content {
        @extend %clearfix;
        color: #82817c;
        margin-top: 3rem;
    }
    .col {
        max-width: 40rem;
        &--left {
            margin-bottom: 2rem;
        }
    }
    .member {
        margin-bottom: 2rem;
        p {
            margin: 0;
        }
    }
    .name {
        color: #272927;
        font-size: 1.1em;
        @extend %AvenirLTStd-Heavy;
    }
    .entry {
        margin-bottom: 1rem;
    }
}

@media only all and (min-width: 50em) {
    .col--left {
        float: left;
        margin-right: 10%;
        width: 45%;
    }
    .col--right {
        float: right;
        width: 45%;
    }
}

/*  Home Page -- Explore  */

.section--explore {
    background-color: #272927;
    @extend %clearfix;
    .container {
        padding: 0;
    }
    .content {
        border-bottom: 1px solid #353635;
        color: #d2cfc3;
        line-height: 2;
        padding: 4rem 1.5rem;
        h3 {
            color: white;
            font-size: 1.5em;
            @extend %CenturyStd-Book;
            line-height: 1.4;
            margin: 0 0 2rem;
        }
        a {
            text-decoration: none;
        }
        .container {
            padding-bottom: 3rem;
            padding-top: 3rem;
        }
    }
    .interior {
        max-width: 40rem;
    }
    .body-content {
        font-size: 0.9em;
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .more {
        margin: 2rem 0 0;
    }
    .learn-more {
        @extend %AvenirLTStd-Heavy;
        letter-spacing: 1px;
        text-transform: uppercase;
        .text {
            display: inline-block;
            font-size: 0.8em;
            margin-bottom: 0.5rem;
            margin-right: 20px;
            @extend %activeUnderline;
        }
        &:hover, &:focus, &:active {
            .text {
                text-decoration: underline;
            }
        }
    }
    .arrow {
        display: inline-block;
    }
}

.portal {
    color: #c7c5bd;
    line-height: 1.5;
    padding: 4rem 1.5rem;
    a {
        text-decoration: none;
    }
}

.listing {
    margin-bottom: 4em;
    h3 {
        background: transparent url(../img/dotted-border-light-horizontal.png) repeat-x 0 bottom;
        color: #f2f2f0;
        @extend %CenturyStd-Book;
        font-size: 1em;
        letter-spacing: 2px;
        margin: 0 0 2rem;
        padding-bottom: 0.75rem;
        text-transform: uppercase;
    }
    .entry {
        margin-bottom: 2rem;
    }
    .footer {
        margin-top: 2rem;
    }
    .view-all {
        @extend %AvenirLTStd-Heavy;
        font-size: 0.8em;
        &:hover, &:focus, &:active {
            background-color: darken(#82817c, 5%);
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
    &--proposals {
        position: relative;
        .entry {
            &:after {
                background-color: #c7c5bd;
                content: '';
                display: block;
                height: 2px;
                margin-top: 1.5rem;
                width: 8px;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
}

.article-list {
    max-width: 40rem;
}

.entry {
    font-size: 0.9em;
    .title {
        @extend %activeUnderline;
        font-size: 1.3em;
        line-height: 1.2;
    }
}

.view-all {
    background-color: #82817c;
    color: #272927;
    display: inline-block;
    line-height: 1;
    padding: 0.9rem 1.25rem 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms;
}

@media only all and (min-width: 40em) {
    .listing {
        float: left;
        margin-right: 12%;
        width: 44%;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media only all and (min-width: 64em) {
    .section--explore {
        display: table;
        width: 100%;
        .content {
            border-bottom: 0;
            border-right: 1px solid #353635;
            display: table-cell;
            vertical-align: top;
            width: 36%;
        }
        .portal {
            display: table-cell;
            vertical-align: top;
            width: 64%;
            .container {
                padding-top: 3rem;
            }
        }
    }
}
