/* Interior Section Page Banner */
.conf-introduction {
  background: transparent url(../img/slider-people.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  padding: 3rem 0;
  text-align: center;

  h1, h2, a {
    color: white;
  }

  h1 {
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 1.3em;
  }
  .container {
    max-width: 1400px;
  }
  .cta {
    letter-spacing: 1px;
    margin: 2rem auto 0;
  }

  @media only all and (min-width: 40em) {
    padding: 6rem 0;

    h2 {
      font-size: 1.7em;
    }
  }
  @media only all and (min-width: 60em) {
    padding: 9rem 0;
    h2 {
      font-size: 2.1em;
    }
  }
}

/*  Media Library  */
/* FIXME this is the wrong label */
.column {
  margin-bottom: 2rem;

  @media only all and (min-width: 25em) {
    float: left;
    margin-right: 5%;
    width: 47.5%;

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(2n+1) {
      clear: both;
    }
  }
  @media only all and (min-width: 40em) {
    margin-right: 3.5%;
    width: 31%;

    &:nth-child(2n) {
      margin-right: 3.5%;
    }
    &:nth-child(2n+1) {
      clear: none;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(3n+1) {
      clear: both;
    }
  }
  @media only all and (min-width: 60em) {
    margin-right: 3%;
    width: 22.75%;

    &:nth-child(2n) {
      margin-right: 3%;
    }
    &:nth-child(3n) {
      margin-right: 3%;
    }
    &:nth-child(3n+1) {
      clear: none;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:nth-child(4n+1) {
      clear: both;
    }
  }
}



.item-body {
  color: #82817c;
  font-size: 0.875em;
  line-height: 1.4;
}
.item-body p {
  margin-top: 0.5rem;
}

.item-title {
  font-size: 1.1em;
  line-height: 1.2;
}

.resource {
  color: inherit;
  text-decoration: none;
}
.resource img {
  display: block;
  width: 100%;
}
.resource:hover, .resource:focus, .resource:active {
  text-decoration: none;
}

.introduction {
  margin-bottom: 3rem;
}

.section--search {
  background-color: #f2f2f0;
  margin-bottom: 3rem;

  h1, h2, h3, h4, h5, h6 {
  color: inherit;
  }

  h2 {
    display: inline-block;
    font-size: 1.1em;
    line-height: 1;
    margin: 0;
  }

  .header {
    background: #a47140;
    color: white;
    padding: 0.75rem 1rem;
  }
  .body {
    border: 1px solid #aaa;
    border-top: 0;
    padding: 0.75rem 1rem 1.25rem;
  }
}

// HACK taken from core typography section. This info needs to be configed
//      within the area dedicated to a styling this element, rather than
//      having to hunt for all styles related to a particular element
//      throughout the file
.columns, .methods {
  *zoom: 1;
}
.columns:before, .methods:before {
  content: " ";
  display: table;
}
.columns:after, .methods:after {
  clear: both;
  content: " ";
  display: table;
}

.method {
  margin-bottom: 1rem;

  label {
    font-size: 0.875em;
  }
  select {
    background-color: white;
    border: 1px solid #aaa;
    height: 2em;
    font-size: 0.875em;
    padding: 0 0.5em;
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }


  @media only all and (min-width: 60em) {
    float: left;
    margin-bottom: 0;
    margin-right: 5%;
    width: 30%;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.methods .method--search {
  .compact {
    position: relative;
  }
  input[type="text"] {
    border: 1px solid #aaa;
    font-size: 0.875em;
    height: 2em;
    padding-right: 3rem;
  }
  .submit {
    font-size: 0.875em;
    height: 2em;
    padding: 0 0.75rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}

/*  Media Center - Single  */
.media-object {
  margin-bottom: 2rem;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.one-col {
  margin: 0 auto;
  max-width: 60rem;
}

.resource-content h1 {
  margin-bottom: 0.5rem;
}
.resource-content h2 {
  color: black;
  text-transform: uppercase;
}

.resource-block {
  margin-bottom: 3rem;
}
.resource-block:last-child {
  margin-bottom: 0;
}

.text-label {
  text-decoration: underline;
}
