@import url("//hello.myfonts.net/count/2b8bdf");
@import "normalize";
@import "flexslider";
@import "font-awesome";
@import "magnific-popup";
@import "core";

@import "site-header";
@import "home-page";
@import "site-footer";

// TODO need to break this into more appropriate structures
//      focus on page templates and various components
//      probably compile different css entry points for different page templates

/*  Off-Canvas Menu  */

.site {
    position: relative;
    transition: all 0.3s ease-out;
}
.site.active {
    transform: translateX(16em);
}
nav[role=navigation] {
    background: $darkBrown;
    clear: both;
    overflow: hidden;
}
nav[role=navigation] {
    width: 16em;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-16em);
}
nav[role=navigation] ul {
    margin: 0;
    padding: 0;
}
nav[role=navigation] li a {
    border-bottom: 1px solid #5e5d57;
    color: $cream;
    display: block;
    padding: 0.8rem;
    text-decoration: none;
}
.page {
    clear: both;
}

/*  Misc  */
.popup {
    position: relative;
    background: #FFF;
    padding: 1em 2em;
    width: auto;
    max-width: 40rem;
    margin: 20px auto;
}

.privacy-policy {
    font-size: 0.9em;
    line-height: 1.4;
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
    }
}

/*  Containers  */
@media only all and (min-width: 40em) {
    .banner, .section--explore {
        .content {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    .intro-stage {
        .intro-text {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    .brow, .portal, .bucket, .control-area li, .resources, .content-panel, .controls {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .control-label {
        padding-left: 2rem;
    }
}
/*  padding rules  */
@media only all and (min-width: 50em) {
    .intro-stage {
        .leadin {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .intro-text {
            padding-left: 1rem;
            padding-right: 2rem;
        }
    }
}

@media only all and (min-width: 51em) {
    .brow {
        padding: 0;
    }
}

@media only all and (min-width: 60em) {
    .site-header{
        .container {
            padding: 2rem 3rem;
        }
    }
    .banner, .section--explore {
        .content {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    .intro-stage {
        .leadin {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    .portal, .bucket, .resources, .content-panel, .controls {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .control-label {
        padding-left: 3rem;
    }
}

@media only all and (min-width: 80em) {
    .intro-stage {
        .intro-text {
            padding-bottom: 3rem;
            padding-top: 3rem;
        }
    }
}

@media only all and (min-width: 100em) {
    .intro-stage {
        .intro-text {
            padding-bottom: 4rem;
            padding-top: 4rem;
        }
    }
}



@media only all and (min-width: 64em) {
    .section--resources {
        .container {
            display: table;
            height: 100%;
            table-layout: fixed;
            width: 100%;
        }
    }
    .module-wrapper {
        display: table-row;
        height: 100%;
    }
    .buckets {
        display: table-cell;
        position: relative;
        vertical-align: top;
        width: 300px;
        .wrapper {
            align-content: center;
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: flex;
            flex: 1;
            flex-direction: column;
            height: 100%;
            justify-content: center;

        }
        .bucket {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            min-height: 224px;
        }
    }
    .bucket {
        display: block;
        width: 100%;
    }
    .modules {
        display: table-cell;
        vertical-align: top;
    }
    .view-more {
        display: none;
    }
    #content--more {
        display: block;
    }
}

@media only all and (min-width: 80em) {
    .content-panel {
        column-count: 2;
        column-gap: 60px;
        max-width: none;
    }
}

.advisors {
    display: none;
    @media only all and (min-width: 40em) {
        display: block !important;
    }
}

.reveal {
    background-color: #e8e7e3;
    color: #acaaa3;
    @extend %AvenirLTStd-Heavy;
    display: block;
    font-size: 0.8em;
    line-height: 1;
    margin: 0 auto 1.5rem;
    max-width: 300px;
    padding: 0.9rem 1.25rem 0.8rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms;
    width: 100%;
    &:hover, &:focus, &:active {
        background-color: darken(#e8e7e3, 3%);
    }
    @media only all and (min-width: 40em) {
        display: none;
    }
}

/*  Browsehappy Statement */

.browsehappy {
    color: white;
    padding: 0 2em;
    text-align: center;
}

/*  Privacy  */

.privacy {
    h2 {
        @extend %AvenirLTStd-Roman;
        margin: 2rem 0 0;
    }
}


// HACK nowhere better to put this...
@mixin link-disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

@import 'author';
@import 'comp';
@import 'bookreader-page';      // TODO make this its own top-level .css
@import 'bibliography';
