@import url("//hello.myfonts.net/count/2b8bdf");
@import "normalize";
@import "flexslider";
@import "font-awesome";
@import "magnific-popup";

// Fonts

@font-face {font-family: 'CenturyStd-BookItalic';src: url('../fonts/2B8BDF_0_0.eot');src: url('../fonts/2B8BDF_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B8BDF_0_0.woff') format('woff'),url('../fonts/2B8BDF_0_0.ttf') format('truetype');}
@font-face {font-family: 'CenturyStd-Book';src: url('../fonts/2B8BDF_1_0.eot');src: url('../fonts/2B8BDF_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B8BDF_1_0.woff') format('woff'),url('../fonts/2B8BDF_1_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Heavy';src: url('../fonts/2B8BDF_2_0.eot');src: url('../fonts/2B8BDF_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B8BDF_2_0.woff') format('woff'),url('../fonts/2B8BDF_2_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Roman';src: url('../fonts/2B8BDF_3_0.eot');src: url('../fonts/2B8BDF_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B8BDF_3_0.woff') format('woff'),url('../fonts/2B8BDF_3_0.ttf') format('truetype');}

%CenturyStd-BookItalic { 
    font-family: CenturyStd-BookItalic;
    font-weight: normal;
    font-style: normal;
}
%CenturyStd-Book { 
    font-family: CenturyStd-Book;
    font-weight: normal;
    font-style: normal;
}
%AvenirLTStd-Heavy { 
    font-family: AvenirLTStd-Heavy;
    font-weight: normal;
    font-style: normal;
}
%AvenirLTStd-Roman { 
    font-family: AvenirLTStd-Roman;
    font-weight: normal;
    font-style: normal;
}

// Colors
$darkBrown: #1a1b1a;
$lightBrown: #b88554;
$text: #2e2e2e;
$textGrey: #acaaa3;
$textBlack: #292626;

// Utility

%activeUnderline {
    &:hover, &:focus, &:active {
        text-decoration: underline;
    }
}

// Clearfix by Nicolas Gallagher
%clearfix {
    *zoom: 1;
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
        content: " ";
        display: table;
    }
}

// Visually hide an element while keeping it accessible
%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

@mixin hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

// Setting a rem font size with pixel fallback
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}
@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// Font Smoothing (making fonts appear less "heavy")
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

/*  General  */

html {
    background-color: $darkBrown;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
}

body {
    color: $text;
    @extend %AvenirLTStd-Roman;
    @include font-smoothing(on);
}

img, picture {
    max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.container {
    padding: 1.5rem;
    margin: 0 auto;
    max-width: 1600px;
    @media only all and (min-width: 40em) {
        padding: 2rem;
    }
    @media only all and (min-width: 40em) {
        padding: 2rem 3rem;
    }
    &.no-vert {
        padding-bottom: 0;
        padding-top: 0;
    }
    &.no-horiz {
        padding-left: 0;
        padding-right: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $lightBrown;
    @extend %CenturyStd-Book;
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $lightBrown;
}

h1 {
    @extend %CenturyStd-Book;
    font-size: 1.9em;
    line-height: 1;
    
    @media only all and (min-width: 40em) {
        font-size: 2.3em;
    }
    @media only all and (min-width: 60em) {
        font-size: 2.7em;
    }
    @media only all and (min-width: 80em) {
        font-size: 3.1em;
    }
   /* 
    @media only all and (min-width: 25em) {
        font-size: 2.375em;
    }
    @media only all and (min-width: 30em) {
        font-size: 2.85em;
    }
    @media only all and (min-width: 35em) {
        font-size: 3.325em;
    }
    @media only all and (min-width: 40em) {
        font-size: 3.8em;
    } */
}

.main {
    background-color: white;
}

/*  Site Header  */

.site-header {
    background-color: $darkBrown;
    .container {
        @extend %clearfix;
        padding: 1em;
    }
}

.logo {
    float: left;
    max-width: 70px;
}

.entity {
    float: right;
    width: 40%;
    img {
        float: right;
        max-width: 40px;
    }
}

.nav-trigger {
    float: left;
    cursor: pointer;
    display: inline-block;
    margin-right: 24px;
    i {
        color: $lightBrown;
        font-size: 1.75em;
    }
    .aid {
        color: #5e5d57;
        display: block;
        font-size: 0.5em;
        text-align: center;
        text-transform: uppercase;
    }
}

.signup-trigger {
    cursor: pointer;
    float: right;
    margin-top: 4px;
    i {
        color: $lightBrown;
        font-size: 1.75em;
    }
}

.search {
    clear: both;
    display: none;
    margin-top: 20px;
}

.signup-form {
    color: #eee8de;
    float: right;
    max-width: 400px;
    width: 100%;
    label {
        display: block;
        font-size: 0.875em;
        margin-bottom: 0.25em;
    }
    .form-field {
        position: relative;
        width: 100%;
    }
    input[type="email"] {
        background: transparent;
        border: 1px solid #4e534d;
        border-radius: 8px;
        color: #eee8de;
        height: 50px;
        outline: 0;
        padding: 12px 12px;
        width: 100%;
        &::-webkit-input-placeholder {
            color: #eee8de;
        }
    }
    input[type="text"] {
        background: transparent;
        border: 1px solid #4e534d;
        border-radius: 8px;
        color: #eee8de;
        height: 50px;
        outline: 0;
        padding: 12px 12px;
        width: 100%;
        &::-webkit-input-placeholder {
            color: #eee8de;
        }
    }
    .submit {
        background-color: #212221;
        border: 1px solid #4e534d;
        border-radius: 0 8px 8px 0;
        color: #eee8de;
        font-size: 11px;
        height: 50px;
        letter-spacing: 1px;
        padding: 0 24px;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 0;
        transition: background-color 400ms;
        &:hover, &:focus, &:active {
            background-color: lighten(#212221, 5%);
        }
    }
    .note {
        display: block;
        font-size: 0.8125em;
        margin-top: 0.5em;
        text-align: right;
        a {
            border-bottom: 1px solid;
            display: inline-block;
            text-decoration: none;
        }
    }
}

.logo-area {
    @extend %clearfix;
}

.entity {
    display: none;
}

@media only all and (min-width: 55em) {
    .header-wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .logo-area {
        display: table-cell;
        vertical-align: middle;
        width: 200px;
    }
    .logo {
        margin-left: 16px;
        max-width: none;
    }
    .search {
        display: table-cell !important;
        vertical-align: middle;
    }
    .entity {
        display: table-cell;
        float: none;
        vertical-align: middle;
        width: 113px;
        img {
            max-width: none;
        }
    }
    .signup-form {
        display: block;
        margin-right: 70px;
    }
    .nav-trigger {
        margin-top: 17px;
    }
    .signup-trigger {
        display: none;
    }
}

/*  Home Page - Introduction  */

#banners {
    .slides {
        li {
            height: 100%;
        }
    }
}

.banner {
    background: transparent url(../img/intro-bg.jpg) no-repeat 0 0;
    background-size: cover;
    height: 100%;
    position: relative;
    padding-top:1rem;
    .interior {
        margin: 0 auto;
        max-width: 1600px;
    }
    .content {
        color: white;
        margin: 0;
        max-width: 1000px;
        padding-bottom: 14%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 40%;
        
        /* Slide content is implemented using several different core templates. 
         * Each template provides slots for different textual elements and lays 
         * that text out appropriately to handle different page-widths. This is 
         * designed to accomodate different image types and content needs flexibly 
         * without requiring CSS to tailor the experience for each new slide.
         */        
        
        /* A slide with a simple title and sub-title approximately 2/3 down the image.
         * This template provide for two main content elements
         *  - title:    Typically 2 to 5 words, large font
         *  - subtitle  Smaller font, about 80-120 characters. May be manually split  
         *              over two or three lines.
         *
         * Class: basic-title     
         * Variants
         *  - .right    Display the text on the right-hand edge of the slide
         *  - .textbg   Add a background shading under the text to improve legibility
         */
        &.basic-title {
            p.subtitle {
                @extend %AvenirLTStd-Roman;
                font-size: 0.9em;
                margin: 1em 0 0;
                p.subtitle { display:none; }
            }
            &.right {
                float: right;
                text-align: left;
            }
            &.textbg {
                background-color: rgba($darkBrown, .5);
            }
            @media only all and (min-width: 20em) {
                font-size: 1.125em;
                padding-top: 37.5%;
            }
            @media only all and (min-width: 30em) {
                padding-bottom: 12%;
                padding-top: 35%;
            }
            @media only all and (min-width: 40em) {
                font-size: 1.25em;
                padding-top: 32.5%;
            }
            @media only all and (min-width: 50em) {
                padding-bottom: 10%;
                padding-top: 30%;
            }
            @media only all and (min-width: 60em) {
                font-size: 1.5em;
                padding-top: 27.5%;
            }
            @media only all and (min-width: 70em) {
                padding-bottom: 8%;
                padding-top: 25%;
            }
            @media only all and (min-width: 80em) {
                font-size: 1.75em;
                padding-top: 22.5%;
            }
            @media only all and (min-width: 90em) {
                padding-top: 22.5%;
            }
            @media only all and (min-width: 100em) {
                padding-bottom: 10rem;
                padding-top: 23rem;
            }
        }
        
        &.upper-box {
            color: white;
            margin: 0;
            margin-top: 0rem;
            margin-left:1rem;
            padding-bottom: 1em;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 5%;
            display:inline-block;
            
            h2 { 
                font-size:1.5em;
            }
            
            h3 { 
                color: white;
                font-size: 1.1em;
                margin-left:1em;
                margin-top:0.25em;
                margin-bottom:1em;
            }
            
            p.blurb {
                color: white;
                @extend %AvenirLTStd-Roman;
                font-size: 0.8em;
                margin: 0;
                margin-top:0.5em;
                padding-right:3em;
            }
            
            &.right {
                float: right;
                text-align: left;
            }
            &.textbg {
                background-color: rgba($darkBrown, .35);
                &-copper {
                    background-color: rgba($lightBrown, .50);
                }
            }
            @media only all and (min-width: 20em) {
                max-width: 80%;
                font-size: 1.125em;
                padding-top: 7.5%;
            }
            @media only all and (min-width: 30em) {
              //  max-width: 70%;
                padding-top: 2rem;
                p.blurb { display:block; }
            }
            @media only all and (min-width: 40em) {
                // max-width: 60%;
                font-size: 1.25em;
            }
            @media only all and (min-width: 50em) {
               // max-width: 57.5%;
            }
            @media only all and (min-width: 60em) {
                //max-width: 55%;
                font-size: 1.5em;
            }
            @media only all and (min-width: 70em) {
                //max-width: 52.5%;
            }
            @media only all and (min-width: 80em) {
               // max-width: 50%;
                font-size: 1.75em;
            }
            @media only all and (min-width: 90em) {
                //max-width: 47.5%;
            }
            @media only all and (min-width: 100em) {
                //max-width: 45%;
            }
        }
        
        &.showsize h2:before
        {
            content: 'sm ';
        @media only all and (min-width: 20em) {
            content: '20 ';
        }
        @media only all and (min-width: 30em) {
            content: '30 ';
        }
        @media only all and (min-width: 40em) {
            content: '40 ';
        }
        @media only all and (min-width: 50em) {
            content: '50 ';
        }
        @media only all and (min-width: 60em) {
            content: '60 ';
        }
        @media only all and (min-width: 70em) {
            content: '70 ';
        }
        @media only all and (min-width: 80em) {
            content: '80 ';
        }
        @media only all and (min-width: 90em) {
            content: '90 ';
        }
        @media only all and (min-width: 100em) {
            content: '100 ';
        }
        }
    }
    h2 {
        color: white;
        @extend %CenturyStd-Book;
        font-size: 2.1em;
        line-height: 1;
        margin: 0;
        @media only all and (min-width: 40em) {
            font-size: 2.4em;
        }
    }
}

.intro-stage {
    position: relative;
    .container {
        margin: 0 auto;
        max-width: 1600px;
        padding: 0;
    }
    .leadin {
        background-color: white;
        color: #20251f;
        @extend %CenturyStd-Book;
        font-size: 1.2em;
        line-height: 1.6;
        overflow: hidden;
        padding: 0;
        p {
            margin: 0;
        }
        @media only all and (min-width: 40em) {
            font-size: 1.35em;
        }
        @media only all and (min-width: 50em) {
            font-size: 1.5em;
        }
        @media only all and (min-width: 60em) {
            font-size: 1.65em;
        }
    }
    .intro-text {
        color: #484b47;
        line-height: 2;
        max-width: 40em;
        padding: 2rem 1.5rem;
        .read-more {
            @extend %AvenirLTStd-Heavy;
            @extend %activeUnderline;
            font-size: 0.75em;
            letter-spacing: 2px;
            text-decoration: none;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
}

.brow {
    background-color: rgba(164,113,64,1);
    border-bottom: 4px solid #dcc3ab;
    height: 50px;
    overflow: hidden;
    padding: 0.5rem 0.5rem 0;
    &__main {
        color: #fff;
        position: relative;
    }
    &__ancillary {
        a {
            color: white;
            display: inline-block;
            text-decoration: none;
            &:nth-child(2) {
                margin-left: 16px;
            }
        }
    }

    .flex-control-nav {
        display: table-cell;
        vertical-align: middle;
        float: right;
        position: static;
        li {
            margin: 0 5px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            @include hide-text;
            height: 20px;
            transition: 400ms;
            width: 20px;
            &.flex-active, &:hover, &:focus, &:active {
                background-color: white;
            }
        }
    }

    .flex-direction-nav {
        display: none;
        position: relative;
        vertical-align: middle;
        width: 90px;
        a {
            display: block;
            @include hide-text;
            height: 7px;
            position: absolute;
            top: 7px;
            width: 32px;
        }
        .flex-next {
            background: transparent url(../img/arrow-short-white-right.png) no-repeat 0 0;
            right: 0;
        }
        .flex-prev {
            background: transparent url(../img/arrow-short-white-left.png) no-repeat 0 0;
            left: 0;
        }
    }   
}

.brow-filler {
    background-color: white;
    display: none;
    float: left;
    height: 50px;
    width: 42%;
}

.slider-controls {
    display: table;
    position: relative;
    width: 100%;
}

.play-video {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    img {
        display: block;
        width: 90%;
    }
}

.video-controls {
    color: white;
    display: table;
    float: left;
    font-size: 0.9em;
    overflow: hidden;
    width: 50%;
    .image {
        display: table-cell;
        vertical-align: middle;
    }
    .video-details {
        display: table-cell;
        // padding-left: 1em;
        padding-left: 0.5em;
        vertical-align: middle;
    }
}

.control-section {
    float: right;
    padding-top: 7px;
    width: 50%;
}

.video-title {
    font-size: 0.7em;
    text-transform: uppercase;
    @media only all and (min-width: 40em) {
        font-size: 0.9em;
    }
}

.video-length {
    color: darken($lightBrown, 30%);
    @extend %CenturyStd-Book;
    display: none;
}

@media only all and (min-width: 35em) {
    .brow {
        display: table;
        width: 100%;
    }
    .video-controls {
        display: table-cell;
        vertical-align: middle;
        width: auto;
    }
    .control-section {
        display: table-cell;
        vertical-align: middle;
        width: 270px;
        width: 300px;
    }
    .video-title {
        font-size: 1em;
    }
}

@media only all and (min-width: 51em) {
    .video-controls {
        background-color: rgba(164,113,64,1);
        border-bottom: 4px solid #dcc3ab;
        float: none;
        margin-bottom: 0;
        padding-left: 20px;
        padding-top: 7px;
    }
    .control-section {
        float: none;
        padding-top: 0;
        vertical-align: top;
    }
    .intro-stage {
        position: relative;
        .intro-text {
            clear: both;
            max-width: none;
            padding-bottom: 0;
            padding: 0 !important;
            
        }
    }
    .brow-filler {
        display: block;
    }
    .brow {
        background: transparent;
        border-bottom: 0;
        display: table;
        height: 50px;
        padding: 0;
        table-layout: fixed;

        float: right;
        width: 58%;
        .flex-control-nav {
            background-color: rgba(164,113,64,1);
            border-bottom: 4px solid #dcc3ab;
            float: none;
            height: 50px;
            padding-right: 16px;
            padding-top: 4px;
            text-align: right;
            li {
                a {
                    background: #b88554;
                    position: relative;
                    z-index: 2;
                }
            }
        }
        .flex-direction-nav {
            display: table-cell;
            float: none;
            height: 50px;
            width: 125px;
            .flex-next {
                background: transparent url(../img/arrow-short-white-right.png) no-repeat 0 0;
                right: 20px;
                top: 20px;
            }
            .flex-prev {
                background: transparent url(../img/arrow-short-white-left.png) no-repeat 0 0;
                left: 20px;
                top: 20px;
            }
            &:before {
                background-color: rgba(164,113,64,1);
                border-bottom: 4px solid #dcc3ab;
                content: '';
                display: block;
                float: right;
                height: 50px;
                width: 123px;
            }
        }
    }

    .video-length {
        color: darken($lightBrown, 25%);
        display: inline-block;
    }

    .leadin {
        float: left;
        position: relative;
        width: 42%;
    }

    .slide-content {
        float: right;
        padding: 4rem 3rem 3rem 1.25rem;
        width: 58%;
        .text {
            max-width: 40em;
            p {
                margin-top: 0;
            }
        }
    }
}

@media only all and (min-width: 60em) {
    .intro-stage {
        .leadin {
            padding-bottom: 5rem;
            padding-top: 2rem;
        }
    }
}

.section {
    &--resources {
        background-color: #f2f2f0;
    }
    &--board {
        .container {
            padding-bottom: 3em !important;
            padding-top: 2em;
        }
    }
    &--general {
        line-height: 1.6;
        padding: 3.5rem 0 2.5rem;
        h1 {
            margin-top: 0;
        }
    }
}

.main {
    clear: both;
}

/*  Home Page - Resources */

.controls {
    background-color: #e8e7e3;
    @extend %AvenirLTStd-Heavy;
    text-transform: uppercase;

    font-size: 1em;
    padding: 2rem 1.5rem;
}

@media only all and (min-width: 50em) {
    .controls {
        display: table;
        width: 100%;
    }
}

.buckets {
    @extend %clearfix;
}

.bucket {
    background-size: cover !important;
    color: #fff;
    display: block;
    line-height: 1.8;
    overflow: hidden;
    padding: 10% 1.5rem;
    &--video {
        background: transparent url(../img/bg-clock.jpg) no-repeat 0 0;
    }
    &--historical {
        background: transparent url(../img/bg-sculpture.jpg) no-repeat 0 0;
    }
    h3 {
        color: #fff;
        @extend %AvenirLTStd-Heavy;
        font-size: 1em;
        line-height: 1.2;
        text-transform: uppercase;
    }
    p {
        font-size: 0.9em;
    }
    .more {
        margin-top: 2rem;
    }
    .more-link {
        background: transparent url(../img/arrow-long-white.png) no-repeat 0 0;
        display: block;
        height: 7px;
        @include hide-text;
        width: 84px;
    }
}

@media only all and (min-width: 31em) {
    .buckets {
        display: table;
        width: 100%;
    }
    .bucket {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }
}

.content-panel {
    line-height: 1.8;
    max-width: 50em;
    padding: 2.5rem 1.5rem 1.5rem;
    p, ol, ul {
        margin-top: 0;
    }
}

#content--more {
    display: none;
}

.view-more {
    background-color: #82817c;
    color: #272927;
    color: white;
    display: inline-block;
    @extend %AvenirLTStd-Heavy;
    font-size: 0.8em;
    line-height: 1;
    padding: 0.9rem 1.25rem 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms;
    &:hover, &:focus, &:active {
        background-color: darken(#82817c, 5%);
    }
}


/*  Home Page - Advisory Board  */

.section-header {
    border-bottom: 1px solid #dfddd5;
    color: #68665f;
    @extend %CenturyStd-Book;
    font-size: 1.3em;
    padding-bottom: 2rem;
    p {
        font-size: 0.9em;
        line-height: 1.5;
    }
    h2 {
        font-weight: normal;
    }
    @media only all and (min-width: 60em) {
        p, h2 {
            display: inline-block;
        }
        h2 {
            margin-right: 2rem;
        }
    }
}

.section--board {
    font-size: 0.9em;
    line-height: 1.5;
    .content {
        @extend %clearfix;
        color: #82817c;
        margin-top: 3rem;
    }
    .col {
        max-width: 40rem;
        &--left {
            margin-bottom: 2rem;
        }
    }
    .member {
        margin-bottom: 2rem;
        p {
            margin: 0;
        }
    }
    .name {
        color: #272927;
        font-size: 1.1em;
        @extend %AvenirLTStd-Heavy;
    }
    .entry {
        margin-bottom: 1rem;
    }
}

@media only all and (min-width: 50em) {
    .col--left {
        float: left;
        margin-right: 10%;
        width: 45%;
    }
    .col--right {
        float: right;
        width: 45%;
    }
}

/*  Home Page -- Explore  */

.section--explore {
    background-color: #272927;
    @extend %clearfix;
    .container {
        padding: 0;
    }
    .content {
        border-bottom: 1px solid #353635;
        color: #d2cfc3;
        line-height: 2;
        padding: 4rem 1.5rem;
        h3 {
            color: white;
            font-size: 1.5em;
            @extend %CenturyStd-Book;
            line-height: 1.4;
            margin: 0 0 2rem;
        }
        a {
            text-decoration: none;
        }
        .container {
            padding-bottom: 3rem;
            padding-top: 3rem;
        }
    }
    .interior {
        max-width: 40rem;
    }
    .body-content {
        font-size: 0.9em;
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .more {
        margin: 2rem 0 0;
    }
    .learn-more {
        @extend %AvenirLTStd-Heavy;
        letter-spacing: 1px;
        text-transform: uppercase;
        .text {
            display: inline-block;
            font-size: 0.8em;
            margin-bottom: 0.5rem;
            margin-right: 20px;
            @extend %activeUnderline;
        }
        &:hover, &:focus, &:active {
            .text {
                text-decoration: underline;
            }
        }
    }
    .arrow {
        display: inline-block;
    }
}

.portal {
    color: #c7c5bd;
    line-height: 1.5;
    padding: 4rem 1.5rem;
    a {
        text-decoration: none;
    }
}

.listing {
    margin-bottom: 4em;
    h3 {
        background: transparent url(../img/dotted-border-light-horizontal.png) repeat-x 0 bottom;
        color: #f2f2f0;
        @extend %CenturyStd-Book;
        font-size: 1em;
        letter-spacing: 2px;
        margin: 0 0 2rem;
        padding-bottom: 0.75rem;
        text-transform: uppercase;
    }
    .entry {
        margin-bottom: 2rem;
    }
    .footer {
        margin-top: 2rem;
    }
    .view-all {
        @extend %AvenirLTStd-Heavy;
        font-size: 0.8em;
        &:hover, &:focus, &:active {
            background-color: darken(#82817c, 5%);
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
    &--proposals {
        position: relative;
        .entry {
            &:after {
                background-color: #c7c5bd;
                content: '';
                display: block;
                height: 2px;
                margin-top: 1.5rem;
                width: 8px;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
}

.article-list {
    max-width: 40rem;
}

.entry {
    font-size: 0.9em;
    .title {
        @extend %activeUnderline;
        font-size: 1.3em;
        line-height: 1.2;
    }
}

.view-all {
    background-color: #82817c;
    color: #272927;
    display: inline-block;
    line-height: 1;
    padding: 0.9rem 1.25rem 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms;
}

@media only all and (min-width: 40em) {
    .listing {
        float: left;
        margin-right: 12%;
        width: 44%;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media only all and (min-width: 64em) {
    .section--explore {
        display: table;
        width: 100%;
        .content {
            border-bottom: 0;
            border-right: 1px solid #353635;
            display: table-cell;
            vertical-align: top;
            width: 36%;
        }
        .portal {
            display: table-cell;
            vertical-align: top;
            width: 64%;
            .container {
                padding-top: 3rem;
            }
        }
    }
    .hemi {
        padding: 0 3.5rem;
    }
}

/*  Site Footer  */

.site-footer {
    background-color: $darkBrown;
    overflow: hidden;
    .main-area {
        color: #535353;
        font-size: 1em;
        line-height: 1.6;
        text-align: center;
        .content {
            margin: 0 auto;
            max-width: 46rem;
        }
        
        .container .content {
            font-size:.75em;
        }
    }
    @media only all and (min-width: 40em) {
        font-size: 1.2em;
    }
}

.resources {
    border-top: 1px solid #272927;
    @extend %clearfix;
    list-style: none;
    margin: 0;
    padding: 0 1.5rem 3rem;
    text-align: center;
    li {
        display: block;
        margin: 3rem 0 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    img {
        display: block;
        margin: 0 auto;
    }
    @media only all and (min-width: 40em) {
        li {
            display: inline-block;
            float: none;
            margin: 3rem 2rem 0;
            width: auto;
        }
        img {
            display: inline-block;
        }
    }
}

/*  Off-Canvas Menu  */

.site {
    position: relative;
    transition: all 0.3s ease-out;
}
.site.active {
    transform: translateX(16em);
}
nav[role=navigation] {
    background: $darkBrown;
    clear: both;
    overflow: hidden;
}
nav[role=navigation] {
    width: 16em;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-16em);
}
nav[role=navigation] ul {
    margin: 0;
    padding: 0;
}
nav[role=navigation] li a {
    border-bottom: 1px solid #5e5d57;
    color: #eee8de;
    display: block;
    padding: 0.8rem;
    text-decoration: none;
}
.page {
    clear: both;
}

/*  Misc  */
.popup {
    position: relative;
    background: #FFF;
    padding: 1em 2em;
    width: auto;
    max-width: 40rem;
    margin: 20px auto;
}

.privacy-policy {
    font-size: 0.9em;
    line-height: 1.4;
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
    }
}

/*  Containers  */
@media only all and (min-width: 40em) {
    .banner, .section--explore {
        .content {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    .intro-stage {
        .intro-text {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    .brow, .portal, .bucket, .control-area li, .resources, .content-panel, .controls {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .control-label {
        padding-left: 2rem;
    }
}
/*  padding rules  */
@media only all and (min-width: 50em) {
    .intro-stage {
        .leadin {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .intro-text {
            padding-left: 1rem;
            padding-right: 2rem;
        }
    }
}

@media only all and (min-width: 51em) {
    .brow {
        padding: 0;
    }
}

@media only all and (min-width: 60em) {
    .site-header{
        .container {
            padding: 2rem 3rem;
        }
    }
    .banner, .section--explore {
        .content {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    .intro-stage {
        .leadin {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    .portal, .bucket, .resources, .content-panel, .controls {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .control-label {
        padding-left: 3rem;
    }
}

@media only all and (min-width: 80em) {
    .intro-stage {
        .intro-text {
            padding-bottom: 3rem;
            padding-top: 3rem;
        }
    }
}

@media only all and (min-width: 100em) {
    .intro-stage {
        .intro-text {
            padding-bottom: 4rem;
            padding-top: 4rem;
        }
    }
}



@media only all and (min-width: 64em) {
    .section--resources {
        .container {
            display: table;
            height: 100%;
            table-layout: fixed;
            width: 100%;
        }
    }
    .module-wrapper {
        display: table-row;
        height: 100%;
    }
    .buckets {
        display: table-cell;
        position: relative;
        vertical-align: top;
        width: 300px;
        .wrapper {
            align-content: center;
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: flex; 
            flex: 1;
            flex-direction: column;
            height: 100%;
            justify-content: center;

        }
        .bucket {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            min-height: 224px;
        }
    }
    .bucket {
        display: block;
        width: 100%;
    }
    .modules {
        display: table-cell;
        vertical-align: top;
    }
    .view-more {
        display: none;
    }
    #content--more {
        display: block;
    }
}

@media only all and (min-width: 80em) {
    .content-panel {
        column-count: 2;
        column-gap: 60px;
        max-width: none;
    }
}

.advisors {
    display: none;
    @media only all and (min-width: 40em) {
        display: block !important;
    }
}

.reveal {
    background-color: #e8e7e3;
    color: #acaaa3;
    @extend %AvenirLTStd-Heavy;
    display: block;
    font-size: 0.8em;
    line-height: 1;
    margin: 0 auto 1.5rem;
    max-width: 300px;
    padding: 0.9rem 1.25rem 0.8rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms;
    width: 100%;
    &:hover, &:focus, &:active {
        background-color: darken(#e8e7e3, 3%);
    }
    @media only all and (min-width: 40em) {
        display: none;
    }
}

/*  Browsehappy Statement */

.browsehappy {
    color: white;
    padding: 0 2em;
    text-align: center;
}

/*  Privacy  */

.privacy {
    h2 {
        @extend %AvenirLTStd-Roman;
        margin: 2rem 0 0;
    }
}







/*  Author  */

.author-portrait {
    padding: 3rem 2rem;
    img {
        display: block;
        // margin: 0 auto;
    }

    .header {
        color: $lightBrown;
        @extend %CenturyStd-Book;
        font-size: 1.9em;
        line-height: 1;
        margin-bottom: 0.67em;
        @media only all and (min-width: 25em) {
            font-size: 2.375em;
        }
        @media only all and (min-width: 30em) {
            font-size: 2.85em;
        }
        @media only all and (min-width: 35em) {
            font-size: 3.325em;
        }
        @media only all and (min-width: 40em) {
            font-size: 3.8em;
        }
        @media only all and (min-width: 60em) {
            display: none;
        }
    }
}

.author-details {
    border-top: 1px solid #ccc;
    font-size: 0.8125em;
    line-height: 1.5;
    padding: 3rem 2rem;
    a {
        text-decoration: none;
    }
}

.author-fact {
    display: table;
    margin-bottom: 0.75rem;
    width: 100%;
    &:last-child {
        margin-bottom: 0;
    }
}

.author-meta-title {
    display: table-cell;
    @extend %AvenirLTStd-Heavy;
    width: 8em;
}

.author-meta-details {
    display: table-cell;
}

.author-content {
    border-top: 1px solid #ccc;
    line-height: 1.8;
    padding: 3rem 2rem 2rem;
    h1 {
        display: none;
        margin-top: 0;
        @media only all and (min-width: 60em) {
            display: block;
        }
    }
}

.author-aside {
    border-top: 1px solid #ccc;
    font-size: 0.875em;
    line-height: 1.6;
    padding: 3rem 2rem;
    h3 {
        color: black;
        @extend %AvenirLTStd-Heavy;
        margin-top: 0;
    }
}

.aside-block {
    margin-bottom: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.section--author {
    @extend %clearfix;
}

@media only all and (min-width: 40em) {
    .author-portrait, .author-details, .author-content, .author-aside {
        padding: 4rem 3rem;
    }
}

@media only all and (min-width: 60em) {
    .section--author {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .col--author-info {
        border-right: 1px solid #ccc;
        display: table-cell;
        vertical-align: top;
        width: 40%;
    }
    .col--author-main {
        display: table-cell;
        vertical-align: top;
        width: 60%;
    }
    .author-content, .author-aside {
        padding: 4rem;
    }
}

@media only all and (min-width: 80em) {
    .author-portrait, .author-details, .author-content, .author-aside {
        padding: 5rem 3rem;
    }
    .col--author-info {
        width: 20rem;
    }
    .author-content {
        float: left;
        width: 70%
    }
    .author-aside {
        float: left;
        width: 30%;
    }
    .aside-block {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
    }
}

@media only all and (min-width: 100em) {
    .author-content, .author-aside {
        padding: 7rem 4rem;
    }
    .author-portrait {
        padding: 7rem 4rem 4rem;
    }
    .author-details {
        padding: 4rem 3rem;
    }
}



/*  Comp  */

.section--comp {
    font-size: 0.8275em;
    font-size: 0.875em;
    line-height: 1.6;
    h1 {
        margin-top: 0;
    }
    h2 {
        color: black;
        font-size: 1.6em;
        @extend %AvenirLTStd-Heavy;
    }
    ul, ol {
        margin-left: 1.5rem;
        padding: 0;
        li {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .aside {
        display: none;
        img {
            margin: 0 0 2rem;
            max-width: 250px;
            width: 100%;
        }
    }
    .content {
        .text {
            max-width: 50em;
        }
    }
    a {
        text-decoration: none;
    }
}
.table-of-contents {
    // @extend %AvenirLTStd-Heavy;
    
    h3 {
      border-bottom: 1px solid #ccc;
      color: #292626;
      margin-bottom: 2rem;
    }
    ol {
      color: #b88554;
    }
}


.sidenote {
    text-transform: uppercase;
}

.acc-trigger {
    border-bottom: 1px solid #ccc;
    color: black;
    cursor: pointer;
    display: block;
    @extend %AvenirLTStd-Heavy;
    line-height: 1.2;
    padding: 0.5rem 1rem 0.5rem 0;
    position: relative;
    &:after {
        content: "\f063";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        position: absolute;
        right: 0;
        top: 0.55rem;
    }
    &.active {
        &:after {
            content: "\f062";
        }
    }
}

.acc-segment {
    display: none;
    p, ol, ul {
        margin-top: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.single-question {
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.question {
    @extend %AvenirLTStd-Heavy;
    font-size: 1em;
}

@media only all and (min-width: 60em) {
    .section--comp {
        .content {
            font-size: 1.1em;
        }
        .interior {
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        .aside {
            display: table-cell;
            vertical-align: top;
            width: 25%;
        }
        .content {
            display: table-cell;
            padding-left: 5%;
            vertical-align: top;
            width: 70%;
        }
    }
    .acc-trigger {
        border-bottom: 0;
        cursor: default;
        &:after {
            display: none;
        }
    }
    .acc-segment {
        display: block !important;
    }

    .addl-info {
        .header {
            width: 10rem;
        }
    }

}

.site-header {
    &.condensed {
        .signup-form {
            margin-right: 0;
            input {
                height: 32px;
            }
            .submit {
                height: 32px;
            }
        }
        .logo {
            margin-left: 0;
        }
        .logo-area {
            img {
                width: 80px;
            }
        }
        @media only all and (min-width: 60em) {
            .container {
                padding-bottom: 1rem;
                padding-top: 1rem;
            }
        }
    }
}


/*  Bibliography  */

.section--bibliography {
    line-height: 1.6;
    .panel-title {
        text-transform: none;
    }
    .interior {
        @extend %clearfix;
    }
}

.book {
    h2, h3, h4, h5, h6 {
        color: black;
        @extend %AvenirLTStd-Heavy;
        margin-top: 0;
        text-transform: uppercase;
    }
    h3, h4, h5, h6 {
        border-bottom: 1px solid #ccc;
        padding: 0.5rem 0 0.5rem 0;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.1em;
    }
    h4 {
        font-size: 1.1em;
        font-size: 1em;
    }
    h5 {
        font-size: 0.9em;
    }
    h6 {
        font-size: 0.9em;
    }
}

.author {
    @extend %AvenirLTStd-Heavy;
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;
}

.work {
    font-size: 0.9375em;
    .citation, &>.summary, .editions {
        margin-left: 0;
    }
}

.work section {
    margin-bottom: 1rem;
    margin-left: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}

.nav-panel {
    margin-top: 4rem;
    h3 {
        background-color: #e8e7e3;
        background-color: rgba(164,113,64,1);
        color: white;
        @extend %AvenirLTStd-Heavy;
        font-size: 0.9275em;
        margin-top: 0;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
    }
    a {
        text-decoration: none;
    }
}

section.summary > .content {
    padding-left: 20px;
}

@media only all and (min-width: 60em) {
    .nav-panel {
        float: left;
        margin-right: 5%;
        margin-top: 0;
        width: 25%;
    }
    .book.work {
        float: right;
        width: 70%;
    }
}

.panel-title {
    background-color: #efefef;
    border-bottom: 0 !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    &:after {
        right: 0.5rem;
    }
}

.panel-body {
    margin-bottom: 2rem;
    padding-left: 0.5rem;
}

.cover {
    overflow: hidden;
    position: relative;
    p {
        margin-top: 0;
    }
}

.cover-expand {
    display: none;
}

