<div class="banner">
   <h1>SDA Reader</h1>
</div>

<main class="threecol border">
   <aside class="left"></aside>
   <article>


      <h2>Thematic Overview Articles</h2>

      <div class="row">
         <div class="col-md-6">
            <h3>Meaning</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, facere est necessitatibus doloremque. In quidem voluptatibus eos praesentium, adipisci officia!</p>
            <a href="#" class="pull-right">Read More &raquo;</a>
         </div>
         <div class="col-md-6">
            <h3>Assessment</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nemo recusandae mollitia, quae ea provident eveniet in aliquid ab voluptates!</p>
            <a href="#" class="pull-right">Read More &raquo;</a>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <h3>Narrative</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ab molestias dolor eligendi voluptas ullam quibusdam illo, amet suscipit dolore.</p>
            <a href="#" class="pull-right">Read More &raquo;</a>
         </div>
         <div class="col-md-6">
            <h3>Imagination</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo aspernatur animi cupiditate, consectetur tempora libero ut cumque, quo atque ad!</p>
            <a href="#" class="pull-right">Read More &raquo;</a>
         </div>
      </div>


   </article>
   <aside class="right">


      <div>
         <h2>Thematic Overviews</h2>
         <ul class="compact">
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
         </ul>
      </div>
      <div>
         <h2>Articles</h2>
         <ul class="compact">
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
         </ul>
      </div>
      <div>
         <h2>Book Reviews</h2>
         <ul class="compact">
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
         </ul>
      </div>
      <div>
         <h2>Biographies</h2>
         <ul class="compact">
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
         </ul>
      </div>


   </aside>
</main>
