.sidebar {
   position: relative;
   background: $sidebar-bg;

   &-fixed {
      position: fixed;
      top: $header-height;
      bottom: 0;
      z-index: 1;
   }

   &-tabbed {
      margin-right: 2rem;

      nav.tabs {
         position: absolute;
         top: 0;
         left: 100%;
         transform: rotate(90deg);
         transform-origin: bottom left;

         $active-bg: $sidebar-bg;
         $active-fg: black;
         $focus-bg: darken($sidebar-bg, 1%);
         $focus-fg: $active-bg;
         $inactive-bg: darken($sidebar-bg, 10%);
         $inactive-fg: #999;


         ul {
            margin: 0;
            padding: 0;
            list-style: none;
            white-space: nowrap;

            li {
               display: inline-block;

               a {
                  position: relative;
                  display: block;
                  background: $inactive-bg;
                  color: $inactive-fg;
                  cursor: pointer;
                  line-height: 2rem;
                  padding: 0 1rem 0 0;
                  margin-left: 1rem;
                  transition: background 0.3s;

                  &:before {
                     display: block;
                     content: '';
                     border-width: 1rem 0.5rem;
                     border-style: solid;
                     border-color: transparent $inactive-bg $inactive-bg transparent;
                     position: absolute;
                     left: -1rem;
                     transition: border-color 0.3s;
                  }

                  &:hover, &:focus {
                     background: $focus-bg;
                     &:before {
                        border-color: transparent $focus-bg $focus-bg transparent;
                     }
                  }

                  .icon {
                     transform: rotate(-90deg);
                     margin-right: 0.2em;
                  }
               }


               &.active a {
                  background: $active-bg;
                  color: $active-fg;

                  &:before {
                     border-color: transparent $active-bg $active-bg transparent;
                  }
               }
            }
         }
      }

      .panes {
         max-height: 100%;
         overflow: auto;
      }

      a.toplink {
         position: absolute;
         right: 1rem;
         bottom: 1rem;
         display: block;
         text-decoration: none;
         outline: 0;

         .label {
            opacity: 0;
            transition: opacity 0.4s;
         }

         &:hover .label {
            opacity: 1;
         }
      }
   }
}
