.sidebar {
   position: relative;
   background: $sidebar-bg;

   &-tabbed {
      margin-top: 2rem;

      @media screen and (min-width: $screen-md-min) {
         margin-top: 0;
         margin-right: 2rem;
      }

      nav.tabs {
         position: absolute;
         top: -2rem;

         @media screen and (min-width: $screen-md-min) {
            top: 0;
            left: 100%;
            transform: rotate(90deg);
            transform-origin: bottom left;
         }

         $active-bg: $sidebar-bg;
         $active-fg: black;
         $focus-bg: darken($sidebar-bg, 5%);
         $focus-fg: rgba(black, 0.5);
         $inactive-bg: darken($sidebar-bg, 10%);
         $inactive-fg: rgba(black, 0.3);


         ul {
            margin: 0;
            padding: 0;
            list-style: none;
            white-space: nowrap;

            li {
               display: inline-block;

               a {
                  position: relative;
                  display: block;
                  background: $inactive-bg;
                  color: $inactive-fg;
                  cursor: pointer;
                  line-height: 2rem;
                  padding: 0 1rem;
                  transition: background 0.3s, color 0.3s;

                  &:hover, &:focus {
                     background: $focus-bg;
                     color: $focus-fg;
                  }

                  @media screen and (min-width: $screen-md-min) {
                     padding-left: 0;
                     margin-left: 1rem;

                     &:before {
                        display: block;
                        content: '';
                        border-width: 1rem 0.5rem;
                        border-style: solid;
                        border-color: transparent $inactive-bg $inactive-bg transparent;
                        position: absolute;
                        left: -1rem;
                        transition: border-color 0.3s;
                     }

                     &:hover, &:focus {
                        &:before {
                           border-color: transparent $focus-bg $focus-bg transparent;
                        }
                     }
                  }

                  .icon {
                     margin-right: 0.2em;

                     @media screen and (min-width: $screen-md-min) {
                        transform: rotate(-90deg);
                     }
                  }

                  .icon + .label {
                     display: none;

                     @media screen and (min-width: $screen-sm-min) {
                        display: inline;
                     }
                  }
               }


               &.active {
                  a {
                     background: $active-bg;
                     color: $active-fg;

                     @media screen and (min-width: $screen-md-min) {
                        &:before {
                           border-color: transparent $active-bg $active-bg transparent;
                        }
                     }
                  }
               }
            }
         }
      }

      .panes {
         &.ng-hide {
            animation: slideOutLeft 0.3s;
            max-width: 0;
         }
      }

      a.toplink, a.backlink {
         position: absolute;
         bottom: 1rem;
         display: block;
         text-decoration: none;
         outline: 0;

         .label {
            opacity: 0;
            transition: opacity 0.4s;
         }

         &:hover .label {
            opacity: 1;
         }
      }

      a.toplink {
         right: 1rem;
      }

      a.backlink {
         left: 1rem;
      }
   }
}
