<aside class="sidebar sidebar-tabbed layout-column" ng-class="{'sidebar-fixed': fixed}">
   <nav class="tabs">
      <ul>
         <li ng-repeat="tab in vm.tabs" ng-class="{active: tab.active}">
            <a ng-click="vm.activateTab(tab)">
               <i ng-if="tab.icon" class="icon fa fa-{{tab.icon}}"></i>
               <span class="label">{{tab.title}}</span>
            </a>
         </li>
      </ul>
   </nav>
   <div class="panes flex layout-column" ng-transclude></div>
   <a href="" class="toplink" ng-click="vm.scrollToTop($event)" ng-if="toplink">
      <span class="label">top</span>
      <span class="icon fa-stack fa-lg">
         <i class="fa fa-circle fa-stack-2x"></i>
         <i class="fa fa-chevron-up fa-stack-1x fa-inverse"></i>
      </span>
   </a>
   <a href="" class="backlink" ng-click="vm.goBack()" ng-if="backlink">
      <span class="icon fa-stack fa-lg">
         <i class="fa fa-circle fa-stack-2x"></i>
         <i class="fa fa-chevron-left fa-stack-1x fa-inverse"></i>
      </span>
      <span class="label">back</span>
   </a>
</aside>
