<header sda-site-header></header>

<main fullpage-scroll>
   <fullpage-scroll-section>
      <sda-billboard slides="vm.slides"></sda-billboard>
      <a href="" class="scroll-indicator" ng-click="fullpageScroll.nextSection()">
         <span class="label">scroll down</span>
         <span class="icon fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i>
         </span>
      </a>
   </fullpage-scroll-section>

   <fullpage-scroll-section>
      <sda-nav>
         <sda-nav-bucket title="Introduction">
            <sda-nav-section title="Meaning">
               <header>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, quaerat.</header>
               <div class="row border">
                  <div class="col border">
                     <div class="panel">
                        <h3>Overview</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel">
                        <h3>Categorisation</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="col border">
                     <div class="panel">
                        <h3>Paradigms</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel">
                        <h3>Contemporary</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Narratives">
               <div class="row border">
                  <div class="col border">
                     <div class="panel">
                        <h3>Worldviews</h3>
                        <p>Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel">
                        <h3>Science</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="col border">
                     <div class="panel">
                        <h3>Philosophy</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel">
                        <h3>Theology and Religion</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Assessment">
               <div class="row border">
                  <div class="panel">
                     <h3>Epistemology</h3>
                     <p>
                        Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                     </p>
                  </div>
                  <div class="panel">
                     <h3>Causation</h3>
                     <p>
                        Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                     </p>
                  </div>
                  <div class="panel">
                     <h3>Information?</h3>
                     <p>
                        Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                     </p>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Imagination">
               <div class="row border">
                  <div class="col border">
                     <div class="panel">
                        <h3>Mechanistic</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel">
                        <h3>Illuminative</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="col border">
                     <div class="panel">
                        <h3>Organic</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel">
                        <h3>Interpersonal</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
         </sda-nav-bucket>
         <sda-nav-bucket title="Why Study SDA?">
            <sda-nav-section title="Humanities"></sda-nav-section>
            <sda-nav-section title="Sciences"></sda-nav-section>
            <sda-nav-section title="Creativity"></sda-nav-section>
            <sda-nav-section title="General"></sda-nav-section>
         </sda-nav-bucket>
         <sda-nav-bucket title="Digital Library">
            <sda-nav-section title="Overview">
               <div class="row border">
                  <div class="panel">
                     <h3>Project</h3>
                     <p>
                        Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                     </p>
                  </div>
                  <div class="panel">
                     <h3>Videos?</h3>
                     <p>
                        Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                     </p>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Sources">
               <div class="row border">
                  <div class="panel">
                     <h3>People</h3>
                     <p>
                        Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                     </p>
                  </div>
                  <div class="panel">
                     <h3>Works</h3>
                     <p>
                        Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                     </p>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Tools">
               <div class="row border">
                  <div class="col border">
                     <div class="panel">
                        <h3>Reader</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel">
                        <h3>Influence map</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="col border">
                     <div class="panel">
                        <h3>Spatial</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel">
                        <h3>Temporal</h3>
                        <p>
                           Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Search">
               <div class="row border">
                  <div class="panel">
                     <h3>By word</h3>
                     <p>
                        Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                     </p>
                  </div>
                  <div class="panel">
                     <h3>By author</h3>
                     <p>
                        Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                     </p>
                  </div>
                  <div class="panel">
                     <h3>By book</h3>
                     <p>
                        Primary source materials and the history of people and their interactions. <a href="">Learn More</a>
                     </p>
                  </div>
               </div>
            </sda-nav-section>
         </sda-nav-bucket>
      </sda-nav>
      <a href="" class="scroll-indicator" ng-click="fullpageScroll.nextSection()">
         <span class="label">scroll down</span>
         <span class="icon fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i>
         </span>
      </a>
   </fullpage-scroll-section>

   <fullpage-scroll-section class="about-project">
      <fullpage-scroll-slide ng-repeat="i in [1, 2, 3]">
         <div class="container">
            <h1>Advisory Board</h1>
            <div class="advisors">
               <div class="member" ng-repeat="advisor in vm.advisors">
                  <span class="name">{{advisor.name}}</span>
                  <span class="position">{{advisor.position}}</span>
               </div>
            </div>
         </div>
      </fullpage-scroll-slide>
      <a href="" class="scroll-indicator" ng-click="fullpageScroll.nextSection()">
         <span class="label">scroll down</span>
         <span class="icon fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i>
         </span>
      </a>
   </fullpage-scroll-section>

   <fullpage-scroll-section class="dark content-news">
      <div class="container">
         <aside>
            <h2>Explore one of the most profound influences on ideas, culture, and civilisation.</h2>
            <p>
               The Special Divine Action Project brings together enduring historical resources and contemporary scholarship to help you explore the full scope of this debate and reach your own conclusions.
            </p>
         </aside>
         <div class="content">
            <h3>Recent News</h3>
            <ol>
               <li ng-repeat="news in vm.recentNews">
                  <a class="title" href="">{{news.title}}</a>
                  <span class="description">{{news.description}}</span>
               </li>
            </ol>
         </div>
      </div>
      <a href="" class="scroll-indicator" ng-click="fullpageScroll.nextSection()">
         <span class="label">scroll down</span>
         <span class="icon fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i>
         </span>
      </a>
   </fullpage-scroll-section>

   <fullpage-scroll-section class="site-footer">
      <footer sda-site-footer></footer>
   </fullpage-scroll-section>
</main>
