<main class="section--article flex layout-row layout-align-center">
   <div class="container flex layout-row">
      <sda-tabbed-sidebar class="flex-25" toplink="true" backlink="true" go-back="vm.goBack()" active-tab="vm.activeTab">
         <sda-sidebar-tab class="layout-column layout-padding" title="Contents" icon="list" id="toc">
            <div class="toc flex content">
               <ol dx-start-with="vm.toc" du-scrollspy-context>
                  <li ng-repeat="node in $dxPrior.children" du-scrollspy="{{node.id}}" du-scroll-container="article-content">
                     <a ui-sref="sda.reader.article({id: vm.node.id, type: vm.articleType, scrollTo: node.id})" ng-click="vm.scrollTo(node.id, true, $event)">{{node.text}}</a>
                     <ol dx-connect="node"/>
                  </li>
               </ol>
            </div>
         </sda-sidebar-tab>
         <sda-sidebar-tab class="layout-column layout-padding" title="Links" icon="link" id="links">
            <div class="links flex content">
               <ul>
                  <li ng-repeat="link in vm.article.links" class="related related-{{link.type}}">
                     <i class="icon fa fa-{{link.icon}}"></i>
                     <a href="{{link.uri}}" rel="{{link.rel}}" ng-click="vm.goToLink(link, $event)">{{link.title}}</a>
                  </li>
               </ul>
            </div>
         </sda-sidebar-tab>
         <sda-sidebar-tab class="layout-column layout-padding" title="Footnotes" icon="sticky-note-o" id="footnotes">
            <div class="notes flex content">
               <ol du-scrollspy-context>
                  <li ng-repeat="note in vm.article.footnotes" ng-class="{active: note.active}" du-scrollspy="{{note.backlinkId}}" du-scroll-container="article-content">
                     <a ui-sref="sda.reader.article({id: vm.node.id, type: vm.articleType, scrollTo: note.backlinkId})" ng-click="vm.activateNote(note, $event)" ng-model="note.text" mathjax></a>
                  </li>
               </ol>
            </div>
         </sda-sidebar-tab>
         <sda-sidebar-tab class="layout-column layout-padding" title="Bibliography" icon="exchange" id="bibliography">
            <div class="refs flex content">
               <ol class="bibliography">
                  <li ng-repeat="item in vm.bibliography" ng-bind-html="item"></li>
               </ol>
            </div>
         </sda-sidebar-tab>
      </sda-tabbed-sidebar>

      <article id="article-content" class="flex content layout-padding">
         <div class="content">
            <div class="meta">
               <nav class="depth-chooser">
                  <ul>
                     <li><a href="">Overview</a></li>
                     <li class="active"><a href="">Detailed Article</a></li>
                  </ul>
               </nav>
               <h1>{{vm.article.title}}</h1>
               <p class="author-info" ng-if="vm.article.authors">
                  by
                  <span class="author" ng-repeat="author in vm.article.authors">
                     <a ng-if="author.contact.email" href="mailto:{{author.contact.email}}">{{author.name}}</a>
                     <span ng-if="!author.contact.email">{{author.name}}</span>
                  </span>
               </p>
            </div>
            <!-- NOTE: abstracts are not displayed here on purpose -->
            <article-parser body="vm.article.body" generate-toc="vm.toc = toc" footnotes="vm.article.footnotes" citations="vm.citations"></article-parser>
         </div>
      </article>
   </div>
</main>
