.section--article {
   padding-left: 2rem;
   padding-right: 4rem;
   background: #333;

   h2 {
      color: $textGrey;
   }

   > .container {
      background: #fff;

      > article {
         position: relative;

         .meta {
            margin-bottom: 2.5rem;

            h1 {
               margin-top: 0;
               margin-bottom: 0.5rem;
            }

            .author-info {
               margin: 0;
               font-size: 1.3em;
            }
         }

         article-parser {
           padding-left: 2rem;
           padding-right: 62rem;
           h1 {
             font-size:1.8em;
           }
         }

         section {
            margin: 1em 0;
         }

         cite, .footnote {
            font-style: normal;
            cursor: pointer;
            color: $copper;
         }
      }

      > .sidebar {
         .toc > ol {
            list-style: none;
            margin: 0;
            padding: 0;

            $active-bg: darken($sidebar-bg, 5%);

            ol {
               list-style: none;
               margin: 0;
               padding: 0;
               margin-left: 1em;
               display: none;
            }

            li {
               margin: 0.3em 0;

               a {
                  color: $textBrown;
                  display: block;
                  padding: 0.3em 0.6em;
                  border-radius: 4px;
                  outline: 0;
                  text-decoration: none;

                  &:hover {
                     background: $active-bg;
                  }

                  &:focus {
                     color: $textBrown;
                     background: inherit;
                  }
               }

               &.active {
                  & > a {
                     background: $active-bg;
                     color: $lightBrown;
                  }

                  & > ol {
                     display: block;
                  }
               }
            }
         }

         .links > ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
               position: relative;
               line-height: 1.3;
               margin: 0 0 1em;
               font-style: italic;
               padding-left: 1.5em;

               .icon {
                  position: absolute;
                  left: 0;
                  top: 1px;
               }

               a {
                  text-decoration: none;
                  color: inherit;
               }
            }
         }

         .notes {
            font-size: 0.9em;
            line-height: 1.3;

            ol {
               margin: 0;
               padding: 0 0 0 1.5em;
               list-style: none;
               counter-reset: notes;

               li {
                  position: relative;
                  margin: 0.5rem 0;
                  color: #777;
                  cursor: pointer;

                  &:before {
                     position: absolute;
                     left: -1.5em;
                     content: counter(notes)  '.';
                     counter-increment: notes;
                  }

                  > a {
                     display: block;
                     width: 100%;
                     white-space: nowrap;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     text-decoration: none;
                     color: inherit;
                  }

                  &.active {
                     color: black;
                     cursor: auto;

                     > a {
                        white-space: normal;
                     }
                  }

                  p {
                     margin: 0.6em 0;

                     &:first-child {
                        margin-top: 0;
                     }

                     &:last-child {
                        margin-bottom: 0;
                     }
                  }
               }
            }
         }

         .refs > ol {
            margin: 0;
            font-size: 0.9em;
         }
      }
   }


}

ol.bibliography {
   @include hanging-list(2em);
   margin: 1rem 0;
   padding: 0;

   li {
      line-height: 1.3;
      margin: 0 0 0.5em;
   }
}
