$panel-gutter: 2.3rem;
$control-spacing: 0.2rem;
$control-bg: rgba(#000, 0.1);

@keyframes panelOpen {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes panelClose {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

body > .ui-draggable-dragging {
  width: 10em;
  background: #fff;
  box-shadow: $whiteframe-shadow-4dp;
}

.ui-draggable-handle {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.ui-draggable-dragging {
  cursor: grabbing;
}

.workspace {
  position: relative;

  .panel {
    position: absolute;
    transition: all 0.3s;

    &.resizing, &.ui-draggable-dragging {
      transition: none;
    }

    &.ng-enter {
      animation: panelOpen 300ms;
    }

    &.ng-leave {
      animation: panelClose 300ms;
    }

    &:focus {
      outline: 0;
    }

    > .panel-control {
      opacity: 0;
      transition: opacity .3s;
    }

    &:hover > .panel-control {
      opacity: .4;
    }

    .panel-control:hover {
      opacity: 1;
    }

    .drag-handle {
      position: absolute;
      left: -$panel-gutter;
      top: -$panel-gutter;
      width: $panel-gutter;
      height: $panel-gutter;
      border-radius: $panel-gutter / 2;
      border-bottom-right-radius: 0;
      background: $control-bg;
    }

    button.close {
      position: absolute;
      right: -$panel-gutter;
      top: -$panel-gutter;
      width: $panel-gutter;
      height: $panel-gutter;
      border-radius: $panel-gutter / 2;
      border-bottom-left-radius: 0;
      background: rgba(#900, 0.2);
      border: 0;
    }

    .resize-handle {
      position: absolute;
      bottom: -$panel-gutter;
      right: -$panel-gutter;
      width: $panel-gutter;
      height: $panel-gutter;
      background: $control-bg;
      cursor: nwse-resize;
      border-radius: $panel-gutter / 2;
      border-top-left-radius: 0;
      text-align: center;
      line-height: $panel-gutter;
    }

    .panel-area {
      position: absolute;

      &-top {
        top: -$panel-gutter;
        left: 0;
        right: 0;
        height: $panel-gutter;
        padding: 0 $control-spacing;
      }

      &-right {
        right: -$panel-gutter;
        top: 0;
        bottom: 0;
        width: $panel-gutter;
        padding: $control-spacing 0;
      }

      &-bottom {
        bottom: -$panel-gutter;
        right: 0;
        left: 0;
        height: $panel-gutter;
        padding: 0 $control-spacing;
      }

      &-left {
        left: -$panel-gutter;
        top: 0;
        bottom: 0;
        width: $panel-gutter;
        padding: $control-spacing 0;
      }

      > button {
        background: rgba(#ccc, 0.85);
        border: none;
        opacity: 0.62;
        color: inherit;
        padding: 0;
        margin: $control-spacing;
        font-size: inherit;

        min-width: $panel-gutter - 2 * $control-spacing;
        min-height: $panel-gutter - 2 * $control-spacing;
        border-radius: 5px;

        transition: opacity 0.3s;

        &:hover, &:focus, &:active {
          opacity: 1;
          outline: 0;
          cursor: pointer;
        }
      }
    }


    .content {
      background: #fff;
      box-shadow: $whiteframe-shadow-2dp;
      overflow: hidden;

      md-content {
        background: transparent;

        color: inherit;
      }
    }
  }
}
