@import 'variables';

$video-aspect-ratio: 9 / 16;

.section--media {
  .video {
    position: relative;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: $video-aspect-ratio * 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  aside.bio {
    background: $copper4;
    color: $cream1;
  }
}

ul.media-list {
  list-style: none;

  li {
    a {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      text-decoration: none;
      color: inherit;

      transition: background-color 200ms;

      &:hover {
        background-color: rgba(#000, 0.1);
      }

      > * {
        padding: 1rem;
      }

      .media-title {
        font-size: 1.3rem;
        margin: 0;
      }

      .media-speakers {
        font-size: 0.9rem;
        opacity: 0.54;
      }
    }
  }
}
