 <nav>
    <ul class="nav nav-collapsible">
       <li>
          <a href="{{ '/about/overview' | relative_url }}">Overview</a>
          <ul>
             <li><a href="{{ '/about/overview/motivation' | relative_url }}">Motivation</a></li>
             <li><a href="{{ '/about/overview/why-special' | relative_url }}">Why 'special' divine action?</a></li>
             <li><a href="{{ '/about/overview/approach' | relative_url }}">Our Approach</a></li>
             <li><a href="{{ '/about/overview/resources' | relative_url }}">Resources and Tools</a></li>
             <li><a href="{{ '/about/overview/outputs' | relative_url }}">Research Outputs</a></li>
             <li><a href="{{ '/about/overview/staff' | relative_url }}">Staff</a></li>
             <li><a href="{{ '/about/overview/advisors' | relative_url }}">Advisors</a></li>
             <li><a href="{{ '/about/overview/funding' | relative_url }}">Funding</a></li>
          </ul>
       </li>
       <li>
          <a href="{{ '/about/editorial' | relative_url }}">Editorial Approach</a>
          <ul>
             <li><a href="{{ '/about/editorial/preface' | relative_url }}">Preface</a></li>
             <li><a href="{{ '/about/editorial' | relative_url }}">Editorial Statement</a></li>
             <li><a href="{{ '/about/editorial/library' | relative_url }}">Digital Library</a></li>
             <li><a href="{{ '/about/editorial/reader' | relative_url }}">SDA Reader</a></li>
             <li><a href="{{ '/about/editorial/teaching' | relative_url }}">Teaching Centre</a></li>
             <li><a href="{{ '/about/editorial/audiovisual' | relative_url }}">Media Centre</a></li>
             <li><a href="{{ '/about/editorial/cite' | relative_url }}">How to Cite</a></li>
          </ul>
       </li>
       <li>
          <a href="{{ '/about/help' | relative_url }}">Getting Started</a>
          <ul>
             <li><a href="{{ '/about/help/getting-started' | relative_url }}">Five Minute Introduction</a></li>
             <li><a href="{{ '/about/help/library' | relative_url }}">Digital Library</a></li>
             <li><a href="{{ '/about/help/reader' | relative_url }}">SDA Reader</a></li>
             <li><a href="{{ '/about/help/audiovisual' | relative_url }}">Media Center</a></li>
             <li><a href="{{ '/about/help/teaching' | relative_url }}">Teaching Center</a></li>
          </ul>
       </li>
       <li>
          <a href="{{ '/about/relevance/relevance' | relative_url }}">Relevance</a>
          <ul>
             <li>
                <a href="{{ '/about/relevance/perspectives' | relative_url }}">Perspectives</a>
                <ul>
                  <li><a href="{{ '/about/perspectives/philosophers' | relative_url }}">Philosophers</a></li>
                  <li><a href="{{ '/about/perspectives/theologians' | relative_url }}">Theologians</a></li>
                  <li><a href="{{ '/about/perspectives/scientists' | relative_url }}">Scientists</a></li>
                  <li><a href="{{ '/about/perspectives/historians' | relative_url }}">Historians</a></li>
                  <li><a href="{{ '/about/perspectives/psychologists' | relative_url }}">Sociologists and Psychologists</a></li>
                  <li><a href="{{ '/about/perspectives/literary' | relative_url }}">Literary scholars</a></li>
                  <li><a href="{{ '/about/perspectives/scripture' | relative_url }}">Scripture scholars</a></li>
                  <li><a href="{{ '/about/perspectives/atheists' | relative_url }}">Atheists</a></li>
                  <li><a href="{{ '/about/perspectives/ministers' | relative_url }}">Ministers</a></li>
                  <li><a href="{{ '/about/perspectives/artists' | relative_url }}">Artists</a></li>
                  <li><a href="{{ '/about/perspectives/teachers' | relative_url }}">Teachers</a></li>
                  <li><a href="{{ '/about/perspectives/anyone' | relative_url }}">Anyone</a></li>
                </ul>
             </li>
             <li><a href="{{ '/about/relevance/study' | relative_url }}">Study Directions</a></li>
             <li><a href="{{ '/about/relevance/research' | relative_url }}">Research Directions</a></li>
          </ul>
       </li>
       <li>
          <a href="{{ '/about/contact' | relative_url }}">Contact Us</a>
       </li>
    </ul>
 </nav>
