<span class="authors"></span>
{% if pubDate %}
   (<time class="pubdate" datetime="{{ pubDate.calendar }}">{{ pubDate.description }}</time>)
{% endif %}
<span class="titleinfo">{{ title }}</span>
{% if pubPlace or publisher %}
   <span class="pubinfo">
      {%- if pubPlace -%}
         <span class="place">{{ pubPlace }}</span>
      {%- endif -%}
      {%- if publisher -%}
         :
         <span class="publisher">{{ publisher }}</span>
      {%- endif -%}
      .
   </span>
{% endif %}
