// local fonts

// Avenir LT Std

@font-face {
  font-family: 'AvenirLTStd';
  font-style: normal;
  font-weight: bold;
  src: url(#{$local-font-path}/AvenirLTStd-Heavy.eot);
  src: url(#{$local-font-path}/AvenirLTStd-Heavy.eot?#iefix) format('embedded-opentype'),
       url(#{$local-font-path}/AvenirLTStd-Heavy.woff) format('woff'),
       url(#{$local-font-path}/AvenirLTStd-Heavy.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirLTStd';
  font-style: normal;
  font-weight: normal;
  src: url(#{$local-font-path}/AvenirLTStd-Roman.eot);
  src: url(#{$local-font-path}/AvenirLTStd-Roman.eot?#iefix) format('embedded-opentype'),
       url(#{$local-font-path}/AvenirLTStd-Roman.woff) format('woff'),
       url(#{$local-font-path}/AvenirLTStd-Roman.ttf) format('truetype');
}

// Century Std

@font-face {
  font-family: 'CenturyStd';
  font-style: normal;
  font-weight: normal;
  src: url(#{$local-font-path}/CenturyStd-Book.eot);
  src: url(#{$local-font-path}/CenturyStd-Book.eot?#iefix) format('embedded-opentype'),
       url(#{$local-font-path}/CenturyStd-Book.woff) format('woff'),
       url(#{$local-font-path}/CenturyStd-Book.ttf) format('truetype');
}

@font-face {
  font-family: 'CenturyStd';
  font-style: italic;
  font-weight: normal;
  src: url(#{$local-font-path}/CenturyStd-BookItalic.eot);
  src: url(#{$local-font-path}/CenturyStd-BookItalic.eot?#iefix) format('embedded-opentype'),
       url(#{$local-font-path}/CenturyStd-BookItalic.woff) format('woff'),
       url(#{$local-font-path}/CenturyStd-BookItalic.ttf) format('truetype');
}

// typography style declarations
//

body {
  font-family: 'AvenirLTStd';
}

button, select, html, textarea, input {
  font-family: 'AvenirLTStd';
}

h1, h2, h3, h4, h5, h6 {
  &.content-heading {
    font-family: 'CenturyStd';
    font-weight: normal;
    color: $copper5;
  }

  .toolbar > & {
    margin: 0;
  }
}

section.content {
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    &.content-heading {
      margin-top: 0;
    }
  }
}

a {
  color: $copper5;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.bibentry-title, .title {
  font-style: italic;
}

.bibentry-label, .work-result-label, .bioentry-label {
  $result-item-indent: 1rem;
  display: block;
  line-height: 1.3;
  margin: 1rem 0;
  text-indent: -$result-item-indent;
  padding-left: $result-item-indent;
}
