$local-font-path: '../assets/fonts';
$md-icon-font-path: '../../bower_components/material-design-icons/iconfont';

// base color palette

$grey0: #ffffff;
$grey1: #f0f3f0;
$grey5: #acaaa3;
$grey7: #2e2e2e;
$grey8: #292626;

$brown8: #272927;
$brown9: #1a1b1a;

$cream1: #eee8de;

$copper3: #dcc3ab;
$copper4: #b88554;
$copper5: #a47140;

// semantic colors

$sidebar-bg: $grey1;

// import material colors

@import 'md-colors';
