@import 'variables';

// bower:scss
// endbower

@import 'typography';

// material icons

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(#{$md-icon-font-path}/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(#{$md-icon-font-path}/MaterialIcons-Regular.woff2) format('woff2'),
       url(#{$md-icon-font-path}/MaterialIcons-Regular.woff) format('woff'),
       url(#{$md-icon-font-path}/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// hide when angular is not yet loaded and initialized
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-sidenav {
  background-color: $sidebar-bg;

  > md-content {
    background-color: transparent;
  }

  overflow: visible;
}

md-toolbar {
  .logo {
    margin-right: 2rem;
    max-height: 66%;
  }

  .ox-brand {
    max-height: 66%;
  }
}

md-list-item > a.md-button {
  margin: 0;
}

md-fab-speed-dial.md-fab-straddle {
  &.md-fab-bottom-right {
    right: -36px;
  }
}

ol,ul {
  &.breadcrumbs {
    margin: 0;
    padding: 1em 0;
    list-style: none;

    > li {
      display: inline;

      &:after {
        content: ' / ';
        opacity: 0.54;
      }

      &:last-child:after {
        content: none;
      }

      > a {
        text-decoration: none;
      }
    }
  }

  &.properties {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      margin: 1em 0;

      .label {
        // font-weight: bold;
        font-size: 0.75em;
        opacity: 0.54;
        display: block;
      }
    }

    &-inline {
      margin: 0 -1em;
      > li {
        display: inline-block;
        margin: 1em;
      }
    }
  }
}

// CSL-rendered bibliography
.csl-bib-body {
  .csl-entry {
    text-indent: -1rem;
    padding-left: 1rem;
    margin: 1rem 0;
  }
}

// injector
// endinjector
