<sda-header md-sidenav-id="left" active-url="/themes"></sda-header>

<div layout="row" layout-align="center" flex class="article-display">
  <main class="container" layout="row" flex>
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-sm')" layout="column">
      <md-tabs md-selected="vm.activeTab" flex>
        <md-tab aria-label="Contents">
          <md-tab-label>
            <md-icon>toc</md-icon>
            <md-tooltip>Contents</md-tooltip>
          </md-tab-label>
          <md-tab-body>
            <div class="toc">
              <ol du-spy-context>
                <li ng-repeat="node in vm.toc.children"
                    ng-include="'toc-tree-item.html'"
                    ng-init="parent = vm.toc"
                    du-scrollspy="{{node.id}}"
                    du-scroll-container="article-content"></li>
              </ol>
              <script type="text/ng-template" id="toc-tree-item.html">
                <a ng-href="#{{node.id}}" du-smooth-scroll du-scrollspy>{{node.text}}</a>
                <ol ng-if="node.children.length > 0">
                  <li ng-repeat="node in node.children"
                      ng-include="'toc-tree-item.html'"
                      ng-init="parent = $parent.$parent.node"
                      du-scrollspy="{{node.id}}"
                      du-scroll-container="article-content"></li>
                </ol>
              </script>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab aria-label="Links">
          <md-tab-label>
            <md-icon>link</md-icon>
            <md-tooltip>Links</md-tooltip>
          </md-tab-label>
          <md-tab-body>
            <see-also token="vm.article.ref.token"></see-also>
          </md-tab-body>
        </md-tab>
        <md-tab aria-label="Footnotes">
          <md-tab-label>
            <md-icon>note</md-icon>
            <md-tooltip>Footnotes</md-tooltip>
          </md-tab-label>
          <md-tab-body>
            <div class="notes">
              <ol du-spy-context>
                <li ng-repeat="note in vm.orderedFootnotes track by note.id" ng-class="{active: note.active}" du-scrollspy="{{note.backlinkId}}" du-scroll-container="article-content">
                  <a ui-sref="article({id: vm.article.id, scrollTo: note.backlinkId})" ng-click="vm.activateNote(note, $event)" ng-model="note.content" mathjax></a>
                </li>
              </ol>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab aria-label="Bibliography">
          <md-tab-label>
            <md-icon>school</md-icon>
            <md-tooltip>Bibliography</md-tooltip>
          </md-tab-label>
          <md-tab-body>
            <div class="refs">
              <ol class="bibliography">
                <li ng-repeat="item in vm.bibliography.items" ng-bind-html="item"></li>
              </ol>
            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-sidenav>
    <md-content flex layout="row" id="article-content">
      <article layout="column" flex layout-padding layout-margin>
        <div class="article-meta">
          <h1 class="article-title">{{vm.article.title}}</h1>
          <p class="author-info" ng-if="vm.article.authors && vm.article.authors.length > 0">
            by
            <span class="author" ng-repeat="author in vm.article.authors">
              <a href="mailto:{{author.contact.email}}" ng-if="author.contact.email">{{author.name}}</a>
              <span ng-if="!author.contact.email">{{author.name}}</span>
            </span>
          </p>
        </div>
        <article-parser body="vm.article.body" generate-toc="vm.toc = toc" footnotes="vm.article.footnotes" citations="vm.citations"></article-parser>
      </article>
    </md-content>
  </main>
</div>
