<main class="section--article">
   <div class="container">
      <sda-tabbed-sidebar fixed="true" toplink="true" backlink="true" go-back="vm.goBack()" active-tab="vm.activeTab">
         <sda-sidebar-tab class="toc" title="Contents" icon="list" id="toc">
            <ol dx-start-with="vm.toc">
               <li ng-repeat="node in $dxPrior.children" du-scrollspy="{{node.id}}" offset="{{vm.scrollOffset}}">
                  <a ui-sref="sda.reader-article({id: vm.article.id, scrollTo: node.id})" ng-click="vm.scrollTo(node.id, true, $event)">{{node.text}}</a>
                  <ol dx-connect="node"/>
               </li>
            </ol>
         </sda-sidebar-tab>
         <sda-sidebar-tab class="links" title="Links" icon="link" id="links">
            Links to go here...
         </sda-sidebar-tab>
         <sda-sidebar-tab class="notes" title="Footnotes" icon="sticky-note-o" id="footnotes">
            <ol>
               <li ng-repeat="note in vm.article.footnotes" ng-class="{active: note.active}" du-scrollspy="{{note.backlinkId}}" offset="{{vm.scrollOffset}}">
                  <a ui-sref="sda.reader-article({id: vm.article.id, scrollTo: note.backlinkId})" ng-click="vm.activateNote(note, $event)" ng-model="note.text" mathjax></a>
               </li>
            </ol>
         </sda-sidebar-tab>
         <sda-sidebar-tab class="refs" title="Bibliography" icon="exchange" id="references">
            References to go here...
         </sda-sidebar-tab>
      </sda-tabbed-sidebar>
      <article>
         <div class="meta">
            <nav class="depth-chooser">
               <ul>
                  <li><a href="">Summary</a></li>
                  <li><a href="">Overview</a></li>
                  <li class="active"><a href="">Detailed Article</a></li>
               </ul>
            </nav>
            <h1>{{vm.article.title}}</h1>
            <p class="author-info" ng-if="vm.article.authors">by <a ng-repeat="author in vm.article.authors" href="mailto:{{author.email}}">{{author.name}}</a></p>
         </div>
         <article-parser body="vm.article.body" generate-toc="vm.toc = toc" footnotes="vm.article.footnotes"></article-parser>
      </article>
   </div>
</main>
