<div class="form-group">
  <label class="control-label" for="event-title">Title</label>
  <input type="text" id="event-title" name="event-title" class="form-control event-title" ng-model="event.title">
</div>

<div class="form-group">
  <label class="control-label" for="event-description">Description</label>
  <textarea id="event-description" name="event-description" class="form-control event-description" ng-model="event.description"></textarea>
</div>

<div class="form-group">
  <label class="control-label" for="event-location">Location</label>
  <input type="text" id="event-location" name="event-location" class="form-control event-location" ng-model="event.location">
</div>

<div class="form-group">
  <label class="control-label" for="event-date">Date</label>
  <input type="text" id="event-date" name="event-date" class="form-control event-date" ng-model="event.date.description">
  <!-- TODO add datepicker -->
</div>
