<md-dialog flex="50">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>Summary Editor</h3>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form ng-submit="vm.close()">
    <md-dialog-content>
      <!-- material-compliant padding not used since WYSIWYG text editor *is* the UI -->
      <summary-editor ng-model="vm.summary"></summary-editor>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary" type="submit">Done</md-button>
    </md-dialog-actions>
  </form>

</md-dialog>
