<section class="billboard">
  <div class="banners">
    <a href="" class="prev">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a href="" class="next">
      <i class="fa fa-chevron-right"></i>
    </a>
    {% for slide in page.billboard %}
      <div class="banner banner-{{ forloop.index }}" style="background-image:url({{ 'assets/images/banners/' | append: slide.banner.image | relative_url }})">
        <div class="container">
          <aside class="content {{ slide.banner.style }}">{{ slide.banner.content }}</aside>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="brow-container">
    <div class="brow">
      {% for slide in page.billboard %}
        {% if slide.video %}
          <a href="{{slide.video.url}}" class="play-video play-video-{{ forloop.index }}">
            <img src="{{ 'assets/images/icon-video-play.png' | relative_url }}" alt="play video">
            <span class="video-details">
              <span class="title">{{slide.video.label}}</span>
              {% if slide.video.length %}
                <span class="length">({{slide.video.length}})</span>
              {% endif %}
            </span>
          </a>
        {% endif %}
      {% endfor %}
      <ol class="control-nav">
        {% for slide in page.billboard %}
          <li><a href="" class="control-nav-trigger" data-index="{{ forloop.index }}">{{ forloop.index }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="intro-text">
    {% for slide in page.billboard %}
      <section class="slide container slide-{{ forloop.index }}">
        <div class="leadin">
          <p>{{ slide.leadin }}</p>
        </div>
        <div class="text">
          <p>{{ slide.content }}</p>
          {% if slide.more %}
            <a href="{{ slide.more.url }}" class="read-more">{{ slide.more.label }}</a>
          {% endif %}
        </div>
      </section>
    {% endfor %}
  </div>
</section>
