<section class="main-nav layout-fill layout-xs-column layout-sm-column layout-row">
  <ul class="buckets layout-column">
    {% for module in page.modules %}
      <li class="bucket flex layout-column" ng-repeat="module in vm.modules" ng-class="{active:module.active}">
        <a class="flex layout-column layout-align-center" href="#{{ module.title | slugify }}" ng-click="vm.setActive(module)"><span>{{ module.title }}</span></a>
      </li>
    {% endfor %}
  </ul>
  <div class="modules flex">
    {% for module in page.modules %}
      <div id="{{ module.title | slugify }}" class="module layout-column" ng-show="vm.active">
        <ul class="controls layout-row layout-wrap">
          {% for section in module.sections %}
            <li class="flex flex-xs-50" ng-repeat="section in vm.sections" ng-class="{active:section.active}">
              <a href="#{{ module.title | slugify }}-{{ section.title | slugify }}" ng-click="vm.setActive(section)">{{ section.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="panels flex">
          {% for section in module.sections %}
            <div id="{{ module.title | slugify }}-{{ section.title | slugify }}" class="panel-set" ng-show="vm.active">
              {% if section.content %}
                {{ section.content }}
              {% elsif section.panels %}
                <div class="layout-row layout-wrap layout-fill">
                  {% for column in section.panels %}
                    <div class="flex-50 flex-xs-100 layout-column">
                      {% for panel in column %}
                        <div class="panel flex-50 layout-column">
                          <div class="panel-content flex layout-column{% if panel.image %} panel-content-image{% endif %}" {% if panel.image %} style="background-image: url({{ '/assets/images/' | append: panel.image | relative_url }});"{% endif %}>
                            {% if panel.href %}
                              <a href="{{ panel.href | relative_url }}" class="flex">
                                <h3>{{ panel.title }}</h3>
                                <p>{{ panel.content }}</p>
                              </a>
                            {% elsif panel.video %}
                              <a class="flex layout-column" href="#{{ module.title | slugify }}-{{ section.title | slugify }}-{{ panel.title | slugify }}-video" data-toggle="modal">
                                {% if panel.title %}<h3>{{ panel.title }}</h3>{% endif %}
                                {% if panel.content %}<p>{{ panel.content }}</p>{% endif %}
                                <div class="flex layout-row layout-align-center-center">
                                  <i class="play-icon material-icons{% if panel.image %} inverse{% endif %}">play_circle_filled</i>
                                </div>
                              </a>
                            {% else %}
                              <div class="flex">
                                <h3>{{ panel.title }}</h3>
                                <p>{{ panel.content }}</p>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
