<nav>
  <ul class="nav nav-collapsible">
    <li><a href="{{ '/media/' | relative_url }}">Introductory Videos</a></li>
    <li>
      <a href="{{ '/media/big-questions/' | relative_url }}">Big Questions</a>
      <ul class="nav">
        <li><a href="{{ '/media/big-questions/audenaert/' | relative_url }}">Neal Audenaert</a></li>
        <li><a href="{{ '/media/big-questions/eastman/' | relative_url }}">Susan Eastman</a></li>
        <li><a href="{{ '/media/big-questions/goodman/' | relative_url }}">Lenn Goodman</a></li>
        <li><a href="{{ '/media/big-questions/harrison/' | relative_url }}">Peter Harrison</a></li>
        <li><a href="{{ '/media/big-questions/hutchinson/' | relative_url }}">Ian Hutchinson</a></li>
        <li><a href="{{ '/media/big-questions/keener' | relative_url }}">Craig S. Keener</a></li>
        <li><a href="{{ '/media/big-questions/mcgrew' | relative_url }}">Timothy McGrew</a></li>
        <li><a href="{{ '/media/big-questions/scruton' | relative_url }}">Sir Roger Scruton</a></li>
        <li><a href="{{ '/media/big-questions/swinburne' | relative_url }}">Richard Swinburne</a></li>
        <li><a href="{{ '/media/big-questions/tallis' | relative_url }}">Raymond C. Tallis</a></li>
      </ul>
    </li>

    <li>
      <a href="{{ '/media/presentations/' | relative_url }}">Presentations</a>
      <ul class="nav">
        <li><a href="{{ '/media/presentations/2014-Oxford/' | relative_url }}">SDA Conference 2014 (Oxford)</a></li>
        <li><a href="{{ '/media/presentations/2015-MIT/' | relative_url }}">SDA Conference 2015 (MIT)</a></li>
        <li><a href="{{ '/media/presentations/2016-AAR/' | relative_url }}">SDA Conference 2016 (AAR)</a></li>
        <li><a href="{{ '/media/presentations/IRC/' | relative_url }}">IRC Seminars</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ '/media/courses/' | relative_url }}">Course Lectures</a>
      <ul class="nav">
        <li><a href="{{ '/media/courses/deist-controversy/' | relative_url }}">The Deist Controversy</a></li>
        <li><a href="{{ '/media/courses/great-debate/' | relative_url }}">The Great Debate</a></li>
      </ul>
    </li>
    <li><a href="{{ '/media/albert/' | relative_url }}">Adventurs of Albert</a></li>
  </ul>
</nav>
