<header>
   <a href="#">
      <img class="site-logo" src="images/sda-logo-light.png" alt="SDA">
   </a>
</header>

<div class="banner">
   <h1>SDA Reader</h1>
</div>

<main class="threecol border">
   <aside class="left"></aside>
   <article>


      <h2>Thematic Overview Articles</h2>

      <div class="row">
         <div class="col-md-6">
            <h3>Meaning</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, facere est necessitatibus doloremque. In quidem voluptatibus eos praesentium, adipisci officia!</p>
            <a href="#" class="pull-right">Read More &raquo;</a>
         </div>
         <div class="col-md-6">
            <h3>Assessment</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nemo recusandae mollitia, quae ea provident eveniet in aliquid ab voluptates!</p>
            <a href="#" class="pull-right">Read More &raquo;</a>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <h3>Narrative</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ab molestias dolor eligendi voluptas ullam quibusdam illo, amet suscipit dolore.</p>
            <a href="#" class="pull-right">Read More &raquo;</a>
         </div>
         <div class="col-md-6">
            <h3>Imagination</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo aspernatur animi cupiditate, consectetur tempora libero ut cumque, quo atque ad!</p>
            <a href="#" class="pull-right">Read More &raquo;</a>
         </div>
      </div>


   </article>
   <aside class="right">


      <div>
         <h2>Thematic Overviews</h2>
         <ul class="compact">
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
         </ul>
      </div>
      <div>
         <h2>Articles</h2>
         <ul class="compact">
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
         </ul>
      </div>
      <div>
         <h2>Book Reviews</h2>
         <ul class="compact">
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
         </ul>
      </div>
      <div>
         <h2>Biographies</h2>
         <ul class="compact">
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
         </ul>
      </div>


   </aside>
</main>

<footer class="sticky">
   <div class="container">
      <div class="content">
         <p>
            The Special Divine Action project is hosted by Oxford University’s Bodleian Library. Please see the
            University’s standard policies on <a href="http://www.ox.ac.uk/copyright.html" target="_blank">Copyright</a>,
            <a href="http://www.admin.ox.ac.uk/dataprotection/privacypolicy" target="_blank">Privacy</a> and
            <a href="http://www.admin.ox.ac.uk/dataprotection/cookies" target="_blank">Cookies</a>.
            As the project grows and adds more content, we will provide more detail specific to the Special Divine Action Project.
         </p>
      </div>
      <ul class="logos">
          <li><img src="images/footer-logo-irc.png" alt=""></li>
          <li><img src="images/footer-logo-bodleian-libraries.png" alt=""></li>
          <li><img src="images/footer-logo-tees.png" alt=""></li>
          <li><img src="images/footer-logo-wmu.png" alt=""></li>
          <li><img src="images/footer-logo-jtf.png" alt=""></li>
      </ul>
   </div>
</footer>
