<div flex layout="column" layout-padding>
  <!-- title editor bar -->
  <md-content layout="row" flex="none">
    <md-input-container class="no-space" flex>
      <label>Title</label>
      <input type="text" ng-model="vm.article.title">
    </md-input-container>

    <div flex="none">
      <md-button class="md-raised md-primary" ng-click="vm.save()">Save</md-button>
    </div>
  </md-content>

  <div layout="column" flex="none" class="authors">
    <h3 layout="row">
      <span>Authors</span>
      <span flex></span>
      <span>
        <md-button class="md-icon-button" aria-label="add author" ng-click="vm.article.authors.push({})">
          <md-icon>add</md-icon>
          <md-tooltip>Add Author</md-tooltip>
        </md-button>
      </span>
    </h3>
    <div layout="row" ng-repeat="author in vm.article.authors">
      <article-author-editor author="author" flex></article-author-editor>
      <md-button class="md-icon-button md-warn" ng-click="vm.article.authors.splice($index, 1)" ng-if="vm.article.authors.length > 1">
        <md-icon>delete</md-icon>
        <md-tooltip>Remove Author</md-tooltip>
      </md-button>
    </div>
  </div>

  <!-- TODO add save button and auto-save -->
  <!-- TODO add sidebar for notes, biblio, links, etc -->

  <div id="article_editor" flex="noshrink" layout="column">
    <div
        ng-model="vm.article.body"
        ckeditor="vm.editor.config"
        ckeditor-bibliography="vm.references"
        ckeditor-footnotes="vm.article.footnotes">
    </div>

    <md-tabs flex="noshrink">
      <md-tab label="Abstract">
        <div ckeditor="vm.abstractEditor.config" ng-model="vm.article.abstract"></div>
      </md-tab>
      <md-tab label="Bibliography">
        <bibliography refs="vm.references" style-id="mla"></bibliography>
      </md-tab>
      <md-tab label="Footnotes">
        <div class="footnotes" ng-repeat="footnote in vm.article.footnotes" layout="row">
          <div class="footnote" ng-bind-html="footnote.content" flex></div>
          <md-button class="md-icon-button" aria-label="edit footnote" ng-click="vm.editFootnote($event, footnote)">
            <md-icon>edit</md-icon>
            <md-tooltip>Edit Footnote</md-tooltip>
          </md-button>
        </div>
      </md-tab>
      <md-tab label="See Also">
        <see-also-editor source-token="vm.article.ref.token"></see-also-editor>
      </md-tab>
    </md-tabs>
  </div>
  <!-- TODO how to make this fill all available space -->
</div>
