<ng-form name="copyForm" layout="column" flex>

  <md-input-container>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" ng-model="copy.title">
  </md-input-container>

  <div layout="row">
    <md-input-container>
      <label for="type">Type</label>
      <md-select name="type" id="type" ng-model="copy.type" required ng-change="vm.setProperties(copy.type, copyUrl)">
        <md-option ng-repeat="handler in vm.refHandlers" value="{{handler.id}}">{{handler.display}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex>
      <label for="url">URL</label>
      <input type="url" name="url" id="url" ng-model="copyUrl" ng-change="vm.setProperties(copy.type, copyUrl)">
    </md-input-container>
  </div>

  <ul class="properties properties-inline">
    <li ng-repeat="(key, value) in copy.properties">
      <span class="label">{{key}}</span>
      <span class="value">{{value}}</span>
    </li>
  </ul>

  <md-input-container>
    <label for="rights">Description of Rights</label>
    <input type="text" name="rights" id="rights" ng-model="copy.rights">
  </md-input-container>

  <h3>Summary</h3>
  <summary-editor ng-model="copy.summary" flex></summary-editor>

</ng-form>
