.section--bookreader {
   display: flex;

   .throbber {
      text-align: center;
      font-size: 2em;
      color: $textGrey;

      i {
         display: block;
         font-size: 1.5em;
      }
   }

   h1 {
      font-size: 2em;
   }

   .work-info-sidebar {
      font-size: 0.9em;
      line-height: 1.3;

      h1 {
         color: inherit;
         font-size: 1.5em;
      }

      .section--work {
         padding: 2rem 1rem;
      }
   }

   aside.sidebar {
      &.ng-hide {
         animation: slideOutLeft 0.3s;
      }

      &.ng-hide-remove {
         animation: slideInLeft 0.3s;
      }
   }

   .content {
      display: flex;
      flex-direction: row;
      position: relative;

      .fullscreen-toggle {
         position: absolute;
         display: block;
         left: 0rem;
         top: 0rem;
         width: 2rem;
         height: 2rem;
         font-size: 1.1rem;
         background: $copper;
         border: none;
         border-radius: 50%;
         color: $cream;
         text-align: center;
         cursor: pointer;

         transition: background-color 0.3s;

         &:hover, &:focus, &:active {
            background: lighten($copper, 10%);
         }
      }

      > section {
         flex: 1;
         display: flex;
         flex-direction: column;
         padding: 2rem;

         > .reader {
            flex: 1;
            border: 0;
         }
      }
   }
}
