@mixin author-link {
   font-size: 0.9em;
   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;
   cursor: pointer;
}


@mixin clearfix {
   &:before, &:after {
      content: ' ';
      display: table;
   }

   &:after {
      clear: both;
   }
}
