<div class="panel-person" flex layout="column">
  <h1>
    <span class="panel-label name">{{name}}</span>
  </h1>
  <md-tabs flex>
    <md-tab ng-if="person.summary">
      <md-tab-label>
        <md-icon>subject</md-icon>
      </md-tab-label>
      <md-tab-body>
        <div class="summary" ng-bind-html="person.summary"></div>
      </md-tab-body>
    </md-tab>
    <md-tab ng-if="panel.works &amp;&amp; panel.works.length > 0">
      <md-tab-label>
        <md-icon>content_copy</md-icon>
      </md-tab-label>
      <md-tab-body>
        <md-list>
          <md-list-item
            ng-repeat="item in panel.works"
            jqyoui-draggable="{animate:false}"
            data-jqyoui-options="{revert:'invalid',helper:'clone',appendTo:'body'}"
            data-drag="true">
            <div class="md-list-item-text">
              {{item.label}}
            </div>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
    <md-tab ng-if="panel.relatedPeople &amp;&amp; panel.relatedPeople.length > 0">
      <md-tab-label>
        <md-icon>link</md-icon>
      </md-tab-label>
      <md-tab-body>
        <div ng-repeat="group in panel.relatedPeople">
          <h3>{{group.label}}</h3>
          <md-list>
              <md-list-item
                  ng-repeat="item in group.relationships"
                  jqyoui-draggable="{animate:false}"
                  data-jqyoui-options="{revert:'invalid',helper:'clone',appendTo:'body'}"
                  data-drag="true">
                <div class="md-list-item-text">
                  {{item.name.label}}
                </div>
              </md-list-item>
            </div>
          </md-list>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
