<div class="partition partition-default">
   <h3 class="partition-title acc-trigger">{{ editionName }}</h3>

   {% if copyRef %}
      <div class="edition-copy readonline icon-only">
         <i class="fa fa-book"></i>
         <span class="sr-only">Read {{ editionName }} Online</span>
      </div>
   {% endif %}

   <div class="partition-body acc-segment">
      <section class="citation">
         <span class="authors"></span>
         <span class="titleinfo">{{ title }}</span>
         <span class="pubinfo"></span>
      </section>

      {% if summary | striptags %}
         <!-- TODO Handle if not supplied . . . probably supply default summary-->
         <section class="summary">
            <h4>Summary</h4>
            <div class="content">{{ summary }}</div>
         </section>
      {% endif %}

      {% if volumes | length > 0 %}
         <section class="volumes">
            <h4 class="acc-trigger">Volumes</h4>
            <div class="partition-body acc-segment"></div>
         </section>
      {% endif %}
   </div>
</div>
