<div class="partition partition-default">
   <h3 class="partition-title acc-trigger">{{ editionName }}</h3>
   <div class="partition-body acc-segment">
      <section class="citation">
         <span class="authors"></span>
         <span class="titleinfo">{{ title }}</span>
         <span class="pubinfo"></span>
      </section>

      <section class="summary">
         <h4>Summary</h4>
         <div class="content">{{ summary }}</div>
      </section>

      <section class="volumes">
         <h4 class="acc-trigger">Volumes</h4>
         <div></div>
      </section>
   </div>
</div>
