<h1>{{ title }}</h1>

<section class="citation">
   by <span class="authors"></span>
   {# }<span class="titleinfo">{{ title }}</span>. #}
</section>

{% if summary | striptags %}
   <section class="summary">
      <h2>Summary</h2>
      <div class="content">{{ summary }}</div>
   </section>
{% endif %}

{% if editions | length > 0 %}
   <section class="editions">
      <h2>Editions</h2>
      <div></div>
   </section>
{% endif %}

<!-- TODO display relationships? -->
