<h1>{{ title }}</h1>

<section class="citation">
   <span class="authors"></span>
   <span class="titleinfo">{{ title }}</span>.
</section>

<section class="summary">
   <h2>Summary</h2>
   <div class="content">{{ summary }}</div>
</section>

<section class="editions">
   <h2>Editions</h2>
   <div></div>
</section>

<!-- TODO display relationships? -->
