<md-toolbar class="layout-navbar">
  <div class="md-toolbar-tools" layout="row" layout-align="start stretch">
    <div layout="row" layout-align="center center">
      <md-button class="md-accent md-icon-button" ng-click="vm.toggleSidenav($event)">
        <md-icon>menu</md-icon>
      </md-button>
      <a class="logo" href="/" layout="column" layout-align="center center">
        <img src="/assets/images/sda-logo-light.png" alt="SDA" flex="nogrow">
      </a>
    </div>
    <sda-sitenav layout="column"></sda-sitenav>
  </div>
</md-toolbar>

<main layout="row" layout-align="center" flex>
  <md-sidenav class="book-info" md-component-id="left" class="md-sidenav-left" md-is-locked-open="vm.lockSidebar" layout="column" layout-padding>
    <div>
      <h1 class="md-title title">
        <work-title title="vm.work.titles"></work-title>
      </h1>
      <p class="by-line">by <work-authors authors="vm.work.authors"></work-authors></p>
    </div>
    <collapsible-summary ng-if="vm.work.summary" content="vm.work.summary"></collapsible-summary>
    <div flex></div>
    <relationships token="vm.work.ref.token"></relationships>
  </md-sidenav>
  <div layout="column" flex>
    <div ng-switch="vm.copyRef.type" layout="column" layout-padding flex>
      <hathitrust-reader ng-switch-when="hathitrust" book-id="vm.copyRef.properties.htid" page="vm.copyRef.properties.seq" flex></hathitrust-reader>
      <ia-reader ng-switch-when="internetarchive" book-id="vm.copyRef.properties.id" page="vm.copyRef.properties.seq" flex></ia-reader>
      <google-book-reader ng-switch-when="googlebooks" book-id="vm.copyRef.properties.id" flex></google-book-reader>
      <div ng-switch-default layout="column" layout-align="center center" flex>
        <div class="md-display-1" ng-if="vm.loading">
          Sorry. We were unable to load a book reader for that resource.
        </div>
        <div class="md-display-1" ng-if="!vm.loading" layout="column" flex layout-align="center center">
          <div>Loading book reader&hellip;</div>
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
      </div>
    </div>
  </div>
</main>
