---
---

@import 'variables';

@import
  'home/billboard',
  'home/nav';

main, .main {
  background-color: $grey0;
  color: $text;
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $header-height;
}

// this will go away when we release the site.
.disclaimer {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height;
  z-index: 9999;
  background: rgba(#000, 0.8);
  color: #fff;
  padding: 2rem;

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $screen-sm-min) {
      flex-direction: row;
    }

    .icon {
      color: #ff0;
      font-size: 3em;
      display: block;
      margin-bottom: 1.5rem;
      @media screen and (min-width: $screen-sm-min) {
        margin-bottom: 0;
        margin-right: 2rem;
      }
    }

    p {
      margin: 0;
      flex: 1;
    }
  }
}

.fullpage-scroll-section {
  position: relative;

  &.dark {
    background: $textBrown;
    color: #d2cfc3;

    h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }
  }

  .scroll-indicator {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 1rem;
    right: 1rem;
    text-decoration: none;
    outline: 0;
    z-index: 3;

    .label {
      opacity: 0;
      transition: opacity 400ms;
      margin-right: 0.75rem;
    }

    i {
      background: $copper4;
      border-radius: 3px;
      color: $md-light-overlay5;
      font-size: 2rem;
      display: block;
      height: 2rem;
      width: 2rem;
      line-height: 1;
    }

    &:focus, &:hover {
      .label {
        opacity: 1;
      }
    }
  }
}

.main-nav {
  form.search-form {
    .input-group {
      display: flex;
      flex-direction: row;

      input {
        flex-grow: 1;
        height: 2.5rem;
        margin: 0;
        padding: 0.5rem;
        border: 1px solid #999;
        border-right: 0;
        font-family: inherit;
        font-size: inherit;
        -moz-appearance: none;
        -webkit-appearance: none;

        &:focus {
          border-color: $copper;
        }
      }

      button {
        margin: 0;
        height: 2.5rem;
        min-width: 2.5rem;
        text-align: center;
        background: $copper;
        border: 1px solid $copper;
        color: $cream;
        cursor: pointer;
        transition: all 0.2s;
        text-transform: uppercase;
        padding: 0 1rem;

        > span {
          font-size: 0.95em;
          letter-spacing: 1px;
        }

        &:focus, &:hover {
          background: lighten($copper, 5%);
        }

        &::-moz-focus-inner {
          border: 0;
        }

        &:active {
          background: darken($copper, 5%);
          box-shadow: inset 0 1px 5px rgba(0,0,0,0.3);
        }
      }
    }
  }
}

.about-project {
  .container {
    padding: 2rem 3rem;
  }

  .fp-controlArrow.fp-prev {
    border-right-color: $textGrey;
  }

  .fp-controlArrow.fp-next {
    border-left-color: $textGrey;
  }

  .advisors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media only screen and (min-width: 35em) {
      flex-direction: row;
    }

    .member {
      padding: 1em;

      @media only screen and (min-width: 35em) {
        width: 50%;
      }

      @media only screen and (min-width: 51em) {
        width: 33%;
      }

      @media only screen and (min-width: 70em) {
        width: 25%;
      }

      .name {
        color: $textBrown;
        font-weight: bold;
        display: block;
      }

      .position {
        font-size: 0.9em;
        color: $textGrey;
        display: block;
      }
    }
  }
}

.content-news {
  font-size: 0.9em;

  .container {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 51em) {
      flex-direction: row;
    }

    aside {
      padding: 2rem 3rem;
      flex: 1;
      border-bottom: 1px solid #353635;

      @media only screen and (min-width: 51em) {
        border-bottom: 0;
        border-right: 1px solid #353635;
      }
    }

    .content {
      padding: 2rem 3rem;
      flex: 2;
      display: flex;
      flex-direction: column;

      h1, h2, h3, h4, h5, h6 {
        line-height: 1.8;
        text-transform: uppercase;
        letter-spacing: 3px;
        border-bottom: 2px dotted #353635;
      }

      ol {
        margin: 0 0 2em;
        padding: 0;
        list-style: none;

        li {
          margin: 1rem 0;
          padding: 0 0 1rem;
          border-bottom: 1px solid #353635;

          &:last-child {
            border-bottom: 0;
          }

          .title {
            display: block;
            text-decoration: none;
            font-size: 1.3em;
          }
        }
      }
    }
  }
}

$video-aspect-ratio: 9/16;

.video-container {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: $video-aspect-ratio * 100%;

  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
