---
---
@import 'variables';
@import 'theme/typography';

$result-item-indent: 1rem;

.bibentry-title, .title {
  font-style: italic;
}

.bibentry-label, .bioentry-label {
  display: block;
  line-height: 1.3;
  text-indent: -$result-item-indent;
  padding-left: $result-item-indent;
}

.bibentry-label {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
