<div ng-repeat="group in $ctrl.relns">
  <h3 class="type-label">{{group.label}}</h3>
  <md-list>
    <div ng-repeat="reln in group.relationships">
      <md-list-item ng-repeat="entity in reln.entities" ui-sref="library.book({id: entity.refParams.workId})">
        <citation authors="entity.entity.authors" title="entity.entity.titles" pub-info="entity.entity.publicationInfo" edition="entity.entity.editionName" volume="entity.entity.volumeNumber"></citation>
      </md-list-item>
    </div>
  </md-list>
</div>
