<section class="titles" layout="column">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <h2>Titles</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="work.titles.push({})">
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div class="title" layout="row" ng-repeat="title in work.titles">
    <title-editor ng-model="title" flex></title-editor>
    <md-input-container>
      <md-button class="md-icon-button md-warn" ng-click="work.titles.splice($index, 1)">
        <md-icon>delete</md-icon>
      </md-button>
    </md-input-container>
  </div>
</section>

<section class="authors" layout="column">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <h2>Authors</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="work.authors.push({})">
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div class="author" layout="row" ng-repeat="author in work.authors">
    <author-ref-editor ng-model="author" flex></author-ref-editor>
    <md-input-container>
      <md-button class="md-icon-button md-warn" ng-click="work.authors.splice($index, 1)">
        <md-icon>delete</md-icon>
      </md-icon>
    </md-input-container>
  </div>
</section>

<section class="summary">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <h2>Summary</h2>
    </div>
  </md-toolbar>
  <summary-editor ng-model="work.summary" flex></summary-editor>
</section>

<section class="editions">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <h2>Editions</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.createEdition()">
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-whiteframe class="edition" layout="column" layout-margin ng-repeat="edition in vm.editions | orderBy:'publicationInfo.date.calendar'" ng-class="{ 'md-whiteframe-2dp': !edition.focused, 'md-whiteframe-8dp': edition.focused }">
    <h3 layout="row">
      <div flex layout="row" layout-align="start center" ng-click="edition.focused = !edition.focused">
        <md-icon>{{ edition.focused ? 'expand_less' : 'expand_more'}}</md-icon>
        <span>{{edition.model.editionName}}</span>
        <span flex></span>
      </div>
      <md-button class="md-icon-button md-warn" ng-click="vm.deleteEdition($index)">
        <md-icon>delete</md-icon>
      </md-button>
    </h3>
    <div class="slide" ng-show="edition.focused">
      <edition-editor ng-model="edition.model" flex></edition-editor>
    </div>
  </md-whiteframe>
</section>

<section class="copies">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <h2>Digital Copies</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="work.copies.push({})">
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div class="copy" layout="column" ng-repeat="copy in work.copies">
    <div layout="row">
      <copy-editor ng-model="copy" flex></copy-editor>
      <md-button class="md-icon-button md-warn" ng-click="work.copies.splice($index, 1)">
        <md-icon>delete</md-icon>
      </md-button>
    </div>
  </div>
</section>
