.page-banner--library {
   background-image: url('../assets/images/banners/slider-floating-books.jpg');
   padding: 0;

   .container {
      padding: $banner-padding 0;
      background-color: rgba(#000, 0.4);
      // h1 {
      //    text-shadow: 0 1px 3px #000;
      // }
   }
}

.section--library {
   display: flex;
   flex-direction: row;
   flex-grow: 1;

   > .container {
      display: flex;
      flex-direction: column;
      flex: 1;

      @media screen and (min-width: $screen-md-min) {
         flex-direction: row;
      }

      section {
         padding: 2rem 3rem;

         @media screen and (min-width: $screen-md-min) {
            padding: 2rem 1rem;
         }

         @media screen and (min-width: $screen-lg-min) {
            padding: 2rem;
         }
      }

      .content {
         flex: 2;

         @media screen and (min-width: $screen-lg-min) {
            flex: 3;
         }

         .landing {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: $screen-lg-min) {
               flex-direction: row;
            }

            .overview {
               @media screen and (min-width: $screen-lg-min) {
                  flex: 3;
               }
            }

            .key-items {
               border-top: 1px solid #ddd;

               h2 {
                  color: $textGrey;
               }

               ul {
                  list-style: none;
                  padding-left: x2rem;

                  li {
                     line-height: 1.3;
                     text-indent: -2rem;
                     margin-bottom: 1rem;
                  }
               }

               @media screen and (min-width: $screen-lg-min) {
                  flex: 2;
                  border-left: 1px solid #ddd;
                  border-top: 0;
               }
            }
         }
      }

      .sidebar {
         border-bottom: 1px solid #ddd;

         @media screen and (min-width: $screen-md-min) {
            flex: 1;
            border-bottom: none;
         }

         @media screen and (min-width: $container-max-width) {
            border: 0;
         }

         form {
            padding: 2rem;

            .input-group {
               display: flex;
               flex-direction: row;

               input {
                  flex-grow: 1;
                  height: 2.5rem;
                  margin: 0;
                  padding: 0.5rem;
                  border: 1px solid #999;
                  border-right: 0;
                  border-top-left-radius: 5px;
                  border-top-right-radius: 0;
                  border-bottom-left-radius: 5px;
                  border-bottom-right-radius: 0;
                  font-family: inherit;
                  font-size: inherit;
                  min-width: 2.5rem;
                  -moz-appearance: none;
                  -webkit-appearance: none;

                  &:focus {
                     border-color: $copper
                  }
               }

               button {
                  margin: 0;
                  height: 2.5rem;
                  min-width: 2.5rem;
                  background: $copper;
                  border: 1px solid $copper;
                  color: $cream;
                  border-top-right-radius: 5px;
                  border-bottom-right-radius: 5px;
                  cursor: pointer;
                  transition: all 0.2s;

                  &:hover, &:focus {
                     background: lighten($copper, 5%);
                  }

                  &::-moz-focus-inner {
                     border: 0;
                  }

                  &:active {
                     background: darken($copper, 5%);
                     box-shadow: inset 0 1px 5px rgba(0,0,0,0.3);
                  }
               }
            }
         }
      }

      .tools {
         margin: 0;
         padding: 0;
         list-style: none;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;

         li {
            max-width: 50%;
            min-width: 250px;
            padding: 1rem;
         }

         img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
         }
      }
   }
}
