<header sda-site-header class="site-header-home"></header>

<main fullpage-scroll>

   <div class="disclaimer">
      <div class="container">
         <i class="icon fa fa-exclamation-triangle"></i>
         <p>
            Thanks for your interest in the <em>Special Divine Action</em> Project! You've found our development and test site. Please feel free to look around, but understand that this is not ready for prime time and you will encounter broken links, missing data and a wide range of other issues. We will be launching the site to the public at the <a href="https://www.aarweb.org/">American Academy of Religion</a> (AAR) in November 2016.
         </p>
      </div>
   </div>

   <fullpage-scroll-section>
      <sda-billboard slides="vm.slides"></sda-billboard>
      <a href="" class="scroll-indicator" ng-click="fullpageScroll.nextSection()">
         <span class="label">scroll down</span>
         <span class="icon fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i>
         </span>
      </a>
   </fullpage-scroll-section>

   <fullpage-scroll-section>
      <sda-nav>
         <sda-nav-bucket title="Introduction">
            <sda-nav-section title="Meaning">
               <div class="content layout-row layout-wrap layout-fill layout-padding border">
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Overview</h3>
                        <p>
                           Review the idea of special divine action in general, as well as its relation to broader notions of divine and supranatural action.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Categorisation</h3>
                        <p>
                           Examine the definitions of the principal types of purported special divine action and their relation to the natural world.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Paradigms</h3>
                        <p>
                           Explore persons, instances, and archetypes that have influenced the meaning and understanding of special divine action.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Contemporary</h3>
                        <p>
                           Survey contemporary questions and views regarding the meaning and implications of special divine action.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Narratives">
               <div class="content layout-row layout-wrap layout-fill layout-padding border">
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Worldviews</h3>
                        <p>
                           Review how diverse ways of understanding special divine action are shaped by diverse worldviews: unifying pictures or narratives about the world and meaning of life.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Science</h3>
                        <p>
                           Examine the place and meaning of special divine action within various scientific accounts of the most fundamental causes and principles of the world.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Philosophy</h3>
                        <p>
                           Examine the place and meaning of special divine action within various philosophical accounts of the most fundamental causes and principles of the world.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Theology and Religion</h3>
                        <p>
                           Explore key ideas about special divine action across some of the principal religious traditions, and consider influential questions, controversies, and views in theology.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Assessment">
               <div class="content layout-row layout-wrap layout-fill layout-padding border">
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Overview</h3>
                        <p>
                           Review the importance and challenges of assessing purported special divine action generally, across a range of perspectives.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Epistemology</h3>
                        <p>
                           Investigate the characteristics, sources and limits of human knowledge regarding the assessment of special divine action.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Testimony</h3>
                        <p>
                           Investigate the issues involved in the communication and assessment of a testimony of special divine action from a first to a second person.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Commentators</h3>
                        <p>
                           Review a selection of key commentators, holding diverse views, who have shaped many of the important debates about the assessment of special divine action.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Imagination">
               <div class="content layout-row layout-wrap layout-fill layout-padding border">
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Mechanistic</h3>
                        <p>
                           Explore the notion of a machine as a root metaphor for imagining the operations of the world and special divine action.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Illuminative</h3>
                        <p>
                           Explore the role of light as a metaphor for special divine action and its assessment, especially grace, inspiration, and the discernment of providential action.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Organic</h3>
                        <p>
                           Explore the role of organic metaphors for imagining the world and special divine action, especially in terms of nurture or cultivation.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Interpersonal</h3>
                        <p>
                           Explore interpersonal action and character formation as a way to understand key aspects of purported special divine action, especially its ultimate purposes.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
         </sda-nav-bucket>
         <sda-nav-bucket title="Study">
            <sda-nav-section title="Why?">
               <div class="content layout-row layout-wrap layout-fill layout-padding border">
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Humanities</h3>
                        <p>
                           Examine why the topic of special divine action is important to a wide range of disciplines in the humanities including history, literature, scripture, and theology.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Creativity</h3>
                        <p>
                           Examine why the topic of special divine action is important for creativity, including art, architecture, literature, and music.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Sciences</h3>
                        <p>
                           Examine why the topic of special divine action is important to the sciences, and to the history and philosophy of science.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>General</h3>
                        <p>
                           Examine why the topic of special divine action is important for anyone reflecting on the meaning of life and human hope.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Schools">
               <div class="content layout-row layout-wrap layout-fill layout-padding border">
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Overview</h3>
                        <p>
                           Review and make use of summaries, ideas, and links to resources to support students, teachers, and schools.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Humanities</h3>
                        <p>
                           Explore ideas and resources of the project for subjects in the humanities including art, geography, history, languages and literature, and music.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Sciences</h3>
                        <p>
                           Explore ideas and resources of the project for the sciences and the history of science.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Religion</h3>
                        <p>
                           Explore ideas and resources of the project for philosophy, theology, and religious studies.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Universities">
               <div class="content layout-row layout-wrap layout-fill layout-padding border">
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Overview</h3>
                        <p>
                           Review and utilise summaries, ideas, and links to resources of the project to support work at the university level, including online course materials.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Humanities</h3>
                        <p>
                           Explore ideas and resources of the project for a wide range of subjects in the humanities.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Sciences</h3>
                        <p>
                           Explore ideas and resources of the project for the sciences, and for the philosophy and history of science.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Religion</h3>
                        <p>
                           Explore ideas and resources of the project for theology, religious studies, philosophical theology, and scripture scholarship.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Other">
               <div class="content layout-row layout-wrap layout-fill layout-padding border">
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Personal</h3>
                        <p>
                           Explore ideas and the possible personal implications of questions, view, and debates about special divine action.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Media</h3>
                        <p>
                           Review terms, key ideas and resources of the project for those covering issues of special divine action in the media.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Politics</h3>
                        <p>
                           Examine ideas about special divine action that are important for those engaged in politics, political philosophy and history.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Religious</h3>
                        <p>
                           Understand the landscape of ideas and debates about special divine action, in ways that are important for religious ministry.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
         </sda-nav-bucket>
         <sda-nav-bucket title="Research">
            <sda-nav-section title="Overview">
               <div class="content layout-row layout-wrap layout-fill layout-padding border">
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Motivation</h3>
                        <p>
                           Review the challenges to research into issues associated with special divine action, and the ways in which this project addresses these challenges.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Connections</h3>
                        <p>
                           Examine the ways in which the project connects persons and documents to reveal landscapes of ideas and influences.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Questions</h3>
                        <p>
                           Investigate sample research questions and guidelines for formulating new questions suitable for making use of the resources of the project.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Guided Tour</h3>
                        <p>
                           Explore the resources of the project through a guided tour of the website.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Sources">
               <div class="content layout-row layout-wrap layout-fill layout-padding border">
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Texts</h3>
                        <p>
                           Explore the historical database of texts, including articles, summaries, reviews, and connections.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Articles</h3>
                        <p>
                           Refer to the thematic overviews that summarise the key themes associated with special divine action.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>People</h3>
                        <p>
                           Explore the historical database of persons, including summaries and connections.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Audiovisual</h3>
                        <p>
                           Investigate the audiovisual resources of the project, including videos, audio recordings, and short animations.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Tools">
               <div class="content layout-row layout-wrap layout-fill layout-padding border">
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Source Map</h3>
                        <p>
                           Explore the maps of influences that connect key historical source texts, with an adjustable 'fish-eye' magnified view.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Spacetime</h3>
                        <p>
                           Explore the distributions of key historical source texts ordered by space and time.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
                  <div class="flex-50 flex-xs-100 layout-column layout-padding border">
                     <div class="panel flex-50">
                        <h3>Topic Map</h3>
                        <p>
                           Explore a map of key topics associated with special divine action, and use this map to link to thematic summaries.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                     <div class="panel flex-50">
                        <h3>Relationships</h3>
                        <p>
                           Use a browser to access information and relationships of project materials.
                           <a href="">Learn More</a>
                        </p>
                     </div>
                  </div>
               </div>
            </sda-nav-section>
            <sda-nav-section title="Search">
               <form class="content layout-row layout-fill layout-align-center-start layout-padding panel search-form">
                  <div class="input-group flex">
                     <input type="search">
                     <button type="submit">
                        <i class="fa fa-search"></i>
                        <span class="hide-xs">Search</span>
                     </button>
                  </div>
               </form>
            </sda-nav-section>
         </sda-nav-bucket>
      </sda-nav>
      <a href="" class="scroll-indicator" ng-click="fullpageScroll.nextSection()">
         <span class="label">scroll down</span>
         <span class="icon fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i>
         </span>
      </a>
   </fullpage-scroll-section>

   <fullpage-scroll-section class="about-project">
      <fullpage-scroll-slide>
         <div class="container">
            <h1>Advisory Board</h1>
            <div class="advisors">
               <div class="member" ng-repeat="advisor in vm.advisors">
                  <span class="name">{{advisor.name}}</span>
                  <span class="position">{{advisor.position}}</span>
               </div>
            </div>
         </div>
      </fullpage-scroll-slide>
      <a href="" class="scroll-indicator" ng-click="fullpageScroll.nextSection()">
         <span class="label">scroll down</span>
         <span class="icon fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i>
         </span>
      </a>
   </fullpage-scroll-section>

   <fullpage-scroll-section class="dark content-news">
      <div class="container">
         <aside>
            <h2>Explore one of the most profound influences on ideas, culture, and civilisation.</h2>
            <p>
               The Special Divine Action Project brings together enduring historical resources and contemporary scholarship to help you explore the full scope of this debate and reach your own conclusions.
            </p>
         </aside>
         <div class="content">
            <h3>Recent News</h3>
            <ol>
               <li ng-repeat="news in vm.recentNews">
                  <a class="title" href="">{{news.title}}</a>
                  <span class="description">{{news.description}}</span>
               </li>
            </ol>
         </div>
      </div>
      <a href="" class="scroll-indicator" ng-click="fullpageScroll.nextSection()">
         <span class="label">scroll down</span>
         <span class="icon fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i>
         </span>
      </a>
   </fullpage-scroll-section>

   <fullpage-scroll-section class="site-footer">
      <footer sda-site-footer></footer>
   </fullpage-scroll-section>
</main>
