.section--bookreader {
   .throbber {
      text-align: center;
      font-size: 2em;
      color: $textGrey;

      i {
         display: block;
         font-size: 1.5em;
      }
   }

   h1 {
      font-size: 2em;
   }

   .work-info-sidebar {
      font-size: 0.9em;
      line-height: 1.3;

      h1 {
         color: inherit;
         font-size: 1.5em;
      }

      .section--work > .work {
         padding: 2rem 1rem;
      }
   }

   .content {
      > section {
         > .reader {
            border: 0;
         }
      }
   }
}
