nav[role=navigation] {
    width: auto;
    height: 100%;
    position: static;
    top: 0;
    transform: none;
}

#content--more, #advisors, .search {
	display: block;
}

.view-more, .reveal, .signup-trigger {
	display: none;
}