{% extends 'layout.html' %}

{% block page_header %}
   <header class="site-header condensed"> <!-- FIXME not all are condensed -->
      <div class="container">
         <div class="header-wrapper">
            <div class="logo-area">
               <a href="/"><img src="{{ baseUrl }}/assets/img/sda-logo-light.png" alt="" class="logo"></a>
               <div class="signup-trigger" id="signup-trigger">
                   <i class="fa fa-envelope-o"></i>
               </div>
            </div>
            <div class="search" id="search">
               <form action="" method="get" class="signup-form">
                   <fieldset>
                       <label for="email-signup">Signup for Email Updates</label>
                       <div class="form-field">
                           <input type="text" placeholder="Email address" id="email-signup">
                           <button type="submit" class="submit" id="send-button">Send</button>
                       </div>
                       <div class="note">
                           <a href="#privacy-policy" id="privacy-link" class="open-popup-link">View our Privacy Policy</a>
                       </div>
                   </fieldset>
               </form>
            </div>
         </div>
      </div>
   </header>
{% endblock %}
