{% extends 'layout.html' %}

{% macro heroImage(slide) %}
   <li>
     <div class="banner" style="background-image: url({{ baseUrl }}/assets/img/{{ slide.banner.image }});">
         <div class="interior">
            <aside class="content {{ slide.banner.style }}">
               {{ slide.banner.content }}
            </aside>
         </div>
     </div>
  </li>
{% endmacro %}

{% macro slideText(slide) %}
  <li>
    <div class="leadin">
      <p>{{ slide.leadin }}</p>
    </div>
    <div class="slide-content">
        <div class="text">
           <p>{{ slide.content }}</p>
           {% if slide.more %}
           <a href="{{ slide.more.url }}" class="read-more">{{ slide.more.label }}</a>
           {% endif %}
        </div>
    </div>
  </li>
{% endmacro %}

{% macro videoCaption(url, title, time) %}
  <div class="video-controls">
     <a href="{{ url }}" class="play-video" id="play-video">
         <div class="image">
             <img src="{{ baseUrl }}/assets/img/icon-video-play.png" alt="">
         </div>
         <div class="video-details">
             <span class="video-title">{{ title }}</span>
             <span class="video-length">({{ time }})</span>
         </div>
     </a>
  </div>
{% endmacro %}

{% block page_header %}
<header class="site-header">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo-area">
                <a href="{{ baseUrl }}/"><img src="{{ baseUrl }}/assets/img/sda-logo-light.png" alt="" class="logo"></a>
                <div class="signup-trigger" id="signup-trigger">
                    <i class="fa fa-envelope-o"></i>
                </div>
            </div>
            <div class="search" id="search">
                <form action="{{ baseUrl }}/email-manager/" method="post" class="signup-form">
                    <fieldset>
                        <label for="email-signup">Signup for Emal Updates</label>
                        <div class="form-field">
                           <input type="email" placeholder="Email address" name="email" id="email-signup">
                           <button type="submit" class="submit" id="send-button">Send</button>
                        </div>
                        <div class="note">
                           <a href="#privacy-policy" id="privacy-link" class="open-popup-link">View our Privacy Policy</a>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="entity">
                <img src="{{ baseUrl }}/assets/img/ox-brand.gif" alt="">
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block page_body %}


<section class="section section--intro">
   <div id="banners" class="flexslider">
        <ul class="slides">
          {% for slide in slides %}
            {{ heroImage(slide) }}
          {% endfor %}
        </ul>
   </div>
   <div class="intro-stage">
        <div class="container">
           <div class="intro-content">
                <div class="brow-filler"></div>
                <div class="brow" id="brow">
                    {{ videoCaption('https://www.youtube.com/watch?v=HmSKMbq7Fk8', 'Introducing the Project', '3:40') }}
                    <div class="control-section">
                       <div class="slider-controls" id="slider-controls">
                           <ol class="flex-control-nav flex-control-paging" id="sda-paging"></ol>
                           <ul class="flex-direction-nav">
                               <li class="flex-prev"><a class="flex-prev" href="#">Previous</a></li>
                               <li class="flex-next"><a class="flex-next" href="#">Next</a></li>
                           </ul>
                       </div>
                    </div>
                </div>
                <div class="intro-text flexslider" id="intro-text">
                    <ul class="slides">
                      {% for slide in slides %}
                        {{ slideText(slide) }}
                      {% endfor %}
                </div>
           </div>
        </div>
   </div>
</section>
{% endblock %}

{% block scripts %}
  {{ super() }}

   <script>
      require('./legacy-main');  // TODO need to call tool to init slides rather than running automatically
   </script>
{% endblock %}
