{% extends 'layout.html' %}

{% macro heroImage(slide) %}
   <li>
     <div class="banner" style="background-image: url({{ baseUrl }}/assets/img/{{ slide.banner.image }});">
         <div class="interior">
            <aside class="content {{ slide.banner.style }}">
               {{ slide.banner.content }}
            </aside>
         </div>
     </div>
  </li>
{% endmacro %}

{% macro slideText(slide) %}
  <li>
    <div class="leadin">
      <p>{{ slide.leadin }}</p>
    </div>
    <div class="slide-content">
        <div class="text">
           <p>{{ slide.content }}</p>
           {% if slide.more %}
           <a href="{{ slide.more.url }}" class="read-more">{{ slide.more.label }}</a>
           {% endif %}
        </div>
    </div>
  </li>
{% endmacro %}

{% macro videoCaption(url, title, time) %}
  <div class="video-controls">
     <a href="{{ url }}" class="play-video" id="play-video">
         <div class="image">
             <img src="{{ baseUrl }}/assets/img/icon-video-play.png" alt="">
         </div>
         <div class="video-details">
             <span class="video-title">{{ title }}</span>
             <span class="video-length">({{ time }})</span>
         </div>
     </a>
  </div>
{% endmacro %}

{% block page_header %}
<header class="site-header">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo-area">
                <a href="{{ baseUrl }}/"><img src="{{ baseUrl }}/assets/img/sda-logo-light.png" alt="" class="logo"></a>
                <div class="signup-trigger" id="signup-trigger">
                    <i class="fa fa-envelope-o"></i>
                </div>
            </div>
            <div class="search" id="search">
                <form action="{{ baseUrl }}/email-manager/" method="post" class="signup-form">
                    <fieldset>
                        <label for="email-signup">Signup for Emal Updates</label>
                        <div class="form-field">
                           <input type="email" placeholder="Email address" name="email" id="email-signup">
                           <button type="submit" class="submit" id="send-button">Send</button>
                        </div>
                        <div class="note">
                           <a href="#privacy-policy" id="privacy-link" class="open-popup-link">View our Privacy Policy</a>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="entity">
                <img src="{{ baseUrl }}/assets/img/ox-brand.gif" alt="">
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block page_body %}
<section class="section section--intro">
   <div id="banners" class="flexslider">
        <ul class="slides">
          {% for slide in slides %}
            {{ heroImage(slide) }}
          {% endfor %}
        </ul>
   </div>
   <div class="intro-stage">
        <div class="container">
           <div class="intro-content">
                <div class="brow-filler"></div>
                <div class="brow" id="brow">
                    {{ videoCaption('https://www.youtube.com/watch?v=HmSKMbq7Fk8', 'Introducing the Project', '3:40') }}
                    <div class="control-section">
                       <div class="slider-controls" id="slider-controls">
                           <ol class="flex-control-nav flex-control-paging" id="sda-paging"></ol>
                           <ul class="flex-direction-nav">
                               <li class="flex-prev"><a class="flex-prev" href="#">Previous</a></li>
                               <li class="flex-next"><a class="flex-next" href="#">Next</a></li>
                           </ul>
                       </div>
                    </div>
                </div>
                <div class="intro-text flexslider" id="intro-text">
                    <ul class="slides">
                      {% for slide in slides %}
                        {{ slideText(slide) }}
                      {% endfor %}
                    </ul>
                </div>
           </div>
        </div>
   </div>
</section>

<section class="section section--resources">
  {% include 'home_main_nav.html' %}
</section>

<section class="section section--board">
    <div class="container">
        <header class="section-header">
            <h2>Advisory Board</h2>
        </header>
        <div class="content">
            <a href="" class="reveal cta" id="reveal-advisors">View Our Advisors</a>
            <div class="advisors" id="advisors">
                <div class="col col--left">
                    <div class="member">
                        <div class="name">Craig Keener</div>
                        <p>Professor of New Testament, Asbury Theological Seminary</p>
                    </div>
                    <div class="member">
                        <div class="name">Lenn Goodman</div>
                        <p>Professor of Philosophy and Andrew W. Mellon Professor in the Humanities, Vanderbilt University</p>
                    </div>
                    <div class="member">
                        <div class="name">Peter Harrison</div>
                        <p>Research Professor and Director of the Centre for the History of European Discourses, Queensland University</p>
                    </div>
                    <div class="member">
                        <div class="name">Christine Madsen</div>
                        <p>Head of Digital Programmes, Bodleian Libraries, Oxford University</p>
                    </div>
                    <div class="member">
                        <div class="name">Timothy Mawson</div>
                        <p>Fellow and Tutor in Philosophy, Oxford University</p>
                    </div>
                </div>
                <div class="col col--right">
                    <div class="member">
                        <div class="name">Richard Swinburne</div>
                        <p>Nolloth Professor Emeritus of the Philosophy of the Christian Religion, Oxford University</p>
                    </div>
                    <div class="member">
                        <div class="name">Raymond Tallis</div>
                        <p>Professor Emeritus, Manchester University and St George's Hospital Medical School</p>
                    </div>
                    <div class="member">
                        <div class="name">Graham Twelftree</div>
                        <p>Charles L. Holman Professor of New Testament and Early Christianity, Regent University</p>
                    </div>
                    <div class="member">
                        <div class="name">Johannes Zachhuber</div>
                        <p>Chair, Theology and Religion Faculty, Oxford University</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--explore">
    <div class="container">
        <div class="content">
            <div class="interior">
                <h3>Explore one of the most profound influences on ideas, culture and civilisation.</h3>
                <div class="body-content">
                    <p>The Special Divine Action Project brings together enduring historical resources and contemporary scholarship to help you explore the full scope of this debate and reach your own conclusions.</p>
                </div>
            </div>
        </div>
        <div class="portal">
            <div class="listing">
                <h3>Recent News</h3>
                <div class="article-list">
                    <div class="entry">
                        <a href="" class="title">SDA Project Technology Presented</a>
                        <p>Dr. Neal Audenaert presents at ASIS&amp;T and INKE-ID.</p>
                    </div>
                </div>
            </div>
            <div class="listing listing--proposals">
                <h3>Call For Proposals</h3>
                <div class="article-list">
                    <div class="entry">
                        <a href="course.html" class="title">Course development grants to integrate topics on Special Divine Action.</a>
                    </div>
                    <div class="entry">
                        <a href="cluster.html" class="title">Research grants available to support focused study groups.</a>
                    </div>
                    <div class="entry">
                        <a href="" class="title">Comming Soon. CFP for SDA 2015. Science and Personal Action: Human and Divine.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
  {{ super() }}

   <script>
      require('./legacy-main');  // TODO need to call tool to init slides rather than running automatically
   </script>
{% endblock %}
