{% extends 'base.html' %}

{% block head %}

   <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
   <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
   <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
   <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
   <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
   <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
   <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
   <link rel="icon" type="image/png" href="favicon-192x192.png" sizes="192x192">
   <link rel="icon" type="image/png" href="favicon-160x160.png" sizes="160x160">
   <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
   <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
   <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
   <meta name="msapplication-TileColor" content="#da532c">
   <meta name="msapplication-TileImage" content="mstile-144x144.png">

   <link rel="stylesheet" href="{{ baseUrl }}/assets/css/main.css">

{% endblock %}

{% block body %}
   <div class="site" id="site">
      <div class="page" id="page">
         {% block page_header %}
         {% endblock %}

         <div class="main" role="main">
            {% block page_body %}
            <section class="section section--general">
               <div class="container">
                  <div class="interior">
                  </div>
               </div>
            </section>
            {% endblock %}
         </div>

         <footer class="site-footer">
            <div class="main-area">
               <div class="container">
                  {% block page_footer %}
                     <div class="content">
                        <p>The Special Divine Action project is hosted by Oxford University’s Bodleian Library. Please see the
                           University’s standard policies on <a href="http://www.ox.ac.uk/copyright.html" target="_blank">Copyright</a>,
                           <a href="http://www.admin.ox.ac.uk/dataprotection/privacypolicy" target="_blank">Privacy</a> and
                           <a href="http://www.admin.ox.ac.uk/dataprotection/cookies" target="_blank">Cookies</a>.
                           As the project grows and adds more content, we will provide more detail specific to the Special Divine
                           Action Project.</p>
                     </div>
                  {% endblock %}
               </div>
            </div>
            {% block footer_logos %}
               <ul class="resources">
                   <li><img src="{{ baseUrl }}/assets/img/footer-logo-irc.png" alt=""></li>
                   <li><img src="{{ baseUrl }}/assets/img/footer-logo-bodleian-libraries.png" alt=""></li>
                   <li><img src="{{ baseUrl }}/assets/img/footer-logo-tees.png" alt=""></li>
                   <li><img src="{{ baseUrl }}/assets/img/footer-logo-wmu.png" alt=""></li>
                   <li><img src="{{ baseUrl }}/assets/img/footer-logo-jtf.png" alt=""></li>
               </ul>
            {% endblock %}
         </footer>

         {% block popups %}
         {# Defines a region for DIV elements that can be displayed in popups as needed.
            By default, we define a popup for the privacy policy and to support notification of email
            registration. The popup containers are defined here and their content included from HTML
            source files. #}

            <div id="privacy-policy" class="privacy-policy mfp-hide popup">
               {% include 'privacy.html' %}
            </div>

            <div id="email-confirmation" class="email-confirmation mfp-hide popup">
               <h2>Thank You!</h2>
               <p>You have successfully signed up to receive email updates about Special Divine Action.</p>
            </div>
         {% endblock %}
      </div>
   </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ baseUrl }}/assets/js/main.js"></script>
{% endblock %}
