@import 'variables';

md-toolbar {
  .logo {
    display: flex;
    flex-direction: column;

    img {
      margin-right: 2rem;
      max-height: 43px;
    }
  }

  h1 {
    font-family: inherit;
    color: inherit;
  }

  ul.nav {
    font-size: 16px;
    list-style: none;
    margin: 0 0 0 2rem;
    padding: 0;

    li {
      a {
        text-decoration: none;
        outline: 0;
        padding: 0 1rem;
        text-align: center;
        position: relative;
        color: $copper4;

        &:active, &:focus, &:hover {
          background-color: rgba(#fff, 0.05);
        }
      }

      &.active a {
        background-color: rgba(#fff, 0.05);

        &:before {
          display: block;
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          background: $copper5;
        }
      }
    }
  }
}

md-sidenav {
  background: $grey1;
  md-content {
    background: transparent;
  }
}

.page-banner {
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: $grey0;

  h1 {
    margin: 0;
    color: inherit;
  }

  .subtitle {
    font-size: 2em;
  }

  .container {
    padding: $banner-padding 0;
  }

  &.shade .container {
    background-color: rgba(#000, 0.4);
  }
}

.container {
  max-width: $container-max-width;
}
