.citation {
  margin: 0;
  text-indent: -2em;
  padding-left: 2em;
  line-height: 1.5;
}

.editions > .edition {
  margin: 1em 0;
  overflow: hidden;
  transition: box-shadow 0.2s, margin 0.2s;

  &.active {
    margin: 1.3em 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
    line-height: 1;
    margin: 0;
    color: #000;
    background: #eee8de;
    display: flex;
    flex-direction: row;

    &.active {
      a.edition-name:before {
        content: '\2013';
      }
    }

    .edition-name {
      flex: 1;
      display: block;
      padding: 0.7em;
      text-decoration: none;
      color: inherit;

      &:before {
        content: '+';
        display: block;
        float: left;
        width: 1em;
        text-align: center;
        font-weight: 300;
        margin-right: 0.7em;
      }
    }

    .readonline {
      padding: 0.7em;
      border-left: 1px solid #dcc3ab;
    }
  }

  .volumes > .volume {
    margin: 1em 0;
    overflow: hidden;
    transition: box-shadow 0.2s, margin 0.2s;

    &.active {
      margin: 1.3em 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    h5 {
      font-family: inherit;
      font-size: 0.9em;
      line-height: 1;
      margin: 0;
      color: #000;
      background: #ddd;
      display: flex;
      flex-direction: row;

      &.active a.volume-number:before {
        content: '\2013';
      }

      a.volume-number {
        flex: 1;
        display: block;
        padding: 0.5em;
        text-decoration: none;
        color: inherit;

        &:before {
          content: '+';
          display: block;
          float: left;
          width: 1em;
          text-align: center;
          font-weight: 300;
          margin-right: 0.7em;
        }
      }

      .readonline {
        padding: 0.5em 0.7em;
        border-left: 1px solid rgba(#fff, 0.54);
      }
    }
  }

  .collapse {
    padding: 1em 0;
  }
}
