<md-dialog aria-label="Edit Citation" flex="50" layout="column">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Citation</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon aria-label="Cancel">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <citation-editor references="vm.references" citation="vm.citation"></citation-editor>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.cancel()">
        Cancel
      </md-button>
      <md-button ng-click="vm.done()">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
