<section class="article-preview">
   <article>
      <h1>{{vm.article.title}}</h1>
      <p class="author-info" ng-if="vm.article.authors">by <a ng-repeat="author in vm.article.authors" href="mailto:{{author.email}}">{{author.name}}</a></p>
      <div ng-bind-html="vm.article.articleAbstract"></div>

      <nav>
         <ul>
            <li ng-repeat="theme in vm.article.theme.articles | filter: {type: '!summary'}"><a ui-sref="sda.reader-article({id: theme.id})" class="read-more">Read {{vm.getThemeTitle(theme.type)}} &raquo;</a></li>
         </ul>
      </nav>
   </article>
</section>
