.article-preview {
   nav {
      margin-top: 2rem;

      ul {
         margin: 0;
         padding: 0;
         list-style: none;
         text-align: right;

         li {
            display: inline-block;
            margin: 0 0.5rem;

            a.read-more {
               display: block;
               padding: 0.5rem 1rem;
               background: $copper;
               color: $cream;
               text-decoration: none;

               transition: all 0.3s;

               &:hover {
                  background: lighten($copper, 5%);
               }
            }
         }
      }
   }
}
