<section class="article-preview">
   <article>
      <div class="meta">
         <h1>{{vm.article.title}}</h1>
         <p class="author-info" ng-if="vm.article.authors">
            by
            <span class="author" ng-repeat="author in vm.article.authors">
               <a ng-if="author.contact.email" href="mailto:{{author.contact.email}}">{{author.name}}</a>
               <span ng-if="!author.contact.email">{{author.name}}</span>
            </span>
         </p>
      </div>

      <div ng-bind-html="vm.article.articleAbstract"></div>

      <nav>
         <ul>
            <li ng-repeat="theme in vm.collection.articles | filter: {type: '!' + vm.articleType}"><a ui-sref="sda.reader-article({id: theme.id})" class="read-more">Read {{vm.getThemeTitle(theme.type)}} &raquo;</a></li>
         </ul>
      </nav>

      <h2>Bibliography</h2>
      <ol class="bibliography">
         <li ng-repeat="item in vm.bibliography" ng-bind-html="item"></li>
      </ol>
   </article>
</section>
