<div class="form-group" class="name-role">
  <label class="control-label" for="name-role">Role</label>
  <select id="name-role" name="name-role" class="form-control name-role" ng-model="name.role">
    <option ng-repeat="role in nameEditor.roles" value="{{role.value}}">{{role.label}}</option>
  </select>
</div>

<div class="form-group" class="name-structure">
  <label class="control-label">Structured Name</label>
  <input type="text" class="name-title" placeholder="title" ng-model="name.title">
  <input type="text" class="name-given" placeholder="given" ng-model="name.givenName">
  <input type="text" class="name-middle" placeholder="middle" ng-model="name.middleName">
  <input type="text" class="name-family" placeholder="family" ng-model="name.familyName">
  <input type="text" class="name-suffix" placeholder="suffix" ng-model="name.suffix">
</div>

<div class="form-group" class="name-label">
  <label for="label">Display Label</label>
  <input type="text" placeholder="label" ng-model="name.label">
</div>
