<p>
  WILLEM DREES is the Chair in Philosophy of Religion and Ethics at the Leiden Institute
  of Religious Studies, Faculty of Humanities, Leiden University, since 2001. He is also
  the editor of <cite>Zygon: Journal of Religion and Science</cite>, a scholarly journal,
  produced by Wiley-Blackwell, which publishes yearly 1000 pages of articles on all aspects
  of religion and science. He is the immediate past-president of ESSSAT, the European Society
  for the Study of Science and Theology. Drees has doctorates in Philosophy, at the Vrije
  Universiteit, Amsterdam, and Theology and Philosophy of Religion, at Groningen University, and
  a Doctoraal in Theoretical Physics at Utrecht University. His main interests focus on the
  interactions between religious convictions and practices and contemporary culture, modern
  science and technology. His publications include <cite>Religion and Science in Context: A Guide to the Debates</cite>
  (Routledge 2009); <cite>Creation: From Nothing until Now</cite>, (Routledge 2002); and
  <cite>Religion, Science and Naturalism</cite> (Cambridge University Press 1996).
</p>
