
<p>
  SUSAN GROOVE EASTMAN is Associate Research Professor of New Testament and Director of
  the Doctor of Theology program at Duke University Divinity School. Her scholarly focus is
  on Paul’s letters in relationship to the formation and transformation of Christian identity.
  She is the author of <cite>Recovering Paul’s Mother Tongue: Language and Theology in Galatians</cite>
  (Eerdmans, 2007), which explores Paul’s use of relational imagery to proclaim the gospel’s
  transforming and sustaining power in the life of Christian communities. More recent work has
  focused on Paul’s understanding of Israel in Galatians and Romans, and on the theme of the
  incarnation as divine participation. Her current research and writing investigates questions of
  participation, imitation and identity formation through a close reading of key Pauline texts
  in their first century context and in conversation with contemporary work in the fields of
  experimental psychology and neuroscience. She is ordained in the Episcopal Church and served
  numerous parishes prior to her current appointment.
</p> 
