<p>
  LENN GOODMAN is Professor of Philosophy and Andrew W. Mellon Professor in the Humanities
  at Vanderbilt University. His books include <cite>Creation and Evolution</cite>;
  <cite>Islamic Humanism</cite>; <cite>In Defense of Truth: A Pluralistic Approach</cite>;
  <cite>Jewish and Islamic Philosophy: Crosspollinations in the Classic Age</cite>;
  <cite>Judaism, Human Rights and Human Values</cite>; <cite>God of Abraham</cite>;
  <cite>Avicenna</cite>; <cite>On Justice: An Essay in Jewish Philosophy</cite>; his Gifford Lectures,
  <cite>Love Thy Neighbor as Thyself</cite> – and, most recently,
  <cite>Coming to Mind: The Soul and its Body</cite>, co-authored with D. G. Caramenico; and
  <cite>Religious Pluralism and Values in the Public Sphere</cite>. His translations with
  commentary include Ibn Tufayl’s <cite>Hayy Ibn Yaqzan</cite>; Saadiah Gaon’s
  <cite>Book of Theodicy</cite>, a commentary on the Book of Job; and, with Richard McGregor,
  <cite>The Case of the Animals vs Man before the King of the Jinn</cite>, a tenth century
  Arabic ecological fable. Goodman and his colleague Philip Lieberman are now preparing a
  new translation and commentary of Maimonides’ <cite>Guide to the Perplexed</cite>. A winner
  of the American Philosophical Association’s Baumgardt Prize, the Gratz Centennial Prize,
  and Vanderbilt’s highest research award, the Sutherland Prize, Goodman lives in
  Nashville with his wife Roberta.
</p>
