<p>
  PETER HARRISON is Research Professor and Director of the Centre for the History of European
  Discourses at the University of Queensland, Australia.  Previously he was the Andreas
  Idreos Professor of Science and Religion at the University of Oxford, where he was also
  Director of the Ian Ramsey Centre. He has published extensively in the area of intellectual
  history with a focus on the philosophical, scientific and religious thought of the early
  modern period, and on the historical relations between science and religion.  His five
  books include, most recently, <cite>Wrestling with Nature: From Omens to Science</cite> (Chicago, 2011)—an
  edited collection that surveys conceptions of science from antiquity to the present—and
  <cite>The Cambridge Companion to Science and Religion</cite> (Cambridge, 2010).  He has published
  over 70 articles and book chapters. His 2011 Gifford Lectures have been published
  by the University of Chicago Press under the title <cite>The Territories of Science and Religion</cite>.
  His current research focuses on conceptions of progress in history and the historical sciences.
</p>
