<p>Dr. Andrei I. Holodny, MD is a board-certified clinical and research neuroradiologist with a special interest
in the use of advanced magnetic resonance imaging (MRI) of brain tumors. As Chief of the Neuroradiology Service,
he oversees clinical imaging as well as research studies of the brain, spine, and neck.</p>

<p>Dr. Holodny direct the functional MRI (fMRI) laboratory, which provides pre-operative planning for patients with
brain tumors. His team uses fMRI and another technique called diffusion MRI to identify important areas of the
brain, such as those that control language or motor function, in patients with brain tumors. The ability to
identify these vital areas before and during surgery allows a neurosurgeon or radiation therapist to operate on
or treat only the tumor, thereby avoiding surrounding brain tissue that is critical for important functions such
as speech and movement.</p>

<p>Dr. Holodny is a member of Memorial Sloan Kettering’s Brain Tumor Center and the founding President of the American
Society of Functional Neuroradiology and have served as President of the Eastern Neuroradiological Society. He is on
the editorial board of the American Journal of Neuroradiology and hold an honorary doctorate from the Russian Academy
of Medical Science.</p>
