<p>
  CRAIG KEENER is professor of New Testament at Asbury Theological Seminary. He has
  authored seventeen books, four of which won significant awards in the United States,
  and more than seventy academic articles. The longest of these, his four-volume <cite>Acts</cite>
  commentary, comprises roughly 4500 pages and cites some 50,000 references from ancient
  sources, as well as citing more than ten thousand different secondary sources. His
  two-volume work, <cite>Miracles: The Credibility of the New Testament Accounts</cite>, is
  1172 pages and cites more than four thousand secondary sources. His most popular work, offering
  ancient background information on each passage of the New Testament, is some 800 pages and
  has sold more than half a million copies. His other works include a short commentary on Paul’s
  Corinthian correspondence for Cambridge; an 831-page work on historical Jesus research;
  a two-volume commentary (1636 pages) on the Fourth Gospel; a commentary on the first
  Gospel (1040 pages); and several other works. His wife, Médine Moussounga Keener, is from the
  Republic of Congo and completed her PhD in Paris; they have two children, David and Keren.
</p>
