<p>
  COLIN MCGINN’s interests include philosophy of mind, metaphysics, epistemology, philosophy
  of language, ethics, philosophy of physics, and the philosophy of literature and film. He
  has taught at Rutgers University, Oxford University and University College London, among
  other places. He has published over twenty books, ranging from consciousness to evil,
  Shakespeare to sport, film to logic, Wittgenstein to imagination. He has written extensively
  for the general reading public, as well as publishing two novels. He lives in Miami, where
  he paddles and plays tennis.
</p>
