<p>
  ALISTER MCGRATH is Andreas Idreos Professor of Science and Religion at Oxford University. He
  holds three Oxford doctorates: A DPhil from the Faculty of Biological Sciences in molecular
  biophysics, a DD for research in historical and systematic theology from the Faculty of Theology,
  and a DLitt for research in science and religion from the Division of Humanities. His specialist
  interests include the philosophy of explanation in science and religion, the theological
  application of a "critical realist" epistemology, and the development of natural theology as an
  interface between theology, sciences, and the arts. His most recent book
  <cite>Emil Brunner: A Reappraisal</cite> (2014) is a critical study of the development of the
  theology of the Swiss theologian Emil Brunner, focussing especially on his approach to natural
  theology, and the interface between theology and the natural sciences. Following the huge
  critical and popular success of his recent biography of CS Lewis (2013), McGrath is also
  researching the origins and development of Lewis's distinct views on the relation of
  science and faith.
</p>
