<p>
  TIMOTHY MCGREW is Professor of Philosophy at Western Michigan University, where
  he specializes in epistemology, history and philosophy of science, and philosophy of
  religion. His recent publications include <cite>Internalism and Epistemolgy</cite>
  (with Lydia McGrew; Routledge, 2007), <cite>The Philosophy of Science: An Historical
  Anthology</cite> (with Marc Alspector-Kelly and Fritz Allhoff; Blackwell, 2009),
  "The Argument from Miracles" in William Lane Craig and J. P. Moreland, eds.,
  <cite>The Blackwell Companion to Natural Theology</cite> (Blackwell, 2009), the
  article on "Miracles" in the <cite>Stanford Encyclopaedia of Philosophy</cite>
  (2010), the article on "Evidence" in Sven Bernecker and Duncan Pritchard, eds.,
  <cite>The Routledge Companion to Epistemology</cite> (Routledge, 2011), "The Reliability of
  Witnesses and Testimony to the Miraculous," with Lydia McGrew, in Jake Chandler and
  Victoria Harrison, eds., <cite>Probability in the Philosophy of Religion</cite>
  (Oxford, 2012), and "The Argument from Silence," <cite>Acta Analytica</cite> 29 (2014).
</p>
