<p>
  ANDREW PINSENT is a research fellow of Harris Manchester College, Research Director of the
  Ian Ramsey Centre for Science and Religion, and a member of the Theology and Religion Faculty
  at Oxford University. He was formerly a high energy physicist on the DELPHI experiment at CERN,
  has degrees in philosophy and theology from the Pontifical Gregorian University and a
  second doctorate, in philosophy, from St Louis University. He is the author of
  <cite>The Second-Person Perspective in Aquinas’s Ethics: Virtues and Gifts</cite>
  (Routledge, 2012) and a wide range of publications on virtue ethics, neurotheology, science and
  religion, the philosophy of the person, divine action, and the nature of evil. His is a regular
  contributor to engagement by the public and in the media with science and religion issues.
</p>
