<p>
ROBERT RUSSELL is Founder and Director of the Center for Theology and the Natural
Sciences (CTNS) and the Ian G. Barbour Professor of Theology and Science in Residence
at the Graduate Theological Union, Berkeley, CA. He is a leading researcher and
spokesperson for the growing international body of theologians and scientists committed
to a positive dialogue and creative mutual interaction between these fields. He
is the author of <cite>Time in Eternity: Pannenberg, Physics and Eschatology in
Creative Mutual Interaction</cite> (University of Notre Dame Press, 2012) and
<cite>Cosmology from Alpha to Omega: The Creative Mutual Interaction of Theology
and Science</cite> (Fortress Press, 2009). He co-edited a six volume CTNS/Vatican
Observatory series on scientific perspectives on divine action and the first
in the new series on scientific perspectives on the problem of natural evil. He
is a founding co-editor of the scholarly journal <cite>Theology and Science</cite>
which CTNS members receive internationally. Dr Russell received a Ph.D. in physics
from the University of California at Santa Cruz (1978) and an M.A. and an M. Div.
from Pacific School of Religion (1972). He taught physics and courses in science
and religion at Carleton College, Northfield, Minnesota, before coming to the GTU
in 1981.
</p>
