<p>
  IGNACIO SILVA is Research Fellow at Harris Manchester College and the Ian Ramsey Centre for
  Science and Religion, University of Oxford, and member of the Faculty of Theology and Religion.
  His research focuses on the historical development of the notion of special divine action in
  relation to the natural sciences. His recent publications on the topic include “Revisiting Aquinas
  on Providence and Rising to the Challenge of Divine Action in Nature”, <cite>The Journal of Religion</cite> 94:3 (2014);
  “Great Minds Think (Almost) Alike: Thomas Aquinas and Alvin Plantinga on Divine Action in Nature”, <cite>Philosophia Reformata</cite> 79:1 (2014);
  “Thomas Aquinas Holds Fast: Objections to Aquinas within Today’s Debate on Divine Action”, <cite>The Heythrop Journal</cite> 54:4 (2013);
  and “John Polkinghorne on Divine Action: a Coherent Theological Evolution”, <cite>Science and Christian Belief</cite> 24:1 (2012).
  He has also recently edited the volume <cite>Latin American Perspectives on Science and Religion</cite> (Pickering and Chatto, 2014).
</p>
