<p>
  RICHARD SWINBURNE is a Fellow of the British Academy. He was Nolloth Professor of the
  Philosophy of the Christian Religion at the University of Oxford from 1985 until 2002.
  He is best known for his trilogy on the philosophy of theism (The <cite>Coherence of Theism</cite>,
  <cite>The Existence of God</cite>, and <cite>Faith and Reason</cite>).The central book
  of this trilogy, The <cite>Existence of God</cite> (2nd edition, 2004) claims that
  arguments from the existence of laws of nature, those laws as being such as to lead to
  the evolution of human bodies, and humans being conscious, make it probable that there
  is a God. He has summarized the ideas of this trilogy in a short 'popular' book,
  <cite>Is There a God?</cite>  He has written a tetralology of books on the meaning and
  justification of central Christian doctrines (including <cite>Revelation and Providence</cite>
  and the <cite>Problem of Evil</cite>). He has written at various lengths on many of the
  other major issues of philosophy (including epistemology, the study of what makes a
  belief rational or justified, in his book Epistemic Justification); and he has applied
  his views about what is made probable to the issue of how probable it is on the evidence
  that Jesus rose from the dead in <cite>The Resurrection of God Incarnate</cite>. He has
  summarized the ideas of the later tetralogy and on the Resurrection in a second 'popular'
  book, <cite>Was Jesus God?</cite> He is also well known for his defence of ‘substance dualism’
  (the view that humans consist of two parts –soul and body), especially in his book
  <cite>The Evolution of the Soul</cite>. His new book <cite>Mind, Brain, and Free Will</cite>
  claims that substance dualism has the consequence that humans have free will to choose
  between good and evil. It argues that neuroscience cannot now and could not ever show this
  claim to be false. He lectures frequently in many different countries.
</p>
