<p>
  GRAHAM TWELFTREE (BA, Adelaide; MA, Oxford; PhD, Nottingham) is the
  Charles L. Holman Professor of New Testament and Early Christianity and Director of the
  PhD Program in the School of Divinity at Regent University, Virginia Beach, Virginia, USA.
  He is a member of Studiorum Novi Testamenti Societas and the editorial board of The Journal
  for the Study of the Historical Jesus. His most recent book is
  <cite>Paul and the Miraculous: A Historical Reconstruction</cite> (Baker, 2013).
</p>
