@mixin font-face($name, $filepath, $weight: normal, $style: normal) {
   @font-face {
      font-family: $name;
      src: url('#{$filepath}.eot');
      src: url('#{$filepath}.eot?#iefix') format('embedded-opentype'), url('#{$filepath}.woff') format('woff'), url('#{$filepath}.ttf') format('truetype');
   }

   %#{$name} {
      font-family: $name;
      font-weight: $weight;
      font-style: $style;
   }
}

@mixin hide-text {
   overflow: hidden;
   text-indent: 100%;
   white-space: nowrap;
}

// Font Smoothing (making fonts appear less "heavy")
@mixin font-smoothing($value: on) {
   @if $value == on {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
   @else {
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
   }
}

@mixin placeholder {
   &::-webkit-input-placeholder {
      @content;
   }

   &:-moz-placeholder {
      @content;
   }

   &::-moz-placeholder {
      @content;
   }

   &::-ms-input-placeholder {
      @content;
   }
}
