// font paths for bootstrap and font-awesome
$icon-font-path: '../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
$fa-font-path: '../../bower_components/fontawesome/fonts';
$local-font-path: '../assets/fonts';

// Colors
$darkBrown: #1a1b1a;
$lightBrown: #b88554;
$text: #2e2e2e;
$textGrey: #acaaa3;
$textBrown: #272927;
$textBlack: #292626;
$copper: #a47140;
$lightCopper: #dcc3ab;
$cream: #eee8de;

$sidebar-bg: #f0f0f0;

// Media query breakpoints (bootstrap naming conventions)
$screen-sm-min: 35em;
$screen-md-min: 51em;
$screen-lg-min: 70em;

// layout component dimensions
$container-max-width: 1600px;
$header-height: 4rem;
$banner-padding: 7rem;

// borrow shadow details from material design
$md-umbra-opacity: 0.2;
$md-penumbra-opacity: 0.14;
$md-ambient-shadow-opacity: 0.12;

$md-shadow-1dp:  0px  1px  3px  0px rgba(#000, $md-umbra-opacity), 0px  1px  1px 0px rgba(#000, $md-penumbra-opacity), 0px 2px  1px -1px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-2dp:  0px  1px  5px  0px rgba(#000, $md-umbra-opacity), 0px  2px  2px 0px rgba(#000, $md-penumbra-opacity), 0px 3px  1px -2px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-3dp:  0px  1px  8px  0px rgba(#000, $md-umbra-opacity), 0px  3px  4px 0px rgba(#000, $md-penumbra-opacity), 0px 3px  3px -2px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-4dp:  0px  2px  4px -1px rgba(#000, $md-umbra-opacity), 0px  4px  5px 0px rgba(#000, $md-penumbra-opacity), 0px 1px 10px  0px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-5dp:  0px  3px  5px -1px rgba(#000, $md-umbra-opacity), 0px  5px  8px 0px rgba(#000, $md-penumbra-opacity), 0px 1px 14px  0px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-6dp:  0px  3px  5px -1px rgba(#000, $md-umbra-opacity), 0px  6px 10px 0px rgba(#000, $md-penumbra-opacity), 0px 1px 18px  0px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-7dp:  0px  4px  5px -2px rgba(#000, $md-umbra-opacity), 0px  7px 10px 1px rgba(#000, $md-penumbra-opacity), 0px 2px 16px  1px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-8dp:  0px  5px  5px -3px rgba(#000, $md-umbra-opacity), 0px  8px 10px 1px rgba(#000, $md-penumbra-opacity), 0px 3px 14px  2px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-9dp:  0px  5px  6px -3px rgba(#000, $md-umbra-opacity), 0px  9px 12px 1px rgba(#000, $md-penumbra-opacity), 0px 3px 16px  2px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-10dp: 0px  6px  6px -3px rgba(#000, $md-umbra-opacity), 0px 10px 14px 1px rgba(#000, $md-penumbra-opacity), 0px 4px 18px  3px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-11dp: 0px  6px  7px -4px rgba(#000, $md-umbra-opacity), 0px 11px 15px 1px rgba(#000, $md-penumbra-opacity), 0px 4px 20px  3px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-12dp: 0px  7px  8px -4px rgba(#000, $md-umbra-opacity), 0px 12px 17px 2px rgba(#000, $md-penumbra-opacity), 0px 5px 22px  4px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-13dp: 0px  7px  8px -4px rgba(#000, $md-umbra-opacity), 0px 13px 19px 2px rgba(#000, $md-penumbra-opacity), 0px 5px 24px  4px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-14dp: 0px  7px  9px -4px rgba(#000, $md-umbra-opacity), 0px 14px 21px 2px rgba(#000, $md-penumbra-opacity), 0px 5px 26px  4px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-15dp: 0px  8px  9px -5px rgba(#000, $md-umbra-opacity), 0px 15px 22px 2px rgba(#000, $md-penumbra-opacity), 0px 6px 28px  5px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-16dp: 0px  8px 10px -5px rgba(#000, $md-umbra-opacity), 0px 16px 24px 2px rgba(#000, $md-penumbra-opacity), 0px 6px 30px  5px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-17dp: 0px  8px 11px -5px rgba(#000, $md-umbra-opacity), 0px 17px 26px 2px rgba(#000, $md-penumbra-opacity), 0px 6px 32px  5px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-18dp: 0px  9px 11px -5px rgba(#000, $md-umbra-opacity), 0px 18px 28px 2px rgba(#000, $md-penumbra-opacity), 0px 7px 34px  6px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-19dp: 0px  9px 12px -6px rgba(#000, $md-umbra-opacity), 0px 19px 29px 2px rgba(#000, $md-penumbra-opacity), 0px 7px 36px  6px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-20dp: 0px 10px 13px -6px rgba(#000, $md-umbra-opacity), 0px 20px 31px 3px rgba(#000, $md-penumbra-opacity), 0px 8px 38px  7px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-21dp: 0px 10px 13px -6px rgba(#000, $md-umbra-opacity), 0px 21px 33px 3px rgba(#000, $md-penumbra-opacity), 0px 8px 40px  7px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-22dp: 0px 10px 14px -6px rgba(#000, $md-umbra-opacity), 0px 22px 35px 3px rgba(#000, $md-penumbra-opacity), 0px 8px 42px  7px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-23dp: 0px 11px 14px -7px rgba(#000, $md-umbra-opacity), 0px 23px 36px 3px rgba(#000, $md-penumbra-opacity), 0px 9px 44px  8px rgba(#000, $md-ambient-shadow-opacity);
$md-shadow-24dp: 0px 11px 15px -7px rgba(#000, $md-umbra-opacity), 0px 24px 38px 3px rgba(#000, $md-penumbra-opacity), 0px 9px 46px  8px rgba(#000, $md-ambient-shadow-opacity);


/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


// supplies core styles for typography, colors and general utilities
// along with the basic element definitions

@import 'mixins';

// Fonts
@include font-face('CenturyStd-BookItalic', '#{$local-font-path}/CenturyStd-BookItalic');
@include font-face('CenturyStd-Book', '#{$local-font-path}/CenturyStd-Book');
@include font-face('AvenirLTStd-Heavy', '#{$local-font-path}/AvenirLTStd-Heavy');
@include font-face('AvenirLTStd-Roman', '#{$local-font-path}/AvenirLTStd-Roman');


// Utility

%activeUnderline {
   &:hover, &:focus, &:active {
      text-decoration: underline;
   }
}

// Clearfix by Nicolas Gallagher
%clearfix {
   *zoom: 1;

   &:before {
      content: ' ';
      display: table;
   }

   &:after {
      clear: both;
      content: ' ';
      display: table;
   }
}

// copied from bootstrap for convenience
.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   clip: rect(0,0,0,0);
   border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate
.sr-only-focusable {
   &:active, &:focus {
      position: static;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: auto;
   }
}

// Visually hide an element while keeping it accessible
%visuallyhidden {
   margin: -1px;
   padding: 0;
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   clip: rect(0, 0, 0, 0);
   position: absolute;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable {
   &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
   }
}

/*  General  */
html {
   background-color: $darkBrown;
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

html, body {
   margin: 0;
   height: 100%;
}

body {
   color: $text;
   @extend %AvenirLTStd-Roman;
   @include font-smoothing(on);

   // -webkit-font-smoothing: antialiased;
   // -moz-osx-font-smoothing: grayscale;
   line-height: 1.8;
   position: relative;

   display: flex;
   flex-direction: column;

   > .app-canvas {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      > .content-area {
         display: flex;
         flex-direction: column;
         flex-grow: 1;
      }
   }

   .fill-page {
      position: absolute;
      top: $header-height;
      bottom: 0;
      left: 0;
      right: 0;
   }
}

img, picture {
   max-width: 100%;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

%container {
   margin: 0 auto;
   max-width: $container-max-width;
}

.container {
   @extend %container;
}

h1, h2, h3, h4, h5, h6 {
   color: $lightBrown;
   @extend %CenturyStd-Book;
   line-height: 1.3;
   margin-top: 0;
}

p {
   &:last-child {
      margin-bottom: 0;
   }
}

a {
   color: $lightBrown;
}

h1 {
   @extend %CenturyStd-Book;
   font-size: 1.9em;
   line-height: 1;

   @media only all and (min-width: 40em) {
      font-size: 2.3em;
   }

   @media only all and (min-width: 60em) {
      font-size: 2.7em;
   }

   @media only all and (min-width: 80em) {
      font-size: 3.1em;
   }

   /*
   @media only all and (min-width: 25em) {
      font-size: 2.375em;
   }

   @media only all and (min-width: 30em) {
      font-size: 2.85em;
   }

   @media only all and (min-width: 35em) {
      font-size: 3.325em;
   }

   @media only all and (min-width: 40em) {
      font-size: 3.8em;
   }
   */
}
main, .main {
   background-color: white;
}

/*  Forms - (Generic)  */
form {
   fieldset {
      margin-bottom: 2rem;
   }

   .form-field {
      margin-bottom: 1rem;

      &:last-child {
         margin-bottom: 0;
      }

      label {
         display: block;
      }

      input {
         height: 2.75em;
      }

      input, textarea {
         -webkit-appearance: none;
         border-radius: 0;
         color: #272927;
         display: block;
         padding: 0.5em;
         width: 100%;
      }
   }
}

.submit {
   background-color: $copper;
   border: 0;
   border-radius: 0;
   color: white;
   font-size: 0.8275em;
   letter-spacing: 1px;
   padding: 1em 1.5em;
   text-transform: uppercase;
   transition: background-color 400ms;
}

.submit:hover, .submit:focus, .submit:active {
   background-color: #926439;
}

.page-banner {
   padding: $banner-padding;
   overflow: hidden;

   background-image: url('../assets/images/banners/slider-people.jpg');
   background-size: cover;
   background-position: center center;

   text-align: center;
   color: #fff;

   h1 {
      margin: 0;
      color: inherit;
   }

   .subtitle {
      font-size: 2em;
   }
}

.ui-view-container {
   overflow: hidden;

   > [ui-view] {
      overflow: auto;
   }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
