.site-footer {
  background-color: $darkBrown;
  text-align: center;
  width: 100%;
  z-index: 2;

  .container {
    color: #535353;
    padding: 0;
    width: 100%;

    &.ng-hide {
      animation: slideOutDown 300ms;
    }

    &.ng-hide-remove {
      animation: slideInUp 300ms;
    }

    .content {
      font-size: 0.9em;
      line-height: 1.5em;
      padding: 2em 3em;
      margin: 0 auto;
      max-width: 51em;
    }

    ul.logos {
      list-style: none;
      border-top: 1px solid #272927;
      margin: 0;
      padding: 0 2em 3em;

      li {
        display: inline-block;
        margin: 3em 2em 0;
      }
    }
  }

  &.toggleable {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    > a.toggle {
      display: inline-block;
      position: absolute;
      right: 10%;
      background-color: $darkBrown;
      color: $lightBrown;
      line-height: 1em;
      top: -1.5em;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      text-decoration: none;

      i {
        color: inherit;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
