.section--reader--results {
   h1 small {
      color: $textGrey;
      display: block;
   }

   ol {
      margin: 0;
      padding: 0;
      list-style: none;

      li.result {
         margin-bottom: 1em;

         h3 {
            color: $copper;
            margin: 0;
            font-weight: bold;
            font-size: 1.5em;
            font-family: inherit;

            a {
               color: inherit;
               text-decoration: none;
            }
         }

         .author {
            display: block;
            color: $textGrey;
         }


         p {
            margin: 0.7em 2em;
            font-size: 0.9em;
            line-height: 1.4;
            em {
               background: #f2f277;
               font-style: normal;
            }
         }
      }
   }
}
