{% extends '_base.html.j2' %}

{% block title %}SDA Reader | {{ super() }}{% endblock %}

{% block stylesheets %}
   {{ super() }}
   <link rel="stylesheet" href="{{ baseUrl }}/css/style.css">
{% endblock %}

{% block body %}
   <div class="app"></div>
{% endblock %}

{% block javascripts %}
   {{ super() }}
   <script src="{{ baseUrl }}/js/templates.js"></script>
   <script src="{{ baseUrl }}/js/main.js"></script>
   <script src="{{ baseUrl }}/js/config.js"></script>
   <script>
      require(['main', 'config'], function (app, config) {
         app.initialize('div.app', config);
      });
   </script>
{% endblock %}
