<md-button class="md-icon-button" aria-label="read online" ng-if="$ctrl.copies.length == 1" ui-sref="book-reader({workId: $ctrl.workId, copyId: $ctrl.copies[0].id, editionId: $ctrl.editionId, volumeId: $ctrl.volumeId})">
  <md-icon>book</md-icon>
  <md-tooltip>Read Online</md-tooltip>
</md-button>
<md-menu ng-if="$ctrl.copies.length > 1">
  <md-button class="md-icon-button" aria-label="read online" ng-click="$mdOpenMenu($event)">
    <md-icon>book</md-icon>
    <md-tooltip>Read Online</md-tooltip>
  </md-button>
  <md-menu-content>
    <md-menu-item ng-repeat="book in $ctrl.copies">
      <md-button ui-sref="book-reader({workId: $ctrl.workId, copyId: book.id, editionId: $ctrl.editionId, volumeId: $ctrl.volumeId})">
        <md-icon>book</md-icon>
        {{book.title}}
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
