{
    "env": {
      "amd": true,
      "browser": true
    },
    "rules": {
      "no-multi-spaces": 0,
      "no-underscore-dangle": 0,
      "quotes": 0,
      "strict": 0,
      "no-unused-vars": 1
    }
}
