<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  {% include meta-common.html %}
</head>
<body class="layout-column">
  {% include header.html %}
  <div class="flex-noshrink layout-column">
    <div class="flex-noshrink layout-column">
      {% assign banner = page.banner | default: layout.banner %}
      {% if banner %}
      <div class="page-banner flex-none" style="background-image: url({{ 'assets/images/banners/' | append: banner.image | relative_url }});{% if banner.focus %}background-position: {{ banner.focus.x | times: 100 }}% {{ banner.focus.y | times: 100 }}%;{% endif %}">
          <div class="container">
            {% assign hide_title = page.hide_title | default: layout.hide_title %}
            {% unless hide_title %}
              <h1>{{ page.title }}</h1>
            {% endunless %}
          </div>
        </div>
      {% endif %}
      {{ content }}
    </div>
    {% include footer.html toggle=true %}
  </div>
  {% include scripts-common.html %}
</body>
</html>
