<sda-header md-sidenav-id="left" active-url="/sda/#!/themes"></sda-header>

<div class="page-banner shade" layout="row" layout-align="center">
  <div class="container" flex>
    <h1>SDA Themes</h1>
  </div>
</div>

<div layout="row" layout-align="center" flex>
  <main class="container" layout="row" flex>
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-sm')" layout="column">
      <md-tabs md-stretch-tabs="always" flex>
        <md-tab aria-label="Themes">
          <md-tab-label>
            <md-icon>explore</md-icon>
            <md-tooltip>Themes</md-tooltip>
          </md-tab-label>
          <md-tab-body>
            <div layout="column">
              <!--
                <div layout="row" flex="none">
                  <md-input-container flex>
                    <label>Search articles</label>
                    <md-icon>search</md-icon>
                    <input type="search" ng-model="query" ng-model-options="{debounce: 500}" ng-change="vm.search(query)">
                  </md-input-container>
                </div>
              -->
              <div class="collections" flex>
                <tree-categorization scope-id="sda" scheme="overviews" active-ref-id="vm.articleId" on-click-node="vm.openArticlePreview(ref.id)"></tree-categorization>
              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab aria-label="Book Reviews">
          <md-tab-label>
            <md-icon>book</md-icon>
            <md-tooltip>Book Reviews</md-tooltip>
          </md-tab-label>
          <md-tab-body>
            Coming soon...
          </md-tab-body>
        </md-tab>
        <md-tab aria-label="Biographies">
          <md-tab-label>
            <md-icon>person</md-icon>
            <md-tooltip>Biographies</md-tooltip>
          </md-tab-label>
          <md-tab-body>
            Coming soon...
          </md-tab-body>
        </md-tab>
        <md-tab aria-label="Research Articles">
          <md-tab-label>
            <md-icon>school</md-icon>
            <md-tooltip>Research Articles</md-tooltip>
          </md-tab-label>
          <md-tab-body>
            Coming soon...
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-sidenav>
    <div layout="column" flex ui-view>
      <div ng-if="vm.loading" flex layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <div ng-if="!vm.loading && vm.queryResult">
         <h1>Search Results <small ng-if="vm.queryResult.query.q">"{{vm.queryResult.query.q}}"</small></h1>

         <p ng-if="vm.queryResult.query">
            Showing {{vm.queryResult.query.totalResults == 0 ? 0 : vm.queryResult.query.offset+1}}&ndash;{{vm.queryResult.query.offset + vm.queryResult.articles.length}} of {{vm.queryResult.query.totalResults}}
         </p>

         <nav class="pagination" ng-if="vm.queryResult.query.numPages > 1">
            <a href="" ng-click="vm.displayFirstPage()" ng-if="vm.queryResult.query.first">
               <i class="fa fa-angle-double-left"></i>
               <span class="sr-only">First</span>
            </a>
            <a href="" ng-click="vm.displayPrevPage()" ng-if="vm.queryResult.query.previous">
               <i class="fa fa-angle-left"></i>
               <span class="sr-only">Previous</span>
            </a>
            <span>{{vm.queryResult.query.pg}}</span>
            <a href="" ng-click="vm.displayNextPage()" ng-if="vm.queryResult.query.next">
               <span class="sr-only">Next</span>
               <i class="fa fa-angle-right"></i>
            </a>
            <a href="" ng-click="vm.displayLastPage()" ng-if="vm.queryResult.query.last">
               <span class="sr-only">Last</span>
               <i class="fa fa-angle-double-right"></i>
            </a>
         </nav>

         <ol ng-if="vm.queryResult.articles">
            <li class="result" ng-repeat="result in vm.queryResult.articles">
               <h3><a ui-sref="sda.reader.article({id: result.id})">{{result.title}}</a></h3>
               <span class="author" ng-repeat="author in result.authors">{{author.name}}, {{author.affiliation}}</span>
               <p ng-bind-html="result.absHL"></p>
               <p ng-bind-html="result.contentHL"></p>
            </li>
         </ol>
         <div ng-if="!vm.queryResult.articles">No results</div>

         <nav class="pagination" ng-if="vm.queryResult.query.numPages > 1">
            <a href="" ng-click="vm.displayFirstPage()" ng-if="vm.queryResult.query.first">
               <i class="fa fa-angle-double-left"></i>
               <span class="sr-only">First</span>
            </a>
            <a href="" ng-click="vm.displayPrevPage()" ng-if="vm.queryResult.query.previous">
               <i class="fa fa-angle-left"></i>
               <span class="sr-only">Previous</span>
            </a>
            <span>{{vm.queryResult.query.pg}}</span>
            <a href="" ng-click="vm.displayNextPage()" ng-if="vm.queryResult.query.next">
               <span class="sr-only">Next</span>
               <i class="fa fa-angle-right"></i>
            </a>
            <a href="" ng-click="vm.displayLastPage()" ng-if="vm.queryResult.query.last">
               <span class="sr-only">Last</span>
               <i class="fa fa-angle-double-right"></i>
            </a>
         </nav>
      </div>
      <md-content layout="column" flex ng-if="!vm.queryResult">
        <div layout="row" layout-padding layout-margin flex>
          <section flex="66">
            <h1 class="md-display-1">SDA Reader</h1>
            <p>
              The SDA Reader contains articles that provide an encyclopedic survey of contemporary research issues in the field and provide critical reflection on select works and people documented in the historical collection. Following the genre of print-based introductory readers widely used within philosophy, theology and Humanities disciplines, the SDA reader provides a starting point those who want an introduction to specific topics and directions for further research.
            </p>

            <p>The SDA Reader contains four main categories of content.</p>

            <ul class="list-style-type:none;">
              <li><p><em>Thematic Overviews</em> provide a systematic survey of key concepts in the field of SDA. Each overview article introduces a key topic and provides references to both the primary source material and the research literature for those who wish to explore the issue in more depth.</p></li>

              <li><p><em>Research Articles</em> provide scholarly treatment of specific topics. These are of a length, quality, and scope associated with peer-reviewed journal articles and exceptional conference presentations.</p></li>

              <li><p><em>Book Reviews</em> offer a critical review of a book within the digital library. Reviews go beyond the summary information that accompanies each work to offer a critical assesment of the book's scholarly merit and impact as well as its relevance to contemporary research.</p></li>

              <li><p><em>Biographies</em> describe the professional and personal life of influential people documented in the digital library. These research articles serve to contextualize the books written by these individuals and assess their overall impact on the development of thought on this topic.</p></li>
            </ul>
          </section>
          <aside flex="33">
            <h2>Perspectives on SDA</h2>
            <ul style="list-style-type:none;">
              <li><a href="/about/perspectives/philosophers">Philosophers</a></li>
              <li><a href="/about/perspectives/theologians">Theologians</a></li>
              <li><a href="/about/perspectives/scientists">Scientists</a></li>
              <li><a href="/about/perspectives/historians">Historians</a></li>
              <li><a href="/about/perspectives/psychologists">Psychologists</a></li>
              <li><a href="/about/perspectives/literary">Literary Scholars</a></li>
              <li><a href="/about/perspectives/scripture">Scripture Scholars</a></li>
              <li><a href="/about/perspectives/atheists">Atheists</a></li>
              <li><a href="/about/perspectives/ministers">Ministers</a></li>
              <li><a href="/about/perspectives/artists">Artists</a></li>
              <li><a href="/about/perspectives/teachers">Teachers</a></li>
              <li><a href="/about/perspectives/anyone">Anyone</a></li>
            </ul>
            <!--
            <h2>Concept Map</h2>
            <div class="cmap-container">
              <a href=""><img src="//placehold.it/200x200" /></a>
            </div>
            -->
          </aside>
        </div>
      </md-content>
    </div>
  </main>
</div>
