// AVENIR LT STD

@font-face {
    font-family: 'AvenirLTStd';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AvenirLTStd-Roman.eot');
    src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirLTStd';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/AvenirLTStd-Heavy.eot');
    src: url('../fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Heavy.woff') format('woff'),
        url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype');
}



// CENTURY STD

@font-face {
    font-family: 'CenturyStd';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CenturyStd-Book.eot');
    src: url('../fonts/CenturyStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyStd-Book.woff') format('woff'),
        url('../fonts/CenturyStd-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'CenturyStd';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/CenturyStd-BookItalic.eot');
    src: url('../fonts/CenturyStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyStd-BookItalic.woff') format('woff'),
        url('../fonts/CenturyStd-BookItalic.ttf') format('truetype');
}
