$screen-small: 40em;
$screen-large: 60em;

.banner {
   background-image: url('../images/slider-people.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   color: #fff;
   padding: 3em 0;
   text-align: center;

   @media (min-width: $screen-small) {
      padding: 6em 0;
   }

   @media (min-width: $screen-large) {
      padding: 9em 0;
   }

   h1 {
      color: inherit;
      font-size: 1.3em;
      text-shadow: 0 0 4px #000;

      @media (min-width: $screen-small) {
         font-size: 1.7em;
      }

      @media (min-width: $screen-large) {
         font-size: 2.1em;
      }
   }
}

.article-results {
   .article-result {
      clear: right;
   }
}

.categories.tiles {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;

   > div {
      width: 45%;
   }
}
