.section--reader {
   h2 {
      color: $textGrey;
   }
   > .container {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $screen-md-min) {
         flex-direction: row;
      }

      section {
         padding: 2rem 1rem;

         @media screen and (min-width: $screen-sm-min) {
            padding: 2rem 3rem;
         }

         @media screen and (min-width: $screen-md-min) {
            padding: 2rem 1rem;
         }

         @media screen and (min-width: $screen-lg-min) {
            padding: 2rem;
         }
      }

      > .sidebar {
         flex: 1;

         form {
            padding: 2rem;

            .input-group {
               display: flex;
               flex-direction: row;

               input {
                  flex-grow: 1;
                  height: 2.5rem;
                  padding: 0.5rem;
                  border: 1px solid #999;
                  border-right: 0;
                  border-top-left-radius: 5px;
                  border-bottom-left-radius: 5px;
                  font-family: inherit;
                  font-size: inherit;
                  min-width: 2.5rem;

                  &:focus {
                     border-color: $copper
                  }
               }

               button {
                  height: 2.5rem;
                  min-width: 2.5rem;
                  background: $copper;
                  border: 1px solid $copper;
                  color: $cream;
                  border-top-right-radius: 5px;
                  border-bottom-right-radius: 5px;
                  cursor: pointer;
                  transition: all 0.2s;

                  &:hover, &:focus {
                     background: lighten($copper, 5%);
                  }

                  &::-moz-focus-inner {
                     border: 0;
                  }

                  &:active {
                     background: darken($copper, 5%);
                     box-shadow: inset 0 1px 5px rgba(0,0,0,0.3);
                  }
               }
            }

            .checkbox-list {
               margin: 2rem 0;

               label {
                  display: block;
                  cursor: pointer;
               }
            }
         }
      }

      .content {
         flex: 2;

         @media screen and (min-width: $screen-lg-min) {
            flex: 3;
         }

         .landing {
            .blocks {
               display: flex;
               flex-direction: row;
               flex-wrap: wrap;

               margin: 0 -1rem;
               // font-size: 0.9em;
               line-height: 1.5;

               .block {
                  flex-grow: 1;
                  padding: 1rem;

                  @media screen and (min-width: $screen-md-min) {
                     max-width: 50%;
                  }

                  p {
                     margin: 0.5rem 0;
                  }

                  .read-more {
                     float: right;
                     text-decoration: none;
                  }
               }
            }
         }
      }

      .tools {
         margin: 0;
         padding: 0;
         list-style: none;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;

         li {
            max-width: 50%;
            min-width: 250px;
            padding: 1rem;
         }

         img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
         }
      }
   }
}
