<div class="page-banner">
   <div class="container">
      <h1>Science and Personal Action: Human and Divine</h1>
      <span class="subtitle">SDA Conference 2014</span>
   </div>
</div>

<main class="section--conference">
   <section class="time-location">
      <div class="container">
         <div>
            <h3>When</h3>
            <div>Sunday, July 13, 2014 &ndash; Thursday, July 16, 2014</div>
            <div>Starting at 2pm</div>
         </div>
         <div>
            <h3>Where</h3>
            <div>Oxford, United Kingdom</div>
            <div>St. Anne's College</div>
         </div>
      </div>
   </section>

   <nav class="toc">
      <div class="container">
         <ul>
            <li><a href="#overview" du-smooth-scroll offset="{{vm.scrollOffset}}">Overview</a></li>
            <li><a href="#callforpapers" du-smooth-scroll offset="{{vm.scrollOffset}}">Call for Papers</a></li>
            <li><a href="#venue" du-smooth-scroll offset="{{vm.scrollOffset}}">The Venue</a></li>
            <li><a href="#registration" du-smooth-scroll offset="{{vm.scrollOffset}}">Registration</a></li>
            <li><a href="#keynotes" du-smooth-scroll offset="{{vm.scrollOffset}}">Keynotes</a></li>
            <li><a href="#schedule" du-smooth-scroll offset="{{vm.scrollOffset}}">Schedule</a></li>
            <li><a href="#shortpapers" du-smooth-scroll offset="{{vm.scrollOffset}}">Short Papers</a></li>
         </ul>
      </div>
   </nav>

   <section id="overview">
      <div class="container">
         <h2>Overview</h2>
         <p>
            How can personal action be located within contemporary scientific models, theories and laws? Is personal action, like intentionally catching a falling stone, ‘special’ or different in kind from other actions in the world? Is personal action reducible to being machine-like or animal-like? How does personal action relate to information theory? Can personal action be efficacious with or without the kinds of interactions usually described by physics? Which other sciences are best suited to describing personal action and what models should they use?
         </p>
         <p>
            Besides their importance for human self-understanding, such questions are relevant to accounts of how God might act in the world, to the extent that God is conceived of as a personal agent. Is it possible to identify some similar challenges, possibilities and limitations for human and purported divine personal action? How can theological insights into personal action, human and divine, inform contemporary research? What can theology learn from accounts of personal action in the sciences and other fields? Does contemporary science offer new ways of depicting the traditional categories of special divine action: inspiration, grace, miracles, and providence?
         </p>
         <p>
            The conference "Science and Personal Action: Human and Divine" will bring experts together, from fields including anthropology, biology, philosophy, physics, psychology and theology, to present and debate the implications of recent research into these and similar questions.
         </p>
      </div>
   </section>

   <section id="callforpapers" class="shade">
      <div class="container">
         <h2>Call for Papers</h2>
         <p>The Call for Papers is currently closed.</p>
      </div>
   </section>

   <section id="venue">
      <div class="container">
         <h2>The Venue</h2>
         <p>
            The conference will be held St. Anne’s College, University of Oxford. Check out information about the <a href="#venue-facilities" du-smooth-scroll offset="{{vm.scrollOffset}}">facilities at St. Anne's</a> as well as additional <a href="#venue-otherinfo" du-smooth-scroll offset="{{vm.scrollOffset}}">information and policies</a> for your stay.
         </p>
      </div>
      <div class="map">
         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2469.4288944674486!2d-1.26173!3d51.761765999999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c41660efc1bf%3A0xfdd5c994a406480!2sSaint+Anne's+College!5e0!3m2!1sen!2sus!4v1419011990933" style="border:0" frameborder="0" height="450" width="600"></iframe>
      </div>
      <div class="container">
         <div class="cols">
            <div>
               <p>
                  <address>
                     St. Anne's College, Oxford<br>
                     56 Woodstock Rd., Oxford OX2 6HS, United Kingdom
                  </address>
                  +44 1865 274800<br>
                  <a href="http://www.st-annes.ox.ac.uk/home">http://www.st-annes.ox.ac.uk/home</a>
               </p>
            </div>
            <div>
               <p>
                  If you have any questions or comments please contact:<br>
                  Martin Jackson: 01865 274890<br>
                  Lisa Simmons: 01865 612318<br>
                  Lucia Santi-Exley: 01865 284968
               </p>
            </div>
         </div>

         <h3>Local Attractions</h3>

         <div class="cols">
            <div>
               <h4>Pubs and Restaurants</h4>
               <p>
                  List of pubs, restaurants and other tourist facilities in Oxford can be found at:
               </p>
               <ul>
                  <li><a href="http://www.oxfordcityguide.com">www.oxfordcityguide.com</a></li>
                  <li><a href="http://www.oxfordpubguide.co.uk">www.oxfordpubguide.co.uk</a></li>
               </ul>
               <p>
                  The <a href="http://www.theroyaloakoxford.co.uk">Royal Oak pub</a> is the closest to St Anne’s college at 42-44 Woodstock Road, Oxford, OX2 6HT. The Eagle and Child (49 St Giles) is a little further into town and is famous as a meeting place of the Inklings group, including J. R. R. Tolkien and C. S. Lewis.
               </p>
            </div>
            <div>
               <h4>Religious Worship</h4>
               <p>
                  Oxford has numerous places of religious worship and, in particular, has a great many historic Anglican and Catholic churches and chapels. For further information and a list of religious services, please contact the IRC Administrator.
               </p>
            </div>
         </div>
      </div>
   </section>

   <section id="registration" class="shade">
      <div class="container">
         <h2>Registration</h2>
         <p>
            Registration is currently closed.
         </p>
      </div>
   </section>

   <section id="keynotes">
      <div class="container">
         <h2>Keynotes</h2>
         <div class="schedule">
            <div class="schedule-day" ng-repeat="day in vm.keynotes">
               <h3>{{day.date.format('dddd, D MMMM, YYYY')}}</h3>
               <div class="schedule-segment" ng-repeat="segment in day.segments">
                  <div class="time">{{segment.time.format('h:mma')}}</div>
                  <div class="events">
                     <div class="event" ng-repeat="event in segment.events">
                        <img ng-src="{{event.image}}" ng-if="event.image" >
                        <div class="details">
                           <h4>
                              <a href="{{event.link}}" ng-if="event.link">{{event.title}}</a>
                              <span ng-if="!event.link">{{event.title}}</span>
                           </h4>
                           <div class="speaker" ng-if="event.speaker">{{event.speaker}}</div>
                           <div class="description" ng-if="event.description">{{event.description}}</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section id="schedule" class="border-top">
      <div class="container">
         <h2>Schedule</h2>
      </div>
   </section>

   <section id="shortpapers" class="border-top">
      <div class="container">
         <h2>Short Papers</h2>
      </div>
   </section>

   <section id="venue-facilities" class="shade">
      <div class="container">
         <h2>Facilities at St Anne’s College</h2>

         <h3>Access to the Internet</h3>
         <p>
            Wireless networks are available in meeting spaces and bedrooms.
         </p>
         <p>
            For internet access, St Anne’s College suggests <a href="http://www.oucs.ox.ac.uk/network/wireless/services/eduroam/">Eduroam</a> for members of all Universities and <a href="http://www.oucs.ox.ac.uk/network/wireless/services/owl/vpn/">OUCS OWL</a> for members of University of Oxford in particular.
         </p>
         <p>
            For those attending who are not able to use either of these links St Anne’s can provide access codes for each individual delegate via OWL visitor.
         </p>
         <h3>Other Enquiries and Emergencies</h3>
         <p>
            Please contact the St Anne’s College Lodge if you have any other enquiries, if there is an emergency or you see something suspicious.
         </p>
         <p>
            The Lodge telephone number is 01865 274800.
         </p>
      </div>
   </section>

   <section id="venue-otherinfo" class="shade border-top">
      <div class="container">
         <h2>Other Information from St Anne’s College</h2>
         <p>
            St Anne’s has a "no smoking indoors" policy and asks that everyone smokes only at the fourteen designated points on the site plan shown on the back of this handbook.
         </p>
         <ol>
            <li>There is a no cycling policy within College for Health and Safety reasons.</li>
            <li>Please park all cycles in the area adjacent to the Banbury Road.</li>
            <li>The college asks that everyone is quiet between midnight and 08.00 am.</li>
            <li>In the event of a fire alarm, please go to the Fire Assembly Points shown on the attached plan.</li>
            <li>Fire procedure detail and a site map showing fire assembly points are on the back on each bedroom door.</li>
            <li>Please follow the instructions of Lodge Porters in the event of a fire or emergency.</li>
            <li>Please contact the Lodge if you have any emergency or see something suspicious (the Lodge number is 01865 274800).</li>
            <li>The college recommends that you lock your bedroom door at all times.</li>
            <li>Please do not divulge entry door codes to anyone you do not know.</li>
            <li>Check-in is at the Porters’ Lodge from 13.00 hrs.</li>
            <li>Please vacate your room by 10.00 am on your last day in College. Secure storage is available at the Lodge.</li>
            <li>Please return your keys on departure.</li>
         </ol>
         <p>
            St Anne's is an historic campus that has natural hazards. There are control measures in place but all risks cannot be eliminated. Visitors are respectfully reminded of their responsibility to take care of themselves throughout their visit.
         </p>
      </div>
   </section>

</main>
