<section class="article-preview content layout-padding">
   <article ng-if="vm.article">
      <section class="meta">
         <h1>{{vm.article.title}}</h1>
         <p class="author-info" ng-if="vm.article.authors && vm.article.authors.length > 0">
            by
            <span class="author" ng-repeat="author in vm.article.authors">
               <a ng-if="author.contact.email" href="mailto:{{author.contact.email}}">{{author.name}}</a>
               <span ng-if="!author.contact.email">{{author.name}}</span>
            </span>
         </p>
      </section>

      <section class="abstract" ng-if="vm.article.abstract">
         <h2>Summary</h2>
         <div ng-bind-html="vm.article.abstract"></div>
      </section>

      <nav>
         <ul>
            <li>
               <a ui-sref="sda.reader.article({id: vm.article.id})" class="read-more">
                  <span>Read Full Article</span>
                  <i class="fa fa-angle-double-right"></i>
               </a>
            </li>
         </ul>
      </nav>

   </article>
</section>
