<header>
   <a href="#">
      <img class="site-logo" src="images/sda-logo-light.png" alt="SDA">
   </a>

   {#
   <form action="#" class="search">
      <div class="form-group">
         <label for="search" class="sr-only">Search site</label>
         <div class="input-group">
            <input type="search" id="search" class="form-control" placeholder="search site">
            <span class="input-group-btn">
               <button class="btn submit" type="submit">Search</button>
            </span>
         </div>
      </div>
   </form>
   #}
</header>

<main class="twocol">
   <aside></aside>
   <article></article>
</main>

<footer class="toggleable">
   <a class="toggle" href="#">Toggle Footer</a>
   <div class="container">
      <div class="content">
         <p>
            The Special Divine Action project is hosted by Oxford University’s Bodleian Library. Please see the
            University’s standard policies on <a href="http://www.ox.ac.uk/copyright.html" target="_blank">Copyright</a>,
            <a href="http://www.admin.ox.ac.uk/dataprotection/privacypolicy" target="_blank">Privacy</a> and
            <a href="http://www.admin.ox.ac.uk/dataprotection/cookies" target="_blank">Cookies</a>.
            As the project grows and adds more content, we will provide more detail specific to the Special Divine Action Project.
         </p>
      </div>
      <ul class="logos">
          <li><img src="images/footer-logo-irc.png" alt=""></li>
          <li><img src="images/footer-logo-bodleian-libraries.png" alt=""></li>
          <li><img src="images/footer-logo-tees.png" alt=""></li>
          <li><img src="images/footer-logo-wmu.png" alt=""></li>
          <li><img src="images/footer-logo-jtf.png" alt=""></li>
      </ul>
   </div>
</footer>
