<a class="toggle" href="" ng-if="toggleable" ng-click="vm.toggleFooter()" title="Toggle Footer">
   <i class="fa fa-angle-double-{{vm.isFooterShown ? 'down' : 'up'}}"></i>
   <span class="sr-only">Toggle Footer</span>
</a>
<div class="container" ng-show="vm.isFooterShown">
   <div class="content">
      <p>
         The Special Divine Action project is hosted by Oxford University’s Bodleian Library. Please see the
         University’s standard policies on <a href="http://www.ox.ac.uk/copyright.html" target="_blank">Copyright</a>,
         <a href="http://www.admin.ox.ac.uk/dataprotection/privacypolicy" target="_blank">Privacy</a> and
         <a href="http://www.admin.ox.ac.uk/dataprotection/cookies" target="_blank">Cookies</a>.
         As the project grows and adds more content, we will provide more detail specific to the Special Divine Action Project.
      </p>
   </div>
   <ul class="logos">
       <li><img src="assets/images/footer-logo-irc.png" alt=""></li>
       <li><img src="assets/images/footer-logo-bodleian-libraries.png" alt=""></li>
       <li><img src="assets/images/footer-logo-tees.png" alt=""></li>
       <li><img src="assets/images/footer-logo-wmu.png" alt=""></li>
       <li><img src="assets/images/footer-logo-jtf.png" alt=""></li>
   </ul>
</div>
