---
layout: page-2col

title: 'Big Questions : Richard Swinburne'
permalink: /media/big-questions/swinburne/
sidebar: media/sidebar.html
banner: slider-empty-tomb.jpg
---
<ul class="media-list">
  {% assign posts = site.posts | reverse %}
  {% for video in posts %}
    {% if video.categories contains '02-big-questions' and video.categories contains 'swinburne' %}
      <li>
        <a href="{{ video.url }}">
          <h3 class="media-title">{{ video.title }}</h3>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
