---
layout: page-2col

title: 'Media Centre : Big Questions'
permalink: /media/big-questions/
sidebar: media/sidebar.html
banner: slider-empty-tomb.jpg
---
<p>
  Scholars discuss the impact and relevance of Special Divine Action on their
  field of study. Listen to short videos from philosophers, theologians, historians, physicists, humanists, atheists, ethicists
  <ul class="media-list">
  <table>
  {% assign posts = site.posts | reverse %}
  {% for video in posts %}
    {% if video.categories contains 'media' and video.categories contains '02-big-questions' %}
      <li>
        <a href="{{ video.url }}">
            <tr><td><h3 class="media-title">{{ video.title }}</h3></td>

          {% if video.speakers %}
            <td>
            <span class="media-speakers">
              {% for speaker in video.speakers %}
                <span class="media-speaker">{{ speaker }}</span>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </span>
            </td>
          {% endif %}
          </tr>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</table>
</ul>
