<div class="panel-edition" flex layout="column">
  <h1>
    <span class="panel-label">
      <span class="authors">
        <span class="author" ng-repeat="author in edition.authors">
          {{author.lastName}}.
        </span>
      </span>
      <span class="title">{{title.title}}<span ng-if="title.subtitle">: {{title.subtitle}}</span>.</span>
      <span class="edition-name">{{edition.editionName}}.</span>
    </span>
  </h1>
  <md-tabs flex>
    <md-tab ng-if="edition.summary">
      <md-tab-label>
        <md-icon>subject</md-icon>
      </md-tab-label>
      <md-tab-body>
        <div class="summary" ng-bind-html="edition.summary"></div>
      </md-tab-body>
    </md-tab>
    <md-tab ng-if="edition.volumes.length > 0">
      <md-tab-label>
        <md-icon>content_copy</md-icon>
      </md-tab-label>
      <md-tab-body>
        <md-list>
          <md-list-item
              ng-repeat="item in edition.volumes"
              jqyoui-draggable="{animate:false}"
              data-jqyoui-options="{revert:'invalid',helper:'clone',appendTo:'body'}"
              data-drag="true">
            <div class="md-list-item-text">
              Volume {{item.volumeNumber}} ({{item.publicationInfo.date.description}})
            </div>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
    <md-tab ng-if="edition.copies.length > 0">
      <md-tab-label>
        <md-icon>book</md-icon>
      </md-tab-label>
      <md-tab-body>
        <md-list>
          <md-list-item
              ng-repeat="item in edition.copies"
              jqyoui-draggable="{animate:false}"
              data-jqyoui-options="{revert:'invalid',helper:'clone',appendTo:'body'}"
              data-drag="true">
            <div class="md-list-item-text">
              {{item.title}}
            </div>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
