.panel {
  @each $type in work, edition, volume {
    .panel-#{$type} {
      h1 {
        padding: 0;
        margin: 0;
        font-size: 1.5em;

        .panel-label {
          display: inline-block;
          padding: 0.5rem
        }
      }

      .title {
        font-style: italic;
      }

      .summary {
        padding: 0.5rem;
      }
    }
  }
}
